/*+clearfix {*/
UL#allbrands UL:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
UL#allbrands UL
{
	display: inline-block;
}
UL#allbrands UL
{
/*\*/
	display: block;
/**/
	_height: 1px;
}
/*+}*/
#catalog_menu UL LI
{
	display: block;
	position: relative;
}
.feature_values UL LI
{
	display: inline-block;
	padding: 3px;
}
.feature_values UL LI INPUT
{
	vertical-align: middle;
}
#catalog_menu .OPEN
{
	background: url(../images/categories_minus.gif) no-repeat 3px 3px;
	width: 15px !important;
	height: 15px !important;
	display: block;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}
#catalog_menu .CLOSE
{
	background: url(../images/categories_plus.gif) no-repeat 3px 3px;
	width: 15px !important;
	height: 15px !important;
	display: block;
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 5px;
}
#data
{
	max-height: 600px;
	background-color: #FFF !important;
	padding: 10px 5px 20px;
	text-align: center;
	overflow-y: auto !important;
	overflow-x: visible !important;
	min-width: 600px;
}
.tiny_products .product .annotation
{
	display: none;
}
.comment_form
{
	width: 96%;
	padding: 10px;
	margin: 0;
	border: 0;
	background-color: transparent;
}
UL.comment_list UL
{
	margin-left: 30px;
}
UL.comment_list LI
{
	padding-bottom: 5px;
}
UL.comment_list LI.admin
{
	border: 1px solid #DFDFDF;
	padding: 5px;
	background-color: #F2F2F2;
}
.checkout A.button
{
	float: none;
}
.checkout
{
	margin-top: 20px;
}
#data TABLE
{
	width: 100% !important;
	text-align: left;
	margin: 20 auto;
}
#data TABLE TR
{
	border-top: 1px solid #D5D5D5;
	height: 70px;
}
#data TABLE TD.quantity
{
	padding: 5px;
	font-weight: bold;
}
.remove_cart
{
	height: 16px;
	width: 16px;
	border: 0 none #000000;
	background: url(../images/delete.png) no-repeat;
	text-indent: -9999em;
	cursor: pointer;
}
UL#footer_menu
{
	list-style: none;
}
.sort UL
{
	float: right;
	list-style: none;
}
.sort UL LI
{
	width: 25px;
	height: 24px;
	float: left;
	background-image: url(../images/product_view.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.sort UL LI+LI
{
	margin: 0 0 0 10px;
}
.sort UL LI#product_view_grid
{
	background-position: 0 0;
}
.sort UL LI#product_view_grid.current
{
	background-position: 0 -24px;
	cursor: default;
}
.sort UL LI#product_view_list
{
	background-position: 0 -48px;
}
.sort UL LI#product_view_list.current
{
	background-position: 0 -72px;
	cursor: default;
}
UL#footer_menu LI
{
	display: inline;
	margin: 0 5px;
}
A.more
{
	float: right;
	margin-top: 10px;
}
.icons
{
	position: absolute !important;
	line-height: normal;
	margin: -20px 0 0 -20px;
	width: 74px;
}
.rater>SPAN
{
	vertical-align: top;
}
.rater-rating
{
	margin-left: 0.8em;
}
.rater-starsOff, .rater-starsOn
{
	display: inline-block;
	height: 16px;
	background: url(../images/rating.gif) repeat-x 0 0px;
}
.rater-starsOn
{
	display: block;
	max-width: 80px;
	top: 0;
	background-position: 0 -16px;
}
.rater-starsHover
{
	background-position: 0 -32px !important;
}
#product_params
{
}
#product_params .product .image
{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	float: none;
}
#product_params .product .image IMG
{
	margin: 0 auto;
}
#product_params TD
{
	width: 20%;
	text-align: center;
	padding: 5px;
}
#product_params TR.bord
{
	border-top: 1px solid #AFAFAF;
	border-bottom: 1px solid #AFAFAF;
}
#product_params TR.bord TD
{
	border-left: 1px solid #F4F4F4;
	border-right: 1px solid #F4F4F4;
}
#product_params TR.gray
{
	background-color: #DFDFDF;
}
#product_params TD.feat
{
	text-align: left;
}
#product_params .variants TD
{
	width: auto;
}
.clear
{
	clear: both;
}
UL#allbrands
{
	list-style: none;
}
UL#allbrands LI SPAN
{
	font-weight: bold;
	font-size: 16px;
	line-height: 25px;
}
/*[clearfix]*/UL#allbrands UL
{
	list-style: none;
	clear: both;
	width: 100% !important;
	display: block !important;
}
UL#allbrands UL LI
{
	width: 33%;
	display: inline-block;
	line-height: 20px;
	margin-bottom: 5px;
}
.section
{
	margin: 0 0 30px;
}
UL.tabs
{
	height: 28px;
	line-height: 25px;
	list-style: none;
	border-bottom: 1px solid #DDD;
}
.tabs LI
{
	float: left;
	display: inline;
	margin: 0 1px -1px 0;
	padding: 0 13px 1px;
	color: #777;
	cursor: pointer;
	background: #F9F9F9;
	border: 1px solid #E4E4E4;
	border-bottom: 1px solid #F9F9F9;
	position: relative;
}
.tabs LI:hover
{
	color: #F70;
	padding: 0 13px;
	background: #FFFFDF;
	border: 1px solid #FFCA95;
}
.tabs LI.current
{
	color: #444;
	background: #EFEFEF;
	padding: 0 13px 2px;
	border: 1px solid #D4D4D4;
	border-bottom: 1px solid #EFEFEF;
}
.box
{
	display: none;
	border: 1px solid #D4D4D4;
	border-width: 0 1px 1px;
	background: #EFEFEF;
	padding: 10px;
}
.box.visible
{
	display: block;
}
#uLogin
{
	display: inline-block;
	vertical-align: middle;
}
