/* это правила оформления. К скрипту отношения не имеют */
form #price {
	width: 250px;
	position: relative;
	margin: 20px;

}

.formCost {
	float: left;
	margin-bottom: 10px;
}
.formCost label {
	float: left;
	font-size: 12px;
	color: #E40000;
	font-weight: bold;
	margin-right: 5px;
	position: relative;
	top: 2px;
}
.formCost input {
	float: left;
	text-align: right;
	color: #434343;
	font-size: 12px;
	font-weight: bold;
	width: 55px;
	height: 17px;
	background: none;
	border: 1px solid #E5E5E5;
	margin-right: 10px;
}

.sliderCont {
	width: 628px;
	height: 27px;
	float: left;
}		

/* А это правила для скрипта:  */
#slider {
	width: 650px;
  margin: 5px;
}

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 13px;
	height: 13px;
	background: url(../images/slider.png) no-repeat;
	cursor: pointer
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
}
.ui-slider-horizontal {
	 height: 3px;
}
.ui-slider-horizontal .ui-slider-handle { 
	top: -5px;
	margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
.ui-widget-content { 
	border: 1px solid #D4D4D4;
	background: #fff;
}
.ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #F00;
}
.ui-corner-all {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

