#filter{margin:20px 0;border:2px solid #FDCF42}
#filter h3{font-size:17px;margin-left:10px;}
#filter .res{padding:3px 0px;text-align:center;border-bottom:1px solid #FDCF42}
#filter .res2{padding:3px 0px;text-align:center}
#filter .res a, #filter .res2 a{text-decoration: none;color:#999}
#filter .res a:hover, #filter .res2 a:hover{color:#333}
#filter .price_filter{border-bottom:1px solid #FDCF42;padding-bottom:10px}
#filter form ul{border-bottom:1px solid #FDCF42;padding:10px 5px}
#filter form ul h3{margin-left:5px}
#filter form li{/*position: relative*/}
#filter form li.disabled{color:#7A7A7A;text-decoration:line-through}
#filter form li.disabled  label i:hover{text-decoration:none}
#filter form li.disabled  label{cursor:default}
#filter form li.disabled  label i{display:none}
#filter form li label {}
#filter form li:not(.disabled) label i:hover, #filter form li:not(.disabled) label span:hover{/*text-decoration:underline;*/cursor:pointer}
#filter form li label i{color:#7A7A7A;font-style:normal}
input#min_price, input#max_price{font-size:14px;text-align:center;width:3.8em}
.price_slider{/*width:240px;position:relative*/}
.input_price{margin-top:10px;margin-left:10px}
.ui-slider{height:4px;position:relative;text-align:left;margin:20px 19px 10px 19px}
.ui-widget-content{border:1px solid #aaa;background:url(../images/ui-widget-content.gif)}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:17px;height:18px;cursor:default;top:-5px}
.ui-slider .ui-state-left, .ui-slider .ui-state-right{width:9px;height:23px;z-index:102}
.ui-slider .ui-state-left{background:url(../images/ui-state-left.png) no-repeat;margin-left:-8px}
.ui-slider .ui-state-right{background:url(../images/ui-state-right.png) no-repeat;margin-right:-8px}
.ui-slider .ui-slider-range{position:absolute;z-index:1;display:block;border:0}
.ui-widget-header{background:url(../images/ui-widget-header.gif);overflow:hidden}
.ui-slider-handle{
/*	border-radius: 50%;
	 -moz-border-radius:50%;
	 -webkit-border-radius:50%;
	 -khtml-border-radius:50%;
	width: 16px;
	height: 16px;
	background: #E0E0E0;
*/
}
.ui-slider-mark-c {
	position: absolute;
	top: -6px;
	width: 1px;
	height: 10px;
	background: #000;
	margin-left: 0;
	font-size: 1px;
}
.ui-slider .ui-slider-range.ui-widget-header-bar {
	background: url(../images/ui-widget-header-activ.gif);
	z-index:100;
}
.ui-slider .ui-slider-range.ui-widget-header-left{
	z-index:101;
	width:0px;
	background: url(../images/ui-widget-header-pre-activ.gif);
}
.ui-slider .ui-slider-range.ui-widget-header-right{
	z-index:101;
	width:0px;
	background: url(../images/ui-widget-header-pre-activ.gif);
}
.ui-widget-header-hidden {
	display: none!important;
}
.popover {
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 1010;
  display: none;
  width: 100px;
  padding: 1px;
  font-size: 11px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.popover {
  margin-left: 10px;
}


.popover-content {
  /*padding: 3px 4px;*/
}
.popover .arrow,
.popover .arrow:after {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-right-color: white;
  border-width: 10px 10px 10px 0;
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow:after {
  bottom: -11px;
  left: -1px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-width: 11px 11px 11px 0;
  z-index: -1;
  content: "";
}

.total_view {
  border-bottom: 7px solid #FF8700;
  background-color: #F7F7F7;
}
.apply a{
color: #0A71AE;
font-size: 18px;
text-shadow: 0px 1px 0px white;
text-decoration: none;
}
.apply a:hover {
  text-decoration: line;
}

/*----------------------------------carusel----------------------------------*/

.jcarousel-skin-tango {
	margin-top: 1px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 940px;
	margin-top: -15px;
	margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 80px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  890px;
    height: 48px;
	margin-left: 25px;
	padding-top: 10px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 138px;
    height: 48px;
	border-right: 1px solid #eaeaea;
	overflow: hidden;
	text-align:center;
}
.jcarousel-skin-tango .jcarousel-item a {
	height: 45px;
	line-height: 45px;
	width: 130px;
	display:block;
	-webkit-transition-property:color;-webkit-transition-duration:.5s;
	-webkit-filter:grayscale(1) sepia(0.1);
}
.jcarousel-skin-tango .jcarousel-item a:hover {
	-webkit-filter:none;
}
.jcarousel-skin-tango .jcarousel-item img {
	max-height: 45px;
	max-width: 130px;
	height: auto;
	width: auto;
	vertical-align:middle;
}
/*
.jcarousel-skin-tango .jcarousel-item:hover img,
.jcarousel-skin-tango .jcarousel-item img:hover,
.jcarousel-skin-tango .jcarousel-item:hover img:hover {
	margin-top: 0!important;
}
*/
.jcarousel-skin-tango .jcarousel-item-horizontal {
	padding: 0 20px;
	text-align: center;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */

.jcarousel-skin-tango .jcarousel-prev-horizontal,
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    width: 22px;
    height: 66px;
    cursor: pointer;
	border: 1px solid #eaeaea;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: url('../images/sprite.png') -4px -410px no-repeat;
	top: 1px;
	left: -3px;
	
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
}


.jcarousel-skin-tango .jcarousel-prev-horizontal:hover ,
.jcarousel-skin-tango .jcarousel-next-horizontal:hover {
	border-color: rgba(103, 143, 35, 0.3);
	-webkit-box-shadow: 0 3px 5px rgba(103, 143, 35, 0.3);
	-moz-box-shadow: 0 3px 5px rgba(103, 143, 35, 0.3);
	box-shadow: 0 3px 5px rgba(103, 143, 35, 0.3);
}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active,
.jcarousel-skin-tango .jcarousel-next-horizontal:active  {
	top: 2px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal {
	right: 0;
	left: auto;
	background-position: 100% -410px;
}
