@import url("reset.css");
html, body{width:100%;height:100%;font: 13px Tahoma, Arial sans-serif;background-color:#fff}
p{margin-bottom:15px}
h1{font-size:35px;margin-bottom:10px;font-weight:normal;text-shadow:0px 1px 0px #fff}
h2{clear:both;font-size:30px;margin-bottom:10px;font-weight:normal}
h3{font-size:20px;margin-top:0px;margin-bottom:10px;font-weight:normal}
a{color:#0095eb}
a:hover{color:#e84d07}

#top_background{height:35px;width:100%;overflow:hidden;margin-bottom:5px;background:#f5f5f5 url(../images/top_background.gif)}
#top{margin:0px auto;width:940px}
#menu{float:left;max-width:700px}
#menu li{height:30px;display:block;float:left;list-style:none}
#menu li a{margin-right:5px;font-size:12px;display:block;float:left;padding:7px 11px 7px 0;color:#6F6E6E;text-decoration:none}
#menu li.selected a, #menu li:hover a{color:#000}
#account{float:right;font-size:12px;margin:7px 10px 7px 0;text-align:right;color:#6F6E6E}
#account a{color:#6F6E6E}
#account #login{padding-left:7px}
#account #logout{padding-left:7px}
#account #uLogin{display:inline-block;vertical-align:middle}

#header {margin:0px auto;width:940px;height:130px;/*overflow:hidden;*/clear:both;margin-bottom:10px}
#logo{margin-top:15px;padding-left:0px;float:left;clear:left;width:200px;height:60px}
#contact{float:left;text-align:right;margin:20px 0 0 65px;font-sdtyle:italic;height:25px;color:#505050;font-size:13px;text-shadow:0px 1px 0px #fff}
#contact #phone{font-size:23px}
#search{margin:32px 0 0 35px;height:28px;width:204px;float:left}
.input_search{width:200px;height:20px;font-size:12px;border:1px solid #b0b0b0;display:block;float:left;padding-right:32px}
.button_search {width:32px;height:28px;background-position-y:middle;background:url(../images/search.png) no-repeat;border-style:none;cursor:pointer;cursor:hand;display:block;float:left;margin-left:-32px}
.basket_block{background:#fcda4f;background:linear-gradient(top, #fce056, #fdcf42);background:-moz-linear-gradient(top, #fce056, #fdcf42);background:-webkit-linear-gradient(top, #fce056, #fdcf42);background:-o-linear-gradient(top, #fce056, #fdcf42);background:-ms-linear-gradient(top, #fce056, #fdcf42);height:49px;width:225px;margin-top:20px;float:right}
.basket_block a{text-decoration:none;color:#fcd94d}
.basket_block:hover{background:#fce367;background:linear-gradient(top, #fce367, #fdd456);background:-moz-linear-gradient(top, #fce367, #fdd456);background:-webkit-linear-gradient(top, #fce367, #fdd456);background:-o-linear-gradient(top, #fce367, #fdd456);background:-ms-linear-gradient(top, #fce367, #fdd456)}
.basket_block:active{background:#f7cb3a;background:linear-gradient(top, #f7cb3a, #f8bc2d);background:-moz-linear-gradient(top, #f7cb3a, #f8bc2d);background:-webkit-linear-gradient(top, #f7cb3a, #f8bc2d);  background:-o-linear-gradient(top, #f7cb3a, #f8bc2d);background:-ms-linear-gradient(top, #f7cb3a, #f8bc2d)
}
.basket{float:left;position:relative;width:70px;height:49px;background: url('../images/basket.png') 12px 12px no-repeat}
.cartis{width:155px;height:49px;position:relative;float:left;line-height:46px;color:#000}







/* @group Футкр сайта */
#footer {
	margin:0px auto;
	width: 940px;
	overflow: hidden;
	clear: both;
	height: 120px;
	padding-top: 30px;
	text-align: center;
}




































#main{margin:0px auto;width:940px}
#contents{float:left;width:940px;}
#content{float:right;width:720px;margin-left:15px}
#left{width:205px;float:left;overflow:hidden}




.main-slider-wrapper{position:relative;margin-bottom:15px}
.main-slider{position:relative;overflow:hidden;width:940px;height:400px}
.main-slider ul{width:20000em;position:relative;margin:0}
.main-slider li{float:left;width:900px;height:400px}
.main-slider li a img{width:940px;height:400px}
.control-prev,.control-next{cursor:pointer;display:block;min-height:400px;position:absolute;top:0;width:37px;z-index:999}
.control-prev{background:url("../images/frontpage_banner_arrows.png") no-repeat scroll 0 50% transparent;left:10px}
.control-next{background:url("../images/frontpage_banner_arrows.png") no-repeat scroll -37px 50% transparent;right:10px}
.control-prev,.control-next{opacity:0.4}
.control-prev:hover,.control-next:hover{opacity:1}


.bx-wrapper{position:relative;overflow:hidden}
.bx-next,.bx-prev{display:block;float:left;position:absolute;font-size:0;top:0}
.bx-prev{left:0;width:20px;height:80px;background:url("../images/bx_arrows.png") no-repeat scroll 0 0 transparent}
.bx-next{right:0;width:20px;height:80px;background:url("../images/bx_arrows.png") no-repeat scroll -20px 0 transparent}
.bx-next:hover,.bx-prev:hover{opacity:.6}
.bx-next.disabled,.bx-prev.disabled{cursor:default;opacity:.1}



.smBanner {position:relative;margin:0px;margin-bottom:20px;overflow:hidden}
.smBanner li{float:left;width:300px;height:150px;margin-left:20px}
.smBanner li:first-child{margin-left:0}




#all_brands {
	width: 220px;
	margin-bottom: 15px;
}


/* @group Brands */
#brands {
	clear: both;
	margin-bottom: 10px;
	margin-top: 10px;
}
#brands a {
	color: #ec0060;
	font-size: 12px;
	margin-right: 10px;
}
#brands img{
	vertical-align: middle;
}
#brands a:hover {
	color: #000;
} 
#brands a.selected {
	background-color: #ec0060;
	color: #fffeff;
	padding: 2px 2px 2px 2px;
}
/* @end */

/* Хлебные крошки */
#path{
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 11px;
	color: #a0a0a0;
}
#path a{
	color: #a0a0a0;
}
/* @end */


/* @group Товар подробно */
/*#content UL
{
	list-style: circle inside;
}
*/
.product .description{
	float: right;
	width: 330px;
}
.product .image{
    width: 500px;
    float: left;
}
.product .features
{
	list-style: none !important;
	width: 100%;
	display: block;
	clear: both;
	margin-top: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #E0E0E0;
}
.product .features LI
{
	padding: 10px 5px;
	overflow: hidden;
	border-top: 1px solid #E0E0E0;
	background-color: #F0F0F0;
}
.product .features LI.even
{
	background-color: #E9E9E9;
}
.product .features LABEL
{
	font-style: normal;
	display: block;
	width: 30%;
	float: left;
	font-weight: bold;
}
.product .features SPAN
{
	float: left;
	display: block;
	width: 70%;
}

.product .variants {
	float: left;
	font-size: 12px;
}
.product .variant td{
	padding-bottom: 6px;
	vertical-align: middle;
}
.product .compare_price {
	font-size: 14px;
	text-decoration: line-through;
	white-space: nowrap;
	color: #707070;
}

.product .variant_name {
	float: left;
	margin-right: 10px;
	font-size: 12px;
}
.product .variant_radiobutton {
	margin-right: 5px;
	margin-left: 0px;
}
#back_forward {
	font-size: 14px;
	margin-bottom: 20px;
	clear: both;
}
#back_forward a.prev_page_link{
	margin-right: 20px;
}
/* @end — Товар подробно*/















.tiny_products{margin:10px 0 0 -8px;list-style:none;display:block}
.products{margin-top:10px;list-style:none;display:block}

.tiny_products .product{float:left;display:inline-block;position:relative;width:230px;height:340px;margin-left:5px;position:relative;border:1px solid #FFF;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}
.tiny_products .product:hover{border-color:#f5f5f5;-moz-box-shadow:0 0 5px rgba(0,0,0,0.5);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.5);box-shadow:0 0 5px rgba(0,0,0,0.5)}
.tiny_products .product .rating{margin:8px 0 0 10px}
.tiny_products .product .title{overflow:hidden;height:35px;line-height:16px;margin:0px 10px;font-size:14px}
.tiny_products .product .title a, .products .product .title a{text-decoration:none;color:#000}
.tiny_products .product .title a:hover, .products .product .title a:hover{text-decoration:underline}
.tiny_products .product .image{overflow:hidden;text-align:center;width:228px;height:165px;margin-bottom:10px;float:left;display:inline-block}
.tiny_products .product .image img{max-width:228px;vertical-align:top}
.tiny_products .product .price {font-size:16px;float:left;margin:15px 15px 5px 15px;width:190px}
.tiny_products .product .price span{font-weight: bold;font-size:17px}
.tiny_products .product .price span.hotsale-price{color:red}
.tiny_products .product s {color:#666;font-size:12px;float:left;margin:4px 10px 0 0}
.tiny_products .product .comp_box{position:absolute;bottom:15px;padding-left:15px;display:none}
.tiny_products .product .button {float:right;clear:left;cursor:pointer;display:none;margin-top: 7px}
.tiny_products .product .ver{height:16px;margin:16px;display:none}
.tiny_products .product:hover .comp_box, .tiny_products .product:hover .button, .tiny_products .product:hover .ver{display:block}



.products .product{width:100%;display:block;clear:both;overflow:hidden}
.products .product .image {text-align:center;width:200px;background-color:#ffffff;border:1px solid #e0e0e0;float:left;padding:5px;margin:4px 0px 20px 0px}
.products .product .image img{max-width:200px}
.products .product .product_info {float:right;width:450px;margin-bottom:40px}

.products .product .annotation {font-size:12px;color:#505050;	margin-bottom:5px}




















/* Кнопка */


.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cccccc;
	display:inline-block;
	color:#555555;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}

/* @group Фильтр по свойствам */
#features {
	background-color: #f0f0f0;
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #d0d0d0;
	margin-top: 20px;
	margin-bottom: 10px;
	width: 100%;
}
#features .feature_name{
	padding: 7px;
}
#features .feature_values{
	padding: 7px;
}
#features a {
	padding-right: 6px;
	white-space: nowrap;
}
#features a.selected {
	//background-color: #4a4a4a;
	color: #505050;
	text-decoration: none;
}
/* @end — Фильтр по свойствам*/

#compare_informer{margin-bottom:16px}
/* @group Сортировка */
.sorts {background:#F5F5F5;height:25px;width:100%;float:left}
.sort {
	color: #505050;
	font-size: 12px;
	margin-top:2px;
	margin-bottom: 10px;
	font-weight: normal;
	font-style: normal;
	float: left;
}
.sort a{
	margin-right: 5px;
}
.sort .selected {
	color: #505050;
	text-decoration: none;
	margin-right: 5px;
}
/* @end */


/* @group Постраничная навигация */
.pagination {float: right;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	overflow: hidden;
}
.pagination a {
	display: block;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
	padding:0 3px;
	min-width:6px;
	text-align: center;
	border: 1px solid #d7d7d7;
	text-decoration: none;
	color:#000
}
.pagination a:hover, .pagination a.selected:hover,
.pagination a.selected {border-color:#fdcf42}
/* @end */


/* @group Просмотренные товары */
#browsed_products{
	margin-bottom: 20px;
	overflow: hidden;
}

#browsed_products li{
	display: block;
	float: left;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
	margin: 0 7px 7px 0;
	width: 50px;
	height: 50px;
}
#browsed_products li a{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}
/* @end — Просмотренные товары */


/* @group Формы */
input[type="text"],
input[type="password"]
{
	width: 100%;
	font-size: 18px;
}
.form
{
	width:680px;
	margin-bottom: 20px;
}
.form textarea
{
	width:100%;
	height:100px;
	font-size: 18px;
}
.form label {
	display:block;
	font-size: 14px;
}
.form input[type="text"]{
	display:block;
	margin-bottom: 10px;
}

/* @group Комментарии */
.comment_list {
	margin-top: 15px;
	list-style: none;
}
.comment_list li {
	padding-bottom: 15px;
}
.comment_header {
	font-size: 18px;
}
.comment_header i {
	font-weight: normal;
	font-style: normal;
	color: #878787;
	font-size: 13px;
}
/* @end — Комментарии*/

/* @group Форма отправки комментария */
.comment_form {
	background-color: #f3f3f3;
	border: 1px solid #e0e0e0;
	padding: 20px;
	margin-top: 20px;
	width: 90%;
	overflow: hidden;
}
.comment_form h2 {
	margin-bottom: 0px;
}
.comment_form .comment_textarea {
	width: 100%;
	height: 100px;
	font-size: 12px;
}
.comment_form label {
	display: block;
	float: left;
	width: 100px;
	font-size: 18px;
	margin-top: 15px;
}
.comment_form .input_name {
	font-size: 16px;
	width: 250px;
	margin-top: 15px;
}
.comment_form .input_captcha, .cart_form .input_captcha{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.comment_form .captcha, .cart_form .captcha {
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.comment_form .button,
.feedback_form .button,
.register_form .button,
.login_form .button{
	float: right;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
}
/* @end — Форма отправки комментария */

/* @group Форма отправки обратной связи */
.feedback_form {
	background-color: #f3f3f3;
	border: 1px solid #e0e0e0;
	padding: 20px;
	margin-top: 20px;
	width: 90%;
	overflow: hidden;
}
.feedback_form .input_captcha, .register_form .input_captcha{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.feedback_form .captcha, .register_form .captcha{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.feedback_form .button_send {
	font-size: 18px;
	float: right;
	margin-top: 25px;
}
/* @end — Форма отправки комментария */


/* @group Корзина */
#purchases tr{
	border-top: 1px solid #d5d5d5;
	height: 70px;
}
#purchases th{
	vertical-align: top;
	padding-top: 10px;
	font-size: 18px;
	font-weight: normal;
}
#purchases .image{
	width: 50px;
	text-align: center;
}
#purchases .image a{
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
	margin: 0 7px 7px 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}

#purchases .name{
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
#purchases td.name{
	font-size: 14px;
}
#purchases td .download_attachment{
	white-space: nowrap;
	color: #3b8500;
	padding: 5px 10px 7px 10px;
	border-bottom-color: 1px dotted green;
	background-color: #ccff72;
	line-height: 30px;
}

#purchases .price{
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	text-align: right;
}
#purchases td.price{
	font-size: 14px;
}
#purchases .remove{
	padding-left: 15px;
	text-align: right;
}
#purchases .amount{
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
}
#purchases .amount select{
	font-size:12px;
}

#purchases .coupon .name{
	font-size:14px;
}
#purchases .coupon .name input.coupon_code{
	width: 200px;
}
#purchases .coupon .name input{
	font-size:16px;
}

ul#deliveries{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	padding: 20px 20px 0 20px;
	list-style: none;
}
ul#deliveries li{
	margin-bottom: 20px;
}
ul#deliveries li div.checkbox{
	float: left;
}
ul#deliveries li h3, ul#deliveries li .description{
	display: block;
	margin-left: 25px;
}
/* @end */


/* @group Кабинет */
#orders_history
{
	list-style: none;
}
#orders_history li
{
	margin-bottom: 10px;
}
#orders_history li a
{
	font-size: 16px;
}
/* @end — Кабинет */



/* @group Детали заказа */
table.order_info
{
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
}
table.order_info td
{
	padding: 10px;
	border: 1px dotted #e0e0e0;
	font-size: 14px;
}
.checkout_button
{
	padding: 10px 20px 10px 20px;
	border: 1px solid #51a400;
	background-color: #d3ffa9;
	color: #2e5e00;
	font-size: 14px;
}
/* @end */


/* Сообщение с ошибкой */
.message_error{
	clear: both;
	height: 18px;
	padding: 10px 20px;
	margin-bottom: 15px;
	margin-top: 10px;
	overflow: hidden;
	color: red;
	background-color: #ffcaca;
	border: 1px dotted #ff4545;
}

/* @end */

ul.dropdown,ul.dropdown li,ul.dropdown ul{margin:0;padding:0}
ul.dropdown{position:relative;z-index:597;float:left}
ul.dropdown li{float:left;min-height:1px;line-height:1.3em;vertical-align:middle}
ul.dropdown li.hover,ul.dropdown li:hover{position:relative;z-index:599;cursor:default}
ul.dropdown ul{visibility:hidden;position:absolute;top:100%;left:0;z-index:598;width:100%}
ul.dropdown ul li{float:none}
ul.dropdown ul ul{top:1px;left:99%}
ul.dropdown li:hover > ul{visibility:visible}	
ul.dropdown-linear{width:100%}
ul.dropdown-linear ul li{float:left}
ul.dropdown-linear li.hover,ul.dropdown-linear li:hover{position:static}
ul.dropdown-linear ul ul{display:none !important}
ul.dropdown-columnar ul li{position:static;width:150px}
ul.dropdown-columnar ul ul{display:block !important;position:static;width:auto !important}
ul.dropdown-columnar ul ul li{float:none}
ul.dropdown-columnar ul ul ul{display:none}
ul.dropdown-columnar li.hover ul,ul.dropdown-columnar li:hover ul{visibility:visible !important}

ul.dropdown {


background: #032976;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
    border-top-left-radius: 3px;

	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topright: 3px;
    -moz-border-radius-topleft: 3px;

	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
 font-size: 14px;
 height: 35px;
 margin-top: 20px;
}
ul.dropdown li {padding:9px 7px;background-color:transparent;color:#000}
ul.dropdown li.hover,ul.dropdown li:hover{background-color:#f5f5f5;color:#000}

ul.dropdown li a,ul.dropdown li ul a:active{color:#fff;text-decoration:none}
ul.dropdown ul li a{color:#000;text-decoration:none}
ul.dropdown a:hover{color:#000}
ul.dropdown a:active{color:#f5f5f5}
/* -- level mark -- */
ul.dropdown ul{background-color:#f5f5f5;font-size:12px;letter-spacing:normal}
ul.dropdown ul li{font-weight:bold}
ul.dropdown li.last ul li{float:right}
/* -- level mark -- */
ul.dropdown ul ul{margin-top:5px;text-transform:none}
ul.dropdown ul ul li{font-weight:normal}
/* -- Supporting class `dir` -- */
ul.dropdown *.dir{padding-right:30px;background-image:url(../../../../images/lwis.celebrity/nav-arrow-down.png);background-position:100% 50%;background-repeat:no-repeat}
ul.dropdown ul *.dir{background-image:none}
ul.dropdown li a{display:block;padding:9px 15px}
/* -- Base style override -- */
ul.dropdown li{padding:0}
/* -- Base style reinitiate: post-override activities -- */
ul.dropdown li.dir{padding:0 30px 0 10px}
ul.dropdown ul li.dir{padding:10px}
/* -- Custom styles -- */
ul.dropdown ul{padding:0 10px}
ul.dropdown ul a{width:140px;padding:3px 5px;background:url(../../../../images/lwis.celebrity/pattern2.png) 0 0 repeat-x}
ul.dropdown ul a:hover{background-color:#ffa500;color:#fff}
ul.dropdown ul ul{padding:0;margin-left:-5px}