#baloon{top:0px;left:0px;padding:0;margin:0;display:none;position:absolute;z-index:64999;opacity:0.8;}
#baloonHeader{background-color:#fff;position:relative;height:2px;border-width:1px 1px 0 1px;border-style:solid;border-color:#26a0da;}
#baloonFooter{display:none;}
#baloonBody{display:block;padding:10px 15px;font-size:13px;line-height:15px;background-color:#fff;border-width:0 1px 1px 1px;border-style:solid;border-color:#26a0da;box-shadow:1px 3px 5px rgba(0,0,0,0.3);}
#baloonHeader:before,
#baloonHeader:after{content:'';position:absolute;display:block;width:0;height:0;border:solid transparent;}
#baloonHeader:before{z-index:1;top:-12px;border-bottom-color:#26a0da;border-width:6px;margin-left:-6px;}
#baloonHeader:after{top:-11px;z-index:2;border-bottom-color:#fff;border-width:6px;margin-left:-6px;}
.baloonHeaderFlip:before,
.baloonHeaderFlip:after{right:10px;}
.baloonHeaderDirect:before,
.baloonHeaderDirect:after{left:10px;}