			<a href="http://velocube.ru/cart/"><span class="basket"><span id="jsBasketTrackerId"></span></span>
			{if $cart->total_products>0}
			<span class="cartis">{$cart->total_products} {$cart->total_products|plural:'товар':'товаров':'товара'} на {$cart->total_price|convert} {$currency->sign|escape}</span>
			{else}<span class="cartis">Пока ничего не выбрано</span>{/if}</a>