.autocomplete-w1 {
	position:absolute; 
	top:0px; 
	left:0px; 
	margin:6px 0 0 6px; 
	/* IE6 fix: */ _background:none; _margin:1px 0 0 0; 
	width:350px;
	}
.autocomplete {
	border:1px solid #999;

	background:#FFF; 
	cursor:default; 
	text-align:left; 
	overflow-x:auto;  
	overflow-y: hidden; 
	margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }

.autocomplete .suggest-box{
	height:35px;

}
.autocomplete .suggest-image{
	float:left;
	margin:0 5px;
	width:35px;
	height:35px;
}
.autocomplete .suggest-image  img{
	max-width:35px;
	max-height:35px;
}
.autocomplete  a,
.autocomplete  a:visited,
.autocomplete  a:hover{
	margin:0;
	font:normal 12px Arial,Helvetica,FreeSans,"Liberation Sans","Nimbus Sans L",sans-serif;
	color:#545454;
}

.autocomplete a strong,
.autocomplete a:visited strong,
.autocomplete a:hover strong{ font-weight:bold; color:#000000; }

.autocomplete div {padding:3px 5px;white-space:nowrap; }
.autocomplete div:hover{background:#ffe2e2;cursor:pointer;}

.autocomplete .suggest-price{
	margin:0 0 0 51px;
	font:bold 11px Arial;
	color:#C31212;
}
.autocomplete  .suggest-category{
	position:relative;
	margin:-3px 0 0 51px;
	font:normal 11px Arial;
	color:#ababab;
}