{strip}

{if !$width}{assign var="width" value="24px"}{/if}
{if !$height}{assign var="height" value="24px"}{/if}
{if !$fill}{assign var="fill" value="currentColor"}{/if}

{if $svgId == "icon_search"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M22.245,18.594l-5.573-5.557c0.585-1.15,0.902-2.427,0.902-3.752c0-2.214-0.864-4.295-2.428-5.858
		C13.581,1.861,11.5,1,9.287,1C7.074,1,4.991,1.861,3.428,3.427C1.862,4.993,1,7.071,1,9.285c0,2.213,0.862,4.294,2.428,5.859
		c1.565,1.563,3.646,2.425,5.858,2.425c1.327,0,2.602-0.314,3.752-0.899l5.557,5.572C19.1,22.746,19.76,23,20.422,23
		c0.657,0,1.319-0.254,1.823-0.758C23.252,21.234,23.252,19.6,22.245,18.594L22.245,18.594z M5.616,12.954
		c-0.979-0.98-1.521-2.281-1.521-3.669c0-1.386,0.542-2.689,1.521-3.671C6.597,4.637,7.9,4.095,9.287,4.095
		c1.387,0,2.69,0.539,3.668,1.519c0.981,0.982,1.521,2.285,1.521,3.671c0,1.385-0.539,2.688-1.521,3.669
		c-0.978,0.98-2.284,1.519-3.668,1.519C7.9,14.473,6.597,13.935,5.616,12.954L5.616,12.954z M5.616,12.954"/>
</svg>
{/if}
	
{if $svgId == "icon_close"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M14.018,12L14.004 11.985 22 4 19.997 2 12 9.986 4.002 2 2 4 9.996 11.985 9.981 12 9.998 12.016 2 20 4.003 22 12 14.015 19.997 22 21.999 20 14.003 12.016 z"/>
</svg>
{/if}
	
{if $svgId == "icon_cart"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<g class="icon_shadow">
		<path fill="#2A2A2A" d="M8.001,19.002c-1.099,0-2.002,0.898-2.002,1.996C5.999,22.102,6.902,23,8.001,23s1.997-0.898,1.997-2.002
			C9.998,19.9,9.1,19.002,8.001,19.002L8.001,19.002z M2,3v2.003h2.002L7.6,12.602l-1.4,2.401c-0.098,0.298-0.2,0.697-0.2,0.995
			C5.999,17.102,6.902,18,8.001,18h11.996v-2.002H8.4c-0.103,0-0.199-0.098-0.199-0.2V15.7L9.1,14.002h7.403
			c0.795,0,1.396-0.4,1.698-1.002L21.8,6.502C22,6.302,22,6.199,22,5.998c0-0.596-0.4-0.995-1.001-0.995h-14.8L5.301,3H2z
			 M18.001,19.002c-1.099,0-2.003,0.898-2.003,1.996c0,1.104,0.904,2.002,2.003,2.002s1.996-0.898,1.996-2.002
			C19.997,19.9,19.1,19.002,18.001,19.002L18.001,19.002z"/>
	</g>
	<g>
		<path fill="{$fill}" d="M8.001,18.002c-1.099,0-2.002,0.898-2.002,1.996C5.999,21.102,6.902,22,8.001,22s1.997-0.898,1.997-2.002
			C9.998,18.9,9.1,18.002,8.001,18.002L8.001,18.002z M2,2v2.003h2.002L7.6,11.602l-1.4,2.401c-0.098,0.298-0.2,0.697-0.2,0.995
			C5.999,16.102,6.902,17,8.001,17h11.996v-2.002H8.4c-0.103,0-0.199-0.098-0.199-0.2V14.7L9.1,13.002h7.403
			c0.795,0,1.396-0.4,1.698-1.002L21.8,5.502C22,5.302,22,5.199,22,4.998c0-0.596-0.4-0.995-1.001-0.995h-14.8L5.301,2H2z
			 M18.001,18.002c-1.099,0-2.003,0.898-2.003,1.996c0,1.104,0.904,2.002,2.003,2.002s1.996-0.898,1.996-2.002
			C19.997,18.9,19.1,18.002,18.001,18.002L18.001,18.002z"/>
	</g>
</svg>
{/if}
	
{if $svgId == "icon_compare"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<g class="icon_shadow">
		<path fill="#2A2A2A" d="M20.378,10.822c1.493,0.256,1.574-1.891,0.23-1.906c-1.623,0-3.082,0.08-4.46-0.817
			c-0.82-0.528-1.656-0.929-2.574-1.104c0.278-0.336,0.442-0.753,0.442-1.218c0-1.057-0.886-1.938-2.033-1.906
			c-1.114-0.032-2.016,0.833-2.016,1.922c0,0.464,0.163,0.88,0.441,1.217C9.492,7.186,8.656,7.57,7.836,8.115
			C6.459,9.012,4.982,8.932,3.375,8.932c-1.343,0-1.262,2.163,0.231,1.906l0.016,0.016c-1.001,1.603-2.165,4.037-1.345,5.655
			c0.344,0.672,1.148,1.473,3.099,1.473c1.95,0,2.755-0.801,3.099-1.473c0.869-1.698-0.459-4.293-1.477-5.879
			c0.214-0.048,0.41-0.128,0.624-0.209c0.705-0.287,1.312-0.72,1.951-1.105c0.458-0.271,0.935-0.399,1.443-0.447v11.341H8.573
			c-0.508,0-0.951,0.352-1.016,0.833c-0.065,0.576,0.393,1.089,0.984,1.089h6.903c0.59,0,1.049-0.497,0.983-1.089
			c-0.065-0.481-0.508-0.833-1.017-0.833h-2.444V8.852c0.493,0.049,1.001,0.177,1.46,0.449c0.64,0.384,1.246,0.816,1.951,1.105
			c0.197,0.079,0.41,0.144,0.622,0.208c-1.016,1.585-2.343,4.18-1.475,5.878c0.344,0.674,1.164,1.475,3.1,1.475
			c1.935,0,2.754-0.801,3.098-1.475c0.82-1.617-0.344-4.053-1.345-5.654V10.822z M3.835,14.764c0.18-0.946,0.835-2.243,1.541-3.333
			c0.706,1.09,1.361,2.387,1.525,3.333H3.835z M17.066,14.764c0.181-0.962,0.837-2.243,1.541-3.333
			c0.706,1.09,1.361,2.371,1.542,3.333H17.066z M17.066,14.764"/>
	</g>
	<g>
		<path fill="{$fill}" d="M20.378,9.822c1.493,0.256,1.574-1.891,0.23-1.906c-1.623,0-3.082,0.08-4.46-0.817
			c-0.82-0.528-1.656-0.929-2.574-1.104c0.278-0.336,0.442-0.753,0.442-1.218c0-1.057-0.886-1.938-2.033-1.906
			c-1.114-0.032-2.016,0.833-2.016,1.922c0,0.464,0.163,0.88,0.441,1.217C9.492,6.186,8.656,6.57,7.836,7.115
			C6.459,8.012,4.982,7.932,3.375,7.932c-1.343,0-1.262,2.163,0.231,1.906l0.016,0.016c-1.001,1.603-2.165,4.037-1.345,5.655
			c0.344,0.672,1.148,1.473,3.099,1.473c1.95,0,2.755-0.801,3.099-1.473c0.869-1.698-0.459-4.293-1.477-5.879
			c0.214-0.048,0.41-0.128,0.624-0.209c0.705-0.287,1.312-0.72,1.951-1.105c0.458-0.271,0.935-0.399,1.443-0.447v11.341H8.573
			c-0.508,0-0.951,0.352-1.016,0.833c-0.065,0.576,0.393,1.089,0.984,1.089h6.903c0.59,0,1.049-0.497,0.983-1.089
			c-0.065-0.481-0.508-0.833-1.017-0.833h-2.444V7.852c0.493,0.049,1.001,0.177,1.46,0.449c0.64,0.384,1.246,0.816,1.951,1.105
			C16.575,9.485,16.788,9.55,17,9.614c-1.016,1.585-2.343,4.18-1.475,5.878c0.344,0.674,1.164,1.475,3.1,1.475
			c1.935,0,2.754-0.801,3.098-1.475c0.82-1.617-0.344-4.053-1.345-5.654V9.822z M3.835,13.764c0.18-0.946,0.835-2.243,1.541-3.333
			c0.706,1.09,1.361,2.387,1.525,3.333H3.835z M17.066,13.764c0.181-0.962,0.837-2.243,1.541-3.333
			c0.706,1.09,1.361,2.371,1.542,3.333H17.066z M17.066,13.764"/>
	</g>
</svg>
{/if}
	
{if $svgId == "icon_grid"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M2,2h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H2C1.448,7,1,6.552,1,6V3
		C1,2.447,1.448,2,2,2z"/>
	<path fill="{$fill}" d="M10,2h3c0.553,0,1,0.447,1,1v3c0,0.552-0.447,1-1,1h-3C9.448,7,9,6.552,9,6V3
		C9,2.447,9.448,2,10,2z"/>
	<path fill="{$fill}" d="M18,2h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1h-3c-0.553,0-1-0.448-1-1V3
		C17,2.447,17.447,2,18,2z"/>
	<path fill="{$fill}" d="M2,10h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H2c-0.552,0-1-0.448-1-1v-3
		C1,10.447,1.448,10,2,10z"/>
	<path fill="{$fill}" d="M10,10h3c0.553,0,1,0.447,1,1v3c0,0.552-0.447,1-1,1h-3c-0.552,0-1-0.448-1-1v-3
		C9,10.447,9.448,10,10,10z"/>
	<path fill="{$fill}" d="M18,10h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1h-3c-0.553,0-1-0.448-1-1v-3
		C17,10.447,17.447,10,18,10z"/>
	<path fill="{$fill}" d="M2,18h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H2c-0.552,0-1-0.448-1-1v-3
		C1,18.447,1.448,18,2,18z"/>
	<path fill="{$fill}" d="M10,18h3c0.553,0,1,0.447,1,1v3c0,0.552-0.447,1-1,1h-3c-0.552,0-1-0.448-1-1v-3
		C9,18.447,9.448,18,10,18z"/>
	<path fill="{$fill}" d="M18,18h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1h-3c-0.553,0-1-0.448-1-1v-3
		C17,18.447,17.447,18,18,18z"/>
</svg>
{/if}

{if $svgId == "icon_list"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M2,2h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H2C1.448,7,1,6.552,1,6V3
		C1,2.447,1.448,2,2,2z"/>
	<path fill="{$fill}" d="M10,2h11c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H10C9.448,7,9,6.552,9,6V3
		C9,2.447,9.448,2,10,2z"/>
	<path fill="{$fill}" d="M2,10h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H2c-0.552,0-1-0.448-1-1v-3
		C1,10.447,1.448,10,2,10z"/>
	<path fill="{$fill}" d="M2,18h3c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H2c-0.552,0-1-0.448-1-1v-3
		C1,18.447,1.448,18,2,18z"/>
	<path fill="{$fill}" d="M10,10h11c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H10c-0.552,0-1-0.448-1-1v-3
		C9,10.447,9.448,10,10,10z"/>
	<path fill="{$fill}" d="M10,18h11c0.552,0,1,0.447,1,1v3c0,0.552-0.448,1-1,1H10c-0.552,0-1-0.448-1-1v-3
		C9,18.447,9.448,18,10,18z"/>
</svg>
{/if}

{if $svgId == "icon_eye"}
<svg width="{$width}" height="{$height}" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M10.012,8.593L10.012,8.593C10.008,8.592,10.004,8.592,10,8.592s-0.007,0-0.011,0v0.001
		c-0.76,0.019-1.371,0.641-1.371,1.405s0.61,1.387,1.371,1.406v0.001c0.004,0,0.007-0.001,0.011-0.001s0.007,0.001,0.012,0.001
		v-0.001c0.766-0.019,1.371-0.641,1.371-1.406S10.777,8.612,10.012,8.593z"/>
	<path fill="{$fill}" d="M18.338,8.861c-1.733-1.411-4.652-3.462-8.326-3.532l0,0c-0.004,0-0.008,0-0.012,0s-0.007,0-0.011,0l0,0
		C6.317,5.399,3.395,7.45,1.661,8.861C1.578,8.929,1.009,9.364,1,9.921c-0.007,0.392,0.176,0.682,0.439,0.924
		c1.417,1.37,4.509,3.808,8.55,3.824v0.002c0.004,0,0.008,0,0.012,0c0.002,0,0.006,0,0.011,0v-0.002
		c4.049-0.017,7.132-2.454,8.549-3.824c0.263-0.242,0.445-0.532,0.438-0.924C18.988,9.364,18.422,8.929,18.338,8.861z M10,13.615
		c-1.986-0.014-3.593-1.627-3.593-3.617c0-1.989,1.606-3.603,3.593-3.616c1.991,0.013,3.593,1.627,3.593,3.616
		C13.593,11.988,11.991,13.602,10,13.615z"/>
</svg>
{/if}

{if $svgId == "icon_vk"}
<svg width="{$width}" height="{$height}" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M17.052,11.905c-1.508-1.362-1.305-1.142,0.51-3.499c1.107-1.434,1.548-2.311,1.41-2.686
		c-0.132-0.358-0.943-0.264-0.943-0.264l-2.707,0.017c0,0-0.202-0.027-0.35,0.06c-0.146,0.086-0.239,0.283-0.239,0.283
		s-0.428,1.111-0.999,2.056c-1.205,1.993-1.688,2.098-1.885,1.974c-0.459-0.288-0.344-1.159-0.344-1.777
		c0-1.931,0.301-2.736-0.586-2.945c-0.294-0.069-0.511-0.115-1.264-0.122C8.689,4.993,7.872,5.005,7.409,5.226
		C7.102,5.372,6.864,5.7,7.009,5.719c0.179,0.022,0.584,0.106,0.799,0.391c0.277,0.368,0.267,1.193,0.267,1.193
		s0.159,2.273-0.372,2.556c-0.365,0.194-0.865-0.203-1.94-2.01c-0.55-0.926-0.966-1.95-0.966-1.95s-0.08-0.191-0.223-0.293
		C4.4,5.481,4.158,5.441,4.158,5.441L1.586,5.458c0,0-0.386,0.011-0.528,0.174c-0.126,0.146-0.01,0.447-0.01,0.447
		s2.014,4.587,4.293,6.898c2.091,2.12,4.465,1.98,4.465,1.98h1.076c0,0,0.326-0.034,0.492-0.209c0.153-0.159,0.147-0.46,0.147-0.46
		s-0.021-1.405,0.65-1.612c0.659-0.203,1.508,1.359,2.406,1.96c0.68,0.455,1.197,0.355,1.197,0.355l2.402-0.034
		c0,0,1.259-0.074,0.662-1.038C18.79,13.842,18.492,13.206,17.052,11.905z"/>
</svg>
{/if}
	
{if $svgId == "icon_fb"}
<svg width="{$width}" height="{$height}" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M12.551,4.657L14,4.656V2.113C13.75,2.078,12.89,2,11.887,2c-2.09,0-3.521,1.325-3.521,3.76v2.098H6v2.844
		h2.365V18h2.828v-7.298h2.358l0.354-2.844h-2.712V6.042C11.193,5.218,11.413,4.657,12.551,4.657z"/>
</svg>
{/if}
	
{if $svgId == "icon_tw"}
<svg width="{$width}" height="{$height}" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M19.001,4.848c-0.662,0.271-1.374,0.453-2.122,0.536c0.764-0.422,1.35-1.09,1.625-1.886
		C17.79,3.889,17,4.173,16.158,4.325c-0.673-0.661-1.634-1.075-2.694-1.075c-2.04,0-3.693,1.526-3.693,3.408
		c0,0.267,0.031,0.527,0.096,0.776c-3.07-0.142-5.791-1.498-7.612-3.562c-0.319,0.504-0.5,1.09-0.5,1.714
		c0,1.183,0.652,2.226,1.643,2.837C2.792,8.406,2.223,8.252,1.724,7.997v0.044c0,1.65,1.273,3.029,2.962,3.342
		C4.376,11.461,4.05,11.5,3.713,11.5c-0.237,0-0.469-0.02-0.695-0.059c0.47,1.354,1.833,2.338,3.45,2.367
		c-1.264,0.914-2.856,1.459-4.586,1.459c-0.298,0-0.592-0.016-0.881-0.049c1.634,0.967,3.576,1.531,5.661,1.531
		c6.794,0,10.508-5.191,10.508-9.697c0-0.147-0.003-0.295-0.012-0.442C17.879,6.131,18.506,5.532,19.001,4.848z"/>
</svg>
{/if}

{if $svgId == "icon_payment_yandex"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#FF6D11" d="M50.239,14.323c-1.837,0-2.374,0-2.374,0v11.774c0,0,0.311,2.769-3.278,3.846
		c-3.59,1.078-17.07,4.897-17.07,4.897s-1.583,0.408-1.47-0.816c0.113-1.225,0.396-0.962,2.826-1.981
		c2.431-1.02,13.453-5.479,13.453-5.479s2.601-1.049,2.601-4.431c0-2.382,0-3.184,0-3.38c0-0.03,0-0.048,0-0.054
		c0-0.9,0-14.284,0-14.284s0.537-3.644-3.392-1.982L23.446,12.925c0,0-1.865,1.283-1.921,3.031c-0.057,1.749,0,19.235,0,19.235
		s0.848,2.769,3.278,2.797c2.43,0.029,24.983,0,24.983,0s2.713,0,2.713-2.682s0-18.768,0-18.768S52.076,14.323,50.239,14.323z
		 M38.708,12.459c0,0,1.188-0.205,1.243,1.631c0.057,1.836-2.146,2.943-2.486,3.031c-0.34,0.087-1.781,0.466-1.696-1.516
		S37.805,12.254,38.708,12.459z"/>
</svg>
{/if}

{if $svgId == "icon_payment_abank"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#E62100" d="M48.031,33.107H25.968c-0.259,0-0.468,0.213-0.468,0.475v3.945c0,0.262,0.209,0.473,0.468,0.473h22.063
		c0.258,0,0.469-0.211,0.469-0.473v-3.945C48.5,33.32,48.289,33.107,48.031,33.107z"/>
	<path fill="#E62100" d="M47.414,23.661L40.411,4.453c0,0-0.69-1.782-2.007-2.209c-1.316-0.429-2.295-0.196-2.855-0.022
		c-0.786,0.243-1.13,0.717-1.263,0.965c-0.331,0.458-0.749,1.255-0.81,1.424l-7.023,19.477c-0.089,0.245,0.025,0.514,0.256,0.6
		l3.484,1.295c0.231,0.086,0.491-0.043,0.58-0.289l1.454-4.146l9.338-0.039l1.641,4.302c0,0,0.039,0.196,0.15,0.287
		c0.109,0.09,0.424,0.021,0.424,0.021l3.724-1.467c0,0,0.156-0.135,0.156-0.359S47.414,23.661,47.414,23.661z M33.694,17.364
		l3.341-9.528l3.165,9.49L33.694,17.364z"/>
</svg>
{/if}

{if $svgId == "icon_payment_cash"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#75BD06" d="M38.384,22.328l0.006,3.326c0.779-0.133,1.351-0.351,1.713-0.651c0.361-0.304,0.543-0.642,0.541-1.017
		c0-0.324-0.153-0.625-0.461-0.897S39.276,22.563,38.384,22.328z"/>
	<path fill="#75BD06" d="M37,2c-9.941,0-18,8.059-18,18c0,9.94,8.059,18,18,18c9.939,0,18-8.06,18-18C55,10.059,46.939,2,37,2z
		 M45.168,25.52c-0.444,0.629-1.013,1.155-1.704,1.577c-0.691,0.424-1.429,0.73-2.208,0.922c-0.78,0.191-1.733,0.305-2.862,0.342
		l0.004,1.959l-2.011,0.004l-0.003-1.959c-1.35-0.088-2.444-0.25-3.284-0.487c-0.84-0.238-1.564-0.565-2.177-0.987
		c-0.61-0.419-1.082-0.872-1.413-1.358c-0.331-0.487-0.58-1.076-0.746-1.768l5.56-0.496c0.167,0.686,0.39,1.178,0.67,1.481
		c0.28,0.303,0.742,0.571,1.385,0.807l-0.006-3.662c-1.854-0.385-3.169-0.718-3.945-1c-0.775-0.281-1.448-0.736-2.019-1.361
		c-0.571-0.625-0.855-1.386-0.856-2.285c-0.002-1.231,0.567-2.261,1.709-3.088c1.141-0.828,2.84-1.289,5.098-1.383l-0.002-1.024
		l2.01-0.003l0.002,1.025c2.056,0.094,3.628,0.457,4.716,1.091c1.089,0.635,1.799,1.503,2.131,2.608l-5.118,0.62
		c-0.259-0.49-0.49-0.831-0.697-1.021c-0.207-0.189-0.549-0.381-1.026-0.574l0.005,2.999c2.79,0.556,4.654,1.145,5.592,1.765
		c1.24,0.835,1.861,1.896,1.863,3.181C45.834,24.195,45.612,24.889,45.168,25.52z"/>
	<path fill="#75BD06" d="M35.14,15.993c-0.229,0.216-0.344,0.469-0.344,0.761c0.001,0.306,0.117,0.571,0.351,0.797
		s0.641,0.413,1.221,0.564l-0.004-2.666C35.776,15.597,35.368,15.777,35.14,15.993z"/>
</svg>
{/if}

{if $svgId == "icon_payment_mailru"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#FFC000" d="M49.076,7.916c-4.69-4.746-14.288-7.296-21.897-1.84c-7.61,5.456-7.175,12.881-7.175,15.496
		s2.578,12.526,11.555,14.624c8.976,2.099,11.771-0.387,11.926-2.034c0.154-1.646-1.366-2.001-2.422-1.646
		c-1.058,0.354-8.635,2.646-13.883-3.293c-5.249-5.939-3.323-12.14-1.957-15.303c1.366-3.164,5.28-7.328,12.021-7.069
		c6.738,0.258,13.556,5.294,13.043,13.17c-0.512,7.878-2.516,8.265-3.169,8.231c-0.651-0.031-0.745-0.773-0.745-0.773v-14.14
		c0,0-0.155-1.711-1.584-1.743c-1.392-0.031-1.573,1.456-1.582,1.535c-0.001-0.052-0.144-0.319-1.958-1.632
		c-2.145-1.549-4.349-1.484-6.708-1.162c-2.36,0.322-5.528,2.615-6.988,5.908c-1.459,3.292-1.335,10.168,4.846,13.074
		c6.18,2.906,10.715-1.84,10.715-1.84s-0.249,2.551,1.862,4.164c2.112,1.614,6.865,0.032,8.388-6.198
		C54.885,19.215,53.766,12.662,49.076,7.916z M36.498,26.995c-3.603,0-6.522-3.078-6.522-6.876s2.92-6.876,6.522-6.876
		c3.601,0,6.521,3.079,6.521,6.876S40.099,26.995,36.498,26.995z"/>
</svg>
{/if}
	
{if $svgId == "icon_payment_mastercard"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<ellipse fill="#FEAD33" cx="45.416" cy="20" rx="12.584" ry="12.5"/>
	<path fill="#D62E19" d="M32.832,20L32.832,20l8.318-0.001c0-0.445-0.025-0.885-0.071-1.318h-8.175
		c0.048-0.447,0.119-0.887,0.213-1.318h7.747c-0.099-0.45-0.224-0.888-0.367-1.318H33.48c0.153-0.453,0.336-0.891,0.538-1.318h5.946
		c-0.214-0.457-0.455-0.897-0.721-1.321H34.75c0.291-0.461,0.613-0.9,0.96-1.318h2.597c-0.389-0.473-1.323-1.349-1.307-1.362
		C34.77,8.727,31.825,7.5,28.584,7.5C21.634,7.5,16,13.097,16,20c0,6.905,5.634,12.5,12.584,12.5c3.241,0,6.186-1.227,8.416-3.225
		c-0.467-0.42-0.891-0.883-1.291-1.365h2.598c0.342-0.416,0.648-0.859,0.937-1.318h-4.494c-0.268-0.424-0.516-0.861-0.732-1.318
		h5.947c0.2-0.428,0.382-0.865,0.533-1.318h-7.018c-0.145-0.43-0.265-0.869-0.362-1.316h7.748c0.094-0.434,0.168-0.871,0.215-1.318
		h-8.175C32.858,20.884,32.832,20.445,32.832,20z M35.335,27.455c-0.065-0.086-0.125-0.176-0.188-0.266
		C35.208,27.279,35.271,27.369,35.335,27.455z"/>
</svg>
{/if}
	
{if $svgId == "icon_payment_paypal"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#2BA0ED" d="M72.268,10.5h-2.105c-0.001,0-0.002,0.001-0.003,0.001L70.158,10.5
		c-0.482,0-0.971,0.36-1.108,0.817c-0.005,0.02-0.015,0.037-0.02,0.056c0,0-0.05,0.225-0.137,0.611l-2.892,12.783
		c-0.066,0.289-0.111,0.477-0.125,0.525l0.007,0.007c-0.102,0.447,0.174,0.816,0.626,0.857l0.006,0.009h2.187
		c0.478,0,0.964-0.355,1.104-0.809c0.008-0.021,0.017-0.042,0.022-0.064l3.154-13.921l-0.005-0.001
		C73.086,10.896,72.771,10.5,72.268,10.5z M61.47,23.063c-0.293,0.18-0.602,0.334-0.925,0.464c-0.435,0.171-0.847,0.261-1.228,0.261
		c-0.584,0-1.034-0.081-1.338-0.253c-0.304-0.163-0.464-0.448-0.457-0.854c0-0.471,0.109-0.836,0.341-1.12
		c0.232-0.276,0.576-0.498,1.004-0.662c0.424-0.142,0.947-0.257,1.55-0.34c0.536-0.065,1.598-0.185,1.734-0.186
		c0.135-0.001,0.225-0.074,0.164,0.278c-0.026,0.153-0.333,1.379-0.473,1.937C61.801,22.756,61.573,22.999,61.47,23.063
		C61.47,23.063,61.573,22.999,61.47,23.063z M65.633,14.445c-0.895-0.485-2.292-0.732-4.203-0.732c-0.946,0-1.896,0.075-2.85,0.22
		c-0.699,0.104-0.771,0.121-1.208,0.213c-0.895,0.19-1.032,1.064-1.032,1.064l-0.287,1.152c-0.163,0.736,0.268,0.705,0.459,0.648
		c0.391-0.114,0.603-0.229,1.399-0.405c0.762-0.168,1.567-0.294,2.208-0.289c0.942,0,1.658,0.101,2.135,0.294
		c0.477,0.203,0.712,0.548,0.712,1.041c0.001,0.117,0.005,0.228-0.039,0.325c-0.038,0.091-0.114,0.178-0.34,0.207
		c-1.344,0.078-2.308,0.197-3.469,0.363c-1.147,0.157-2.15,0.427-2.989,0.8c-0.894,0.388-1.562,0.903-2.023,1.561
		c-0.448,0.659-0.673,1.457-0.675,2.396c0,0.888,0.327,1.611,0.96,2.174c0.642,0.555,1.475,0.83,2.482,0.83
		c0.631-0.004,1.123-0.049,1.477-0.135c0.35-0.086,0.73-0.208,1.134-0.379c0.301-0.122,0.626-0.301,0.969-0.522
		c0.344-0.224,0.581-0.383,0.886-0.577l0.012,0.019l-0.086,0.369c0,0.004-0.006,0.006-0.006,0.01l0.003,0.007
		c-0.097,0.443,0.177,0.814,0.628,0.858l0.006,0.008h0.041l0.001,0.002c0.3,0,1.329-0.001,1.81-0.002h0.336
		c0.022,0,0.025-0.007,0.033-0.013c0.461-0.055,0.903-0.422,1.008-0.86l1.719-7.234c0.039-0.169,0.07-0.365,0.089-0.593
		c0.021-0.228,0.048-0.415,0.039-0.552C66.974,15.689,66.523,14.932,65.633,14.445L65.633,14.445z M55.284,12.798
		c-0.292-0.556-0.735-1.005-1.295-1.353c-0.574-0.349-1.257-0.591-2.046-0.733c-0.781-0.133-1.71-0.21-2.767-0.212l-4.924,0.002
		c-0.507,0.009-1.005,0.397-1.122,0.875l-3.31,14.046c-0.12,0.478,0.209,0.876,0.707,0.873l2.362-0.004
		c0.5,0.004,1.011-0.392,1.129-0.869l0.798-3.408c0.113-0.477,0.622-0.878,1.131-0.87h0.672c2.881,0,5.114-0.578,6.714-1.728
		c1.596-1.155,2.399-2.669,2.399-4.554C55.728,14.041,55.585,13.348,55.284,12.798z M50.206,17.393
		c-0.705,0.499-1.695,0.75-2.968,0.75h-0.586c-0.506,0.006-0.833-0.394-0.713-0.873l0.707-2.98c0.104-0.471,0.617-0.873,1.117-0.869
		l0.773-0.004c0.903,0.004,1.578,0.151,2.045,0.445c0.459,0.295,0.681,0.755,0.685,1.367C51.269,16.163,50.914,16.881,50.206,17.393"
		/>
	<path fill="#035DB8" d="M38.722,13.713c-0.448,0-1.036,0.356-1.314,0.787c0,0-2.999,5.043-3.293,5.547
		c-0.16,0.271-0.322,0.099-0.35-0.002c-0.021-0.122-0.929-5.512-0.929-5.512c-0.103-0.435-0.564-0.808-1.142-0.806l-1.87,0.003
		c-0.45,0-0.731,0.354-0.631,0.783c0,0,1.429,7.947,1.707,9.816c0.14,1.034-0.014,1.218-0.014,1.218l-1.854,3.169
		c-0.271,0.43-0.122,0.783,0.326,0.783l2.166-0.003c0.449,0,1.043-0.351,1.311-0.78l8.334-13.832c0,0,0.797-1.182,0.062-1.172
		C40.731,13.72,38.722,13.713,38.722,13.713z M23.074,23.063c-0.292,0.18-0.601,0.333-0.924,0.464c-0.435,0.17-0.849,0.26-1.228,0.26
		c-0.583,0-1.034-0.08-1.338-0.252c-0.304-0.164-0.464-0.449-0.458-0.855c0-0.469,0.112-0.835,0.342-1.12
		c0.232-0.276,0.575-0.498,1.002-0.662c0.426-0.142,0.95-0.256,1.552-0.339c0.536-0.065,1.598-0.185,1.734-0.187
		c0.134,0,0.225-0.074,0.165,0.278c-0.026,0.153-0.333,1.38-0.474,1.938C23.404,22.757,23.176,22.999,23.074,23.063
		C23.074,23.063,23.176,22.999,23.074,23.063z M27.237,14.445c-0.894-0.486-2.291-0.732-4.204-0.732
		c-0.945,0-1.895,0.074-2.849,0.219c-0.701,0.104-0.771,0.121-1.207,0.214c-0.895,0.19-1.032,1.063-1.032,1.063l-0.288,1.153
		c-0.163,0.736,0.269,0.705,0.459,0.648c0.39-0.115,0.603-0.229,1.399-0.406c0.761-0.167,1.567-0.293,2.208-0.288
		c0.943,0,1.659,0.1,2.135,0.293c0.477,0.203,0.711,0.549,0.711,1.042c0.004,0.117,0.006,0.228-0.037,0.325
		c-0.039,0.091-0.115,0.177-0.341,0.206c-1.342,0.079-2.307,0.198-3.47,0.364c-1.146,0.157-2.149,0.427-2.988,0.8
		c-0.894,0.387-1.562,0.904-2.022,1.561c-0.45,0.658-0.675,1.457-0.676,2.396c0,0.887,0.327,1.611,0.96,2.173
		c0.641,0.556,1.474,0.831,2.481,0.831c0.631-0.004,1.124-0.05,1.478-0.135c0.349-0.087,0.731-0.208,1.132-0.379
		c0.303-0.122,0.627-0.301,0.97-0.522c0.343-0.224,0.583-0.383,0.888-0.577l0.009,0.018l-0.085,0.37c0,0.003-0.005,0.006-0.005,0.01
		l0.003,0.006c-0.098,0.445,0.175,0.815,0.627,0.858l0.006,0.009h0.039l0.001,0.003c0.301,0,1.331-0.002,1.811-0.003h0.336
		c0.022,0,0.026-0.008,0.033-0.013c0.463-0.057,0.903-0.423,1.009-0.86l1.718-7.234c0.039-0.169,0.07-0.365,0.088-0.592
		c0.023-0.229,0.048-0.416,0.041-0.552C28.58,15.688,28.127,14.932,27.237,14.445z M16.488,12.798
		c-0.293-0.556-0.736-1.005-1.296-1.353c-0.573-0.349-1.256-0.591-2.046-0.733c-0.781-0.133-1.709-0.21-2.767-0.212l-4.923,0.002
		c-0.506,0.009-1.004,0.397-1.121,0.875L1.025,25.423c-0.121,0.478,0.208,0.876,0.706,0.873l2.362-0.004
		c0.501,0.004,1.011-0.392,1.13-0.869l0.798-3.408c0.113-0.477,0.622-0.878,1.13-0.87h0.672c2.881,0,5.115-0.578,6.715-1.728
		c1.595-1.155,2.399-2.669,2.399-4.554C16.931,14.041,16.788,13.348,16.488,12.798z M11.41,17.393
		c-0.706,0.499-1.695,0.75-2.968,0.75H7.856c-0.507,0.006-0.834-0.394-0.714-0.873l0.706-2.98c0.105-0.471,0.619-0.873,1.119-0.869
		l0.773-0.004c0.902,0.004,1.578,0.151,2.045,0.445c0.458,0.295,0.681,0.755,0.685,1.367C12.472,16.163,12.118,16.881,11.41,17.393"
		/>
</svg>
{/if}
	
{if $svgId == "icon_payment_qiwi"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#FF7200" d="M44.6,28.241c0,0-0.789-0.114-0.871,0.805c-0.084,0.919,0.897,1.437,1.547,1.106
		C45.925,29.82,45.482,28.285,44.6,28.241z"/>
	<path fill="#FF7200" d="M47.018,27.236c0,0-0.471,0.101-0.097,0.904c0.373,0.805,0.69,1.021,0.772,0.502
		C47.777,28.127,47.32,27.05,47.018,27.236z"/>
	<path fill="#FF7200" d="M48.082,27.939c0,0,3.307-3.133,3.482-10.154c0.178-7.021-5.008-12.242-9.191-13.774
		c-4.186-1.534-9.45-1.442-13.643,1.105c-4.192,2.547-8.418,7.574-8.224,15.082c0.194,7.507,5.612,10.96,5.612,10.96
		s3.806,2.983,9.676,3.116c5.869,0.135,4.127-1.709,9.869-0.703C51.402,34.577,53.5,39,53.5,39s-0.258-2.312-3.098-4.522
		c-2.838-2.213-5.288-2.381-7.547-2.716c-2.258-0.335-3.935-1.609-4.547-2.414c-0.613-0.805-0.967-1.607-0.967-1.607
		s-0.258,0.268-0.193,1.005s0.387,1.608,0.387,1.608s-8.063,0-11.514-7.742c-3.451-7.743,0.742-16.556,8.031-16.49
		c7.289,0.067,10.805,6.603,11.417,7.843c0.613,1.24,1.549,3.285,1.549,5.632c0,2.345-0.483,4.322-0.483,4.322
		s-0.902-0.771-1.741-0.904s-1.936,0.102-1.936,0.102S47.082,23.081,48.082,27.939z"/>
</svg>
{/if}
	
{if $svgId == "icon_payment_sberbank"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#38AD17" d="M46.011,4.002c-0.655-0.385-1.335-0.734-2.041-1.034l-13.887,8.035l-6.221-3.663
		c-0.418,0.456-0.807,0.938-1.176,1.436l7.319,4.558L46.011,4.002z M49.38,6.557c-0.485-0.467-0.998-0.909-1.534-1.319L30.044,15.469
		l-8.471-4.986c-0.313,0.54-0.592,1.102-0.85,1.675l9.36,5.446L49.38,6.557z M51.863,9.551c-0.353-0.531-0.723-1.05-1.129-1.539
		L30.123,19.855l-10.112-5.827c-0.195,0.613-0.345,1.244-0.473,1.882l10.544,6.238L51.863,9.551z M52.848,11.232l-22.804,13.09
		L19.241,18.09c-0.027,0.389-0.046,0.778-0.046,1.172c0,9.78,7.971,17.707,17.805,17.707c9.834,0,17.806-7.927,17.806-17.705
		C54.806,16.366,54.09,13.643,52.848,11.232z"/>
</svg>
{/if}
	
{if $svgId == "icon_payment_visa"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#0058B6" d="M31.078,10.346l-3.144,19.322h5.03l3.145-19.322H31.078L31.078,10.346z M23.701,10.346l-4.796,13.29
		l-0.567-2.862v0.002l-0.125-0.642c-0.581-1.252-1.925-3.629-4.463-5.657c-0.75-0.601-1.507-1.112-2.239-1.55l4.359,16.741h5.241
		l8.003-19.322H23.701L23.701,10.346z M43.333,15.71c0-2.184,4.898-1.903,7.051-0.717l0.719-4.15c0,0-2.216-0.843-4.524-0.843
		c-2.497,0-8.425,1.092-8.425,6.396c0,4.992,6.957,5.055,6.957,7.676s-6.239,2.152-8.3,0.499l-0.748,4.338
		c0,0,2.246,1.091,5.679,1.091s8.612-1.777,8.612-6.614C50.354,18.362,43.333,17.894,43.333,15.71z M63.86,10.346h-4.045
		c-1.867,0-2.323,1.44-2.323,1.44l-7.501,17.882h5.243l1.049-2.87h6.395l0.59,2.87h4.619L63.86,10.346z M57.733,22.833l2.643-7.23
		l1.487,7.23H57.733z"/>
	<path fill="#FEAD33" d="M16.714,12.165c0,0-0.208-1.744-2.431-1.744H6.208l-0.094,0.328c0,0,3.882,0.792,7.606,3.756
		c3.559,2.834,4.72,6.366,4.72,6.366L16.714,12.165z"/>
</svg>
{/if}
	
{if $svgId == "icon_payment_webmoney"}
<svg width="{$width}" height="{$height}" viewBox="0 0 74 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="#018FE4" d="M36.932,2c2.817,0,5.484,0.656,7.856,1.827c0.373,0.178,0.746,0.373,1.115,0.588l-1.647,1.482l-2.479-2.573
		L37.59,7.075l-2.487-2.726l-7.799,7.057l5,5.53l-1.968,1.733l4.927,5.539l-1.954,1.729l7.039,7.863l4.178-3.859l3.611,4.135
		c-0.717,0.56-1.502,1.09-2.363,1.575C43.161,37.146,40.145,38,36.93,38C27.051,38,19,29.915,19,20.001
		C19.001,10.084,27.055,2,36.932,2L36.932,2z"/>
	<polygon fill="#018FE4" points="33.667,18.861 37.93,15.008 41.768,19.288 37.503,23.144 "/>
	<polygon fill="#018FE4" points="36.699,26.257 40.961,22.407 44.803,26.686 40.536,30.539 "/>
	<polygon fill="#018FE4" points="30.613,11.552 34.878,7.699 38.716,11.979 34.452,15.832 "/>
	<polygon fill="#018FE4" points="38.438,9.479 41.638,6.587 44.514,9.8 41.319,12.69 "/>
	<polygon fill="#018FE4" points="44.122,22.715 47.322,19.828 50.2,23.036 47.003,25.926 "/>
	<polygon fill="#018FE4" points="46.936,29.202 50.133,26.311 53.011,29.521 49.816,32.409 "/>
	<polygon fill="#018FE4" points="48.223,14.341 50.355,12.415 52.275,14.552 50.145,16.48 "/>
	<polygon fill="#018FE4" points="45.501,7.982 47.631,6.057 49.549,8.198 47.42,10.122 "/>
	<polygon fill="#018FE4" points="50.952,20.701 53.081,18.772 54.999,20.914 52.872,22.841 "/>
	<polygon fill="#018FE4" points="41.39,15.934 44.585,13.043 47.467,16.252 44.268,19.143 "/>
</svg>
{/if}

{if $svgId == "icon_free_delivery"}
<svg width="{$width}" height="{$height}" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M37.604,26.98c-0.264-0.26-0.577-0.391-0.938-0.391V20c0-0.109,0.004-0.35,0.011-0.722c0.007-0.37,0.007-0.632,0-0.782
		s-0.024-0.388-0.052-0.711c-0.027-0.322-0.074-0.576-0.137-0.762c-0.063-0.185-0.16-0.396-0.291-0.628
		c-0.133-0.233-0.288-0.439-0.469-0.618L31.604,11.7c-0.264-0.262-0.615-0.481-1.052-0.659c-0.437-0.179-0.844-0.268-1.218-0.268H26
		V6.818c0-0.356-0.133-0.666-0.396-0.927C25.341,5.631,25.027,5.5,24.666,5.5H3.334c-0.361,0-0.674,0.131-0.938,0.392
		c-0.264,0.262-0.396,0.57-0.396,0.927v21.09c0,0.205,0.028,0.389,0.084,0.545c0.056,0.158,0.15,0.285,0.281,0.381
		c0.132,0.098,0.247,0.176,0.345,0.238c0.097,0.061,0.259,0.104,0.489,0.123c0.229,0.021,0.386,0.035,0.468,0.041
		c0.083,0.008,0.261,0.008,0.532,0c0.271-0.006,0.427-0.01,0.468-0.01c0,1.455,0.521,2.697,1.563,3.727
		c1.042,1.031,2.297,1.547,3.771,1.547c1.472,0,2.729-0.516,3.771-1.547c1.041-1.029,1.562-2.271,1.562-3.727h7.999
		c0,1.455,0.521,2.697,1.563,3.727c1.041,1.031,2.298,1.547,3.77,1.547c1.473,0,2.73-0.516,3.771-1.547
		c1.041-1.029,1.562-2.271,1.562-3.727h1.333c0.043,0,0.199,0.004,0.47,0.01c0.271,0.008,0.446,0.008,0.53,0
		c0.084-0.006,0.24-0.02,0.47-0.041c0.229-0.02,0.392-0.063,0.489-0.123c0.098-0.063,0.211-0.141,0.344-0.238
		c0.132-0.096,0.226-0.223,0.28-0.381c0.057-0.156,0.084-0.34,0.084-0.545C37.999,27.551,37.867,27.242,37.604,26.98z M6.985,14.333
		H5.894V9.482h3.248v0.917H6.985v1.015h1.918v0.917H6.985V14.333z M11.877,31.08c-0.528,0.521-1.154,0.783-1.875,0.783
		c-0.723,0-1.347-0.262-1.875-0.783s-0.792-1.139-0.792-1.854s0.263-1.332,0.792-1.854s1.152-0.783,1.875-0.783
		c0.722,0,1.347,0.262,1.875,0.783c0.527,0.521,0.792,1.139,0.792,1.854S12.404,30.559,11.877,31.08z M12.66,14.333
		c-0.089-0.159-0.179-0.32-0.271-0.483c-0.091-0.164-0.185-0.322-0.281-0.476c-0.096-0.154-0.191-0.3-0.285-0.438
		s-0.188-0.263-0.281-0.375h-0.539v1.771H9.912V9.553c0.238-0.047,0.484-0.08,0.738-0.098s0.482-0.028,0.683-0.028
		c0.728,0,1.286,0.13,1.673,0.389c0.388,0.259,0.581,0.662,0.581,1.208c0,0.341-0.078,0.617-0.234,0.83s-0.381,0.379-0.675,0.5
		c0.098,0.122,0.2,0.26,0.308,0.417s0.214,0.32,0.319,0.49c0.105,0.17,0.207,0.348,0.304,0.532c0.098,0.185,0.189,0.365,0.273,0.542
		H12.66z M18.018,14.333h-3.437V9.482h3.276v0.917h-2.184v0.952h1.939v0.896h-1.939v1.169h2.345V14.333z M22.26,14.333h-3.438V9.482
		h3.275v0.917h-2.184v0.952h1.939v0.896h-1.939v1.169h2.346V14.333z M30.542,31.08c-0.528,0.521-1.153,0.783-1.876,0.783
		c-0.721,0-1.347-0.262-1.875-0.783C26.264,30.559,26,29.941,26,29.227s0.264-1.332,0.791-1.854c0.528-0.521,1.154-0.783,1.875-0.783
		c0.723,0,1.348,0.262,1.876,0.783c0.526,0.521,0.792,1.139,0.792,1.854S31.07,30.559,30.542,31.08z M34,18.681h-8v-5.271h3.292
		c0.18,0,0.333,0.063,0.458,0.186l4.062,4.016C33.938,17.734,34,17.885,34,18.064V18.681z"/>
	<path fill="{$fill}" d="M11.396,10.357c-0.08,0-0.15,0.002-0.213,0.007c-0.063,0.005-0.123,0.01-0.179,0.014v1.316h0.308
		c0.411,0,0.705-0.051,0.882-0.154c0.178-0.103,0.266-0.278,0.266-0.525c0-0.238-0.09-0.407-0.27-0.508
		C12.01,10.408,11.746,10.357,11.396,10.357z"/>
</svg>
{/if}

{if $svgId == "icon_clock"}
<svg width="{$width}" height="{$height}" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M18.833,9.174c0-0.402,0-0.761,0-1.176c0.347,0,0.648,0,0.95,0c0.303,0,0.606,0,0.949,0c0.03,0.437,0.054,0.791,0.077,1.137
		c8.184,0.883,12.578,7.742,11.991,14.067c-0.655,7.056-6.568,12.005-13.258,11.793c-6.658-0.212-11.77-5.161-12.463-11.524
		C6.316,16.485,11.185,10.088,18.833,9.174z M9.43,22.563c0.079,2.496,1.015,4.594,2.59,6.455c0.353-0.233,0.682-0.403,1.041-0.118
		c0.454,0.36,0.251,0.799,0.093,1.224c1.864,1.546,3.972,2.354,6.446,2.464c0-0.973,0-1.895,0-2.86
		c0.237-0.046,0.407-0.079,0.616-0.12c0.236,1.014-0.051,2.01,0.183,2.947c2.395-0.004,5.182-1.283,6.375-2.586
		c-0.117-0.367-0.397-0.766,0.006-1.145c0.381-0.356,0.765-0.213,1.128,0.078c1.603-1.908,2.415-4.032,2.515-6.553
		c-0.777,0-1.479,0.004-2.179-0.003c-0.225-0.002-0.531,0.054-0.657-0.067c-0.413-0.396-0.897-0.271-1.361-0.279
		c-0.926-0.015-1.854-0.004-2.799-0.004c-0.479-1.94-1.697-3.075-3.578-3.553c0-1.247,0-2.457,0-3.733
		c-0.482-0.149-0.4-0.55-0.402-0.918c-0.003-0.537,0.006-1.074-0.004-1.611c-0.004-0.185-0.052-0.368-0.078-0.544
		c-2.341,0-5.142,1.295-6.358,2.618c0.189,0.341,0.323,0.724,0.017,1.075c-0.352,0.403-0.772,0.124-1.139,0.04
		c-1.56,1.768-2.605,4.581-2.369,6.438c0.263,0,0.539,0,0.815,0c0.509,0,1.019,0.005,1.527-0.002
		c0.292-0.003,0.496,0.093,0.547,0.416c-0.042,0.064-0.085,0.192-0.135,0.195C11.348,22.474,10.426,22.516,9.43,22.563z
		 M30.365,21.599c-0.088-5.952-5.734-10.295-10.205-9.873c0.01,0.603-0.098,1.213,0.082,1.853c2.171,0.129,4,0.954,5.503,2.502
		c1.493,1.538,2.264,3.398,2.483,5.562c0.62,0,1.181,0.003,1.741-0.002C30.104,21.639,30.237,21.612,30.365,21.599z"/>
	<path fill="{$fill}" d="M27.66,10.983c0.416-0.43,0.733-0.789,1.083-1.113c0.671-0.622,1.424-0.631,2.124-0.018c0.53,0.465,1.047,0.947,1.541,1.449
		c0.782,0.795,0.783,1.542,0.034,2.374c-0.282,0.314-0.573,0.62-0.912,0.985C30.203,13.487,28.997,12.229,27.66,10.983z"/>
	<path fill="{$fill}" d="M19.638,7.368c-0.565,0-1.131,0.014-1.696-0.004c-0.801-0.024-1.252-0.469-1.243-1.189c0.008-0.648,0.48-1.139,1.208-1.157
		c1.187-0.028,2.375-0.023,3.561-0.002c0.707,0.013,1.196,0.514,1.202,1.16c0.008,0.698-0.472,1.166-1.252,1.188
		C20.825,7.382,20.231,7.368,19.638,7.368z"/>
</svg>
{/if}

{if $svgId == "icon_gift"}
<svg width="{$width}" height="{$height}" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M17.236,21.982c0-0.758-0.435-1.344-1.026-1.344c-0.608,0-1.008,0.569-1.008,1.361c0,0.775,0.452,1.344,1.026,1.344
		C16.818,23.343,17.236,22.774,17.236,21.982z"/>
	<path fill="{$fill}" d="M24.347,26.546c-0.626,0-1.008,0.551-1.008,1.36c0,0.758,0.451,1.343,1.025,1.343c0.591,0,1.008-0.568,1.008-1.36
		C25.372,27.114,24.938,26.546,24.347,26.546z"/>
	<path fill="{$fill}" d="M32.998,15.539c-0.01-1.866-0.877-2.727-2.761-2.736c-1.17-0.007-2.341-0.002-3.624-0.002
		c0.496-0.449,0.915-0.795,1.294-1.181c0.956-0.973,1.202-2.152,0.845-3.427c-0.227-0.81-0.678-1.521-1.311-2.11
		C25.739,4.5,23.351,4.655,21.988,6.53c-0.55,0.755-0.914,1.646-1.325,2.492c-0.203,0.419-0.322,0.877-0.53,1.462
		c-0.146-0.438-0.216-0.746-0.346-1.025c-0.428-0.92-0.801-1.878-1.338-2.732c-0.698-1.109-1.784-1.783-3.124-1.723
		c-1.802,0.081-2.958,1.17-3.637,2.747c-0.638,1.485-0.368,2.848,0.798,4c0.334,0.33,0.702,0.626,1.177,1.047
		c-0.525,0-0.914-0.004-1.301,0.001c-1.063,0.012-2.125,0.011-3.187,0.047c-0.962,0.033-1.808,0.689-2.047,1.536
		c-0.188,0.664-0.167,3.521,0.04,4.334c0.495,0.021,1,0.044,1.647,0.072c0,0.499,0,0.896,0,1.293c0,4.035,0,8.068,0,12.101
		c0,0.291-0.019,0.585,0.018,0.871c0.129,1,0.735,1.65,1.736,1.847c0.356,0.07,0.726,0.097,1.09,0.097
		c5.576,0.007,11.152,0.007,16.729,0c0.4,0,0.808-0.035,1.199-0.115c0.918-0.188,1.552-0.892,1.646-1.802
		c0.03-0.288,0.013-0.581,0.013-0.872c0.001-4.143-0.001-8.285,0.002-12.427c0-0.316,0.031-0.632,0.049-0.982
		c0.592-0.039,1.12-0.074,1.703-0.112C32.999,17.564,33.004,16.551,32.998,15.539z M23.353,8.216c0.037-0.062,0.079-0.121,0.122-0.18
		c0.714-0.965,1.505-1.143,2.323-0.522c0.93,0.705,1.148,1.827,0.434,2.656c-0.37,0.43-0.868,0.768-1.352,1.081
		c-0.424,0.275-0.903,0.47-1.367,0.68c-0.461,0.21-0.935,0.394-1.59,0.667C22.208,10.925,22.581,9.509,23.353,8.216z M13.854,8.237
		c0.751-1.364,2.065-1.467,2.943-0.177c0.889,1.306,1.261,2.803,1.554,4.588c-1.117-0.521-2.029-0.894-2.885-1.366
		c-0.531-0.294-1.032-0.689-1.445-1.132C13.502,9.593,13.482,8.913,13.854,8.237z M13.081,21.982c0-1.775,1.234-3.239,3.147-3.239
		c1.895,0,3.129,1.464,3.129,3.255c0,1.774-1.269,3.238-3.147,3.238C14.333,25.237,13.081,23.79,13.081,21.982z M14.419,30.972
		l9.388-12.055h2.347l-9.388,12.055H14.419z M24.347,31.144c-1.878,0-3.129-1.464-3.129-3.255c0-1.773,1.234-3.237,3.146-3.237
		c1.895,0,3.129,1.446,3.129,3.255C27.493,29.663,26.225,31.144,24.347,31.144z"/>
</svg>
{/if}

{if $svgId == "icon_touch"}
<svg width="{$width}" height="{$height}" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
	<path opacity="0.25" fill="{$fill}" d="M16.874,28.942C11.335,28.377,7,23.686,7,18c0-6.065,4.935-11,11-11c5.692,0,10.389,4.347,10.944,9.896
		l1.984-0.25C30.252,10.103,24.724,5,18,5C10.82,5,5,10.82,5,18c0,6.71,5.083,12.229,11.608,12.923L16.874,28.942z"/>
	<path opacity="0.25" fill="{$fill}" d="M17.569,23.778C14.572,23.556,12.2,21.053,12.2,18c0-3.198,2.602-5.8,5.8-5.8
		c3.045,0,5.544,2.36,5.777,5.346l1.987-0.25C25.408,13.319,22.071,10.2,18,10.2c-4.308,0-7.8,3.492-7.8,7.8
		c0,4.072,3.122,7.411,7.102,7.765L17.569,23.778z"/>
	<path fill="{$fill}" d="M28.877,19.014c-0.524,0.308-0.702,0.989-0.395,1.515l0.967,1.651c0.101,0.173,0.043,0.399-0.131,0.502
		c-0.178,0.104-0.405,0.045-0.507-0.129l-1.817-3.103c-0.311-0.529-0.987-0.705-1.516-0.396c-0.527,0.308-0.704,0.985-0.394,1.515
		l1.444,2.465c0.101,0.175,0.04,0.4-0.134,0.502c-0.177,0.104-0.403,0.048-0.505-0.129l-2.07-3.532
		c-0.309-0.525-0.985-0.705-1.515-0.395c-0.53,0.31-0.704,0.989-0.397,1.514l2.071,3.533c0.103,0.176,0.043,0.4-0.136,0.505
		c-0.173,0.101-0.398,0.043-0.502-0.131l-4.764-8.13c-0.31-0.529-0.989-0.703-1.515-0.396c-0.529,0.31-0.706,0.985-0.395,1.515
		l6.631,11.316l-2.693,0.348c-0.812,0.101-1.694,0.313-2.042,0.973c-0.343,0.664-0.036,1.496,0.685,1.862
		c0,0,4.396,0.134,6.072,0.96c1.678,0.832,3.732,1.043,6.421-0.531c4.449-2.606,2.834-6.274,2.233-7.302l-3.581-6.108"/>
</svg>
{/if}

{if $svgId == "icon_couch"}
<svg width="{$width}" height="{$height}" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
	<path fill="{$fill}" d="M20.009,26.916c-4.402,0-8.803-0.001-13.206,0.001c-0.656,0.002-1.307-0.033-1.94-0.233
		c-0.972-0.309-1.658-0.936-1.818-2.041C2.89,23.56,3.139,22.557,3.74,21.663c0.038-0.056,0.082-0.109,0.129-0.158
		c0.113-0.117,0.145-0.229,0.001-0.346c-0.04-0.033-0.069-0.075-0.106-0.11c-0.692-0.664-0.903-2.029-0.329-3.05
		c0.491-0.876,1.566-1.378,2.498-1.137c1.044,0.271,1.763,1.174,1.807,2.265c0.001,0.036,0.001,0.071,0.002,0.106
		c0.009,0.255,0.017,0.511,0.025,0.768c0.223,0.014,0.448,0.031,0.671,0.042c0.148,0.007,0.295,0.006,0.442,0.006
		c7.479,0,14.958,0,22.435,0c0.26,0,0.522-0.021,0.783-0.028c0.124-0.002,0.174-0.072,0.174-0.193c0.003-0.176-0.007-0.351,0-0.526
		c0.049-1.229,1.01-2.222,2.159-2.289c1.051-0.062,2.101,0.633,2.391,1.83c0.198,0.816,0.05,1.559-0.426,2.228
		c-0.087,0.122-0.242,0.242-0.245,0.364c-0.001,0.129,0.148,0.256,0.225,0.389c0.525,0.913,0.755,1.885,0.549,2.957
		c-0.153,0.804-0.594,1.349-1.269,1.688c-0.508,0.256-1.049,0.392-1.607,0.426c-0.343,0.021-0.687,0.022-1.03,0.022
		C28.683,26.916,24.346,26.916,20.009,26.916z"/>
	<path fill="{$fill}" d="M19.957,19.015c-3.699,0-7.399,0-11.099,0c-0.338,0-0.368-0.013-0.416-0.356
		c-0.053-0.379-0.104-0.764-0.102-1.146c0.003-0.717-0.011-1.441,0.083-2.146c0.223-1.67,1.014-2.973,2.37-3.854
		c0.496-0.324,1.041-0.525,1.63-0.495c0.782,0.04,1.564,0.102,2.347,0.168c0.407,0.034,0.81,0.108,1.216,0.146
		c1.776,0.169,3.555,0.32,5.339,0.211c1.011-0.063,2.017-0.183,3.026-0.274c0.944-0.086,1.888-0.174,2.834-0.25
		c1.399-0.11,2.468,0.563,3.313,1.685c0.806,1.072,1.202,2.314,1.174,3.698c-0.015,0.68-0.048,1.361-0.079,2.042
		c-0.002,0.087-0.021,0.174-0.042,0.259c-0.075,0.312-0.076,0.313-0.396,0.313C27.422,19.015,23.689,19.015,19.957,19.015z"/>
	<path fill="{$fill}" d="M7.201,28.985c-0.229,0-0.458,0.013-0.686-0.004c-0.227-0.016-0.327-0.122-0.342-0.359
		c-0.015-0.226-0.008-0.454-0.001-0.681c0.007-0.215,0.124-0.311,0.318-0.311c0.49-0.001,0.98-0.011,1.47,0
		c0.275,0.007,0.331,0.082,0.345,0.391c0.009,0.19,0.012,0.385,0,0.575c-0.018,0.268-0.116,0.374-0.369,0.389
		c-0.245,0.014-0.491,0.003-0.735,0.003c0-0.001,0-0.001,0-0.001V28.985z"/>
	<path fill="{$fill}" d="M32.826,27.634c0.243,0,0.489-0.007,0.734,0.002c0.174,0.005,0.266,0.114,0.278,0.297
		c0.003,0.036,0.001,0.07,0.001,0.106c0.004,0.887,0.07,0.979-0.83,0.949c-0.295-0.008-0.588,0.007-0.881-0.003
		c-0.321-0.011-0.421-0.104-0.422-0.433c-0.01-0.993-0.081-0.93,0.824-0.923c0.099,0.001,0.196,0,0.295,0
		C32.826,27.631,32.826,27.633,32.826,27.634z"/>
</svg>
{/if}

{if $svgId == "icon_arrow_left"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<polygon fill="{$fill}" points="10.349,12 16.001,17.417 13.827,19.5 6.001,12 13.828,4.499 16.002,6.584"/>
</svg>
{/if}

{if $svgId == "icon_arrow_right"}
<svg width="{$width}" height="{$height}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<polygon fill="{$fill}" points="13.654,11.999 8.002,6.582 10.176,4.499 18.002,11.999 10.175,19.5 8.001,17.415"/>
</svg>
{/if}

{if $svgId == "icon_arrow_circle"}
<svg width="{$width}" height="{$height}" fill="{$fill}" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
	<path d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>
{/if}
	
{/strip}