/*traffic_light*/
small.traffic_light_green {
    height: 12px;
    padding-left: 30px;
    display: inline-block;
    color: #c3c3c3;
    background-image: url('../images/svetofor.png');
    background-repeat: no-repeat;
}
small.traffic_light_yell {
    height: 12px;
    padding-left: 30px;
    display: inline-block;
    color: #c3c3c3;
    background-image: url('../images/svetofor.png');
    background-position: 0 -12px;
    background-repeat: no-repeat;
}
small.traffic_light_red {
    height: 12px;
    padding-left: 30px;
    display: inline-block;
    color: #c3c3c3;
    background-image: url('../images/svetofor.png');
    background-position: 0 -24px;
    background-repeat: no-repeat;
}
td.prod_dostavka {
    /*padding-left: 45px;*/
    vertical-align: top;
    padding-bottom: 10px;
}
span.traffic_word {
    color: #000000;
}

ul.variants {
    width: 660px;
    display: block;
}
li.variant {
    width: 650px;
    display: inline-block;
    list-style: none;
    margin: 3px;
    padding: 3px;
    border: 2px solid white;
    cursor: pointer;
    float: left;
}
li.variant:hover {
    border: 2px solid lightskyblue;
    background: #FFE36F;
}
li.variant.checked {
    background: #FFE36F;
}
.variant_img {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    margin: 0 5px 0 0;
    cursor: pointer;
}
.variant_img input[name="variant"]:checked + label{
    border: 2px solid #FFCD00;
    cursor: pointer;
}
.variant_img label{
    background: white;
}
.variant_name_color_box {    
    width: 60px!important;
    height: 60px!important;
    overflow: hidden;

}
.variant_name_ss {
    /*width: 275px;*/
    display: inline-block;
    vertical-align: top;
}
.variant_name_ss label {
    cursor: pointer;
}

.variant_price_ss {
    width: 275px;
    display: block;
    padding-bottom: 3px;
    padding-top: 0;
    vertical-align: top;
}
.samovyvoz {
    display: inline-block;
    width: 90px;
    background-image: url('../images/pickup_today.png');
    background-size: 79px;
    background-repeat: no-repeat;
    height: 61px;
    float: right;
}
.samovyvoz_next_day {
    display: inline-block;
    width: 100px;
    background-image: url('../images/pickup_tomorrow.png');
    background-size: 85px;
    background-repeat: no-repeat;
    height: 64px;
}
.samovyvoz_no {
    display: none;
    width: 108px;
    /*background-image: url('../images/samovoz.png');
    background-size: 100px;*/
    height: 53px;
}
.prod_dostavka {
    width: 190px;
    display: inline-block;
    vertical-align: top;
    float: right;
}

tr.variant {
    cursor: pointer;
}

.product .description {
    width: 658px!important;
}
/*traffic_light/*/
.sortd a {
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: white;
    background-image: url("../images/sort.jpg");
    
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #D2D2D2;
    display: inline-block;
    font-size: 9px;
    height: 20px;
    line-height: 20px;
    margin-right: 5px;
    padding: 0 25px 0 8px;
    color: #5B5B5B;
    text-transform: capitalize;
    text-decoration: none;
}
a.nonselected {
    background-image: url("../images/sort-i.jpg");
}
#category_search {    
    float: left;
}
#menu {
    width: 730px!important;
}
span.bad_coupon {
    color: #FF6C00;
    font-weight: 600;
}

.plz_wait_loader{    
    background-image: url('ajax-loader.gif');
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px;
}
div#please_wait {
    margin: 15px;
    text-align: center;
}

#hideme span.add {
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 20px;
    background: url("../images/plus.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
#hideme span.delete {
    margin-bottom: 10px;
    display: inline-block;
    padding-left: 20px;
    background: url("../images/delete.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.selected-payment-text {
    width: 520px;
    float: left;
}
.alert {
    color: #333 !important;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}