@import url("reset.css");

html, body{width:100%;height:100%;font:13px Verdana, Arial, Helvetica, Geneva, sans-serif;background-color:#fff}
p{margin-bottom:15px}
h1{font-size:30px;margin-bottom:10px;font-weight:normal}
h2{clear:both;font-size:20px;margin-bottom:10px;font-weight:normal}
.h_2{clear:both;font-size:20px;margin-bottom:10px;font-weight:normal}

t21{clear:both;font-size:20px;margin-bottom:10px;font-weight:normal}
h3{font-size:16px;margin-top:0px;margin-bottom:10px;font-weight:normal}
a{color:#003481}
a:hover{color:#e84d07}
e[type="button"]{cursor:hand;cursor:pointer}

.icon{background-image:url("icon.png")}

#wrapper{width:980px;margin:0px auto;}
/* #wrapper:after{display:table;clear:both;content:''} */
#header{width:100%;height:170px;margin-bottom:20px}
#content, #footer{width:100%;overflow:hidden;clear:both}
.main_img {
width:300px;
height:300px!important;
text-align:center;
vertical-align:middle;
}
.main_img img{
margin:auto;
vertical-align:middle;
}
 
#pslide {max-width: 730px;}
 

#top{height:120px}
#category_search{width:980px;height:50px;background:#ffcd00}
.top{position:fixed;top:0px;z-index:100}

#reg_menu{float:left;width:100%;background-color:#eee;display:block}

#logo{float:left;width:280px;height:90px}
#logo .logo{width:236px;height:51px;margin-top:20px;display:block}
#account{float:right;  padding-top: 4px;  padding-right: 10px; font-size:12px;text-align:right;color:#505050}
#account a{border-bottom:1px dotted;text-decoration:none}
#account a:hover{color:#000;}

#menu{float:left;width:760px;padding:0px 10px}
#menu li{float:left;margin:4px 0 8px;display:block;list-style:none}
#menu li a{float:left;font-size:12px;border-bottom:1px dotted;margin-right:12px;color:#444;text-decoration:none}
#menu li.selected a, #menu li:hover a{color:#000;border-color:#000}
#contact{float:right;width:220px;height:90px;margin-right:10px;font-size:11px;text-align:right;color:#000}
#contact #phone{font-size:21px;margin-top:21px;display:block}
#catalog{float:left;width:280px;height:55px;background-position:-120px -745px}
#catalog span.nc{height:55px;line-height:50px;color:#fff;font-size:19px;list-style:none}
#catalog .icon_cat{float:left;width:50px;height:50px;background-position:-286px 0px;display:block}
/* @group Меню каталога*/
#catalog:hover #category{display:block}



#category{position:absolute;width:254px;height:378px;margin-top:5px;background:#003481;display:none;z-index:1001}
#category ul {padding-left:0px;list-style:none}
#category ul li a{min-height:42px;line-height:38px;font-size:13px;color:#fff;text-decoration:none;padding:0 6px;display:block}
#category ul li a i{float:left;width:45px;height:40px;margin-right:5px;background-position:0 -248px;display:block}
#category ul li:hover a, #category ul li a:hover{background-color:#ffcd00;color:#000;}
#category ul li ul {position:absolute;left:100%;top:0px;min-height:376px;background:#fff;border:2px solid #ffcd00;display:none;z-index:99}
#category ul li:hover ul{display:block}
#category ul li ul li{float:left;font-size:13px;width: 236px;}
#category ul li ul li a{min-height:28px;line-height:28px;border-bottom:1px solid #F5DD7C}
#category ul li ul li a i{width:0;height:0;margin-right:10px;}
#category ul li:hover ul li a{background-color:#fff}
#category ul li ul li a:hover, #category ul li ul li:hover a{background-color:#ffcd00;color:#000;}
#category ul li:hover ul li ul {top:-2px;left:100%;min-height:376px;display:none}
#category ul li ul li ul li{font-size:12px;font-weight:normal}
#category ul li:hover ul li:hover ul{display:block}
#category ul li ul li:hover ul a{background-color:#fff;}
#category ul li ul li ul li a:hover, #category ul li ul li ul li:hover a{background-color:#ffcd00;color:#000;}


#category ul li:hover ul li:hover ul li ul{display:none}
#category ul li:hover ul li:hover ul li ul li a{background-color:#fff}
#category ul li:hover ul li:hover ul li:hover ul{display:block}
#category ul li:hover ul li:hover ul li:hover ul li:hover a, #category ul li:hover ul li:hover ul li:hover ul li a:hover{background-color:#ffcd00;color:#000;}


#catalog  .act{display:block}
#catalog ul li a i.cat_217{background-position:-291px -483px}
#catalog ul li a i.cat_93{background-position:-287px -102px}
#catalog ul li a i.cat_94{background-position:-287px -146px}
#catalog ul li a i.cat_92{background-position:-287px -195px}
#catalog ul li a i.cat_34{background-position:-287px -243px}
#catalog ul li a i.cat_12{background-position:-287px -295px}
#catalog ul li a i.cat_67{background-position:-287px -342px}
#catalog ul li a i.cat_85{background-position:-287px -390px}
#catalog ul li a i.cat_1{background-position:-287px -439px}
#catalog ul li:hover a i.cat_217, #catalog ul li a:hover i.cat_217{background-position:-338px -483px}
#catalog ul li:hover a i.cat_93, #catalog ul li a:hover i.cat_93{background-position:-337px -102px}
#catalog ul li:hover a i.cat_94, #catalog ul li a:hover i.cat_94{background-position:-337px -146px}
#catalog ul li:hover a i.cat_92, #catalog ul li a:hover i.cat_92{background-position:-337px -195px}
#catalog ul li:hover a i.cat_34, #catalog ul li a:hover i.cat_34{background-position:-337px -243px}
#catalog ul li:hover a i.cat_12, #catalog ul li a:hover i.cat_12{background-position:-337px -295px}
#catalog ul li:hover a i.cat_67, #catalog ul li a:hover i.cat_67{background-position:-337px -342px}
#catalog ul li:hover a i.cat_85, #catalog ul li a:hover i.cat_85{background-position:-337px -390px}
#catalog ul li:hover a i.cat_1, #catalog ul li a:hover i.cat_1{background-position:-337px -439px}

/* @end — Меню каталога*/
#search{float:left;width:400px;}
#search form{margin:10px 0 0 10px;height:30px;}
#search .input_search{float:left;width:355px;height:20px;font-size:12px;display:block;border-style:none;padding:5px 0px 5px 5px;background:#F5DD7C;border-radius:5px 0 0 5px}
#search .button_search {float:left;width:30px;height:30px;border-style:none;cursor:pointer;display:block;background-position:-370px -9px;background-color:#F5DD7C;border-radius:0 5px 5px 0}


#compare, #cart{float:left;width:140px;height:34px;padding:8px 0;margin-left:10px}
#compare a, #cart a{color:#000;text-decoration:none}
#compare a:hover, #cart a:hover{text-decoration:underline}
.icon_compare, .icon_cart{float:left;width:37px;height:37px;margin-right:5px;display:block;}
.icon_compare{background-position:-293px -52px}
.icon_cart{background-position:-337px -50px}




#content{min-height:100%;height:auto !important;height:100%}
#left{float:left;width:230px}
#main{float:left;width:730px;margin-left:20px}
#main.all{margin-left:0px;width:980px}






.main-slider-wrapper{position:relative;margin:0px 0px 15px 267px}
.main-slider{position:relative;width:713px;height:350px;overflow:hidden}
.main-slider img{width:713px;height:350px;}
.control-prev, .control-next{position:absolute;width:75px;height:75px;top:138px;cursor:pointer;display:block;z-index:98}
.control-prev, .control-next{opacity:0.4}
.control-prev:hover, .control-next:hover{opacity:1}
.control-prev{background-position:-128px -86px;left:10px}
.control-next{background-position:-203px -86px;right:10px}
.control-prev:hover{background-position:-128px -161px}
.control-next:hover{background-position:-203px -161px}

.ttoday{width:250px;height:108px;border:2px solid #003481;display:block}
.ttoday .timers{float:right;width:150px;height:42px;background-position:0px -753px}
.ttoday .timers .names{color:#fff;font-size:18px;margin-left:25px}
.ttoday .timers span{color:#fff;font-size:12px}
.ttoday .timers .timer{margin-left:15px}
.ttoday .image{float:left;width:100px;height:108px;line-height:108px;text-align:center}
.ttoday .image img{vertical-align:middle;max-width:100px}
.ttoday .name{float:right;width:142px;height:28px;overflow:hidden;margin:4px 4px 6px}
.ttoday .name a{color:#003481}
.ttoday .name a:hover{text-decoration:none}
.ttoday .name h3{line-height:14px;font-size:12px}
.ttoday .price{float:right;width:142px;font-size:15px;font-weight:bold;padding:0 4px;color:#E4003A}



.smBanner{position:relative;margin:0px 0px 20px 256px;overflow:hidden;list-style:none}
.smBanner li{float:left;width:230px;height:110px;margin-left:11px}
.smBanner li.club{background:#000}
.smBanner li.dost{background:#ffcd00}
.smBanner li.cat{background:#003481}

.news{float:left;width:250px}
.news ul{list-style:none}
.news ul li{margin-bottom:10px}
.news ul li a{margin:3px 0;display:block}

.brands, .desc{float:left;width:710px;margin-left:20px}
.desc{margin-top:5px}
.all_brands li{background:#eee;height:80px;line-height:80px;text-align:center;padding-right:10px}
.all_brands li img{max-width:150px;vertical-align:middle;max-height:60px}
.brands .all{float:left;display:block;width:100%;margin-top:3px;text-align:right}
.brands .all a{color:#000;border: 1px solid #eee;padding:2px 10px 6px}
.brands .all a:hover{background-color:#eee}
.bx-wrapper{}
.control-barnd-prev, .control-barnd-next{float:left;height:80px;width:35px;background-color:#eee;display:block}
.control-barnd-prev{background-position:-14px -86px}
.control-barnd-next{background-position:-78px -86px}
.control-barnd-prev:hover{background-position:-14px -167px}
.control-barnd-next:hover{background-position:-78px -167px}

.reks .bx-wrapper{float: left;}
.control-products-prev, .control-products-next{float:left;height:81px;width:35px;margin-top:110px}
.control-products-prev{background-position:-14px -86px}
.control-products-next{float:right;background-position:-78px -86px}
.control-products-prev:hover{background-position:-14px -167px}
.control-products-next:hover{background-position:-78px -167px}

.control-products-prev1, .control-products-next1{float:left;height:81px;width:35px;margin-top:110px}
.control-products-prev1{background-position:-14px -86px}
.control-products-next1{float:right;background-position:-78px -86px}
.control-products-prev1:hover{background-position:-14px -167px}
.control-products-next1:hover{background-position:-78px -167px}



#blog{
	list-style: none;
}

#currencies{
	margin-bottom:15px;
}

#currencies ul{
	margin-top: 10px;
}
#currencies ul li{
	font-size: 12px;
	display: inline;
	padding-right: 5px;
	list-style: none;
}

#currencies ul li a{
	white-space: nowrap;
	color: #505050;
}
#currencies ul li.selected a{
	text-decoration: none;
}

#cart_informer{
	background-color: #fff;
	padding: 5px 13px 6px 13px;
	border-radius: 15px;
	float: right;
	margin-top: 6px;
	margin-left: 10px;
	color: #505050;
}


/* @group Шапка сайта */


/* @group Футкр сайта */




















#all_brands {
	width: 220px;
	margin-bottom: 15px;
}



#brands{clear:both;margin-bottom:10px;margin-top:10px}
#brands a{color:#ec0060;font-size:12px;margin-right:10px;}
#brands img{vertical-align:middle}
#brands a:hover{color:#000} 
#brands a.selected{background:#ec0060;color:#fff;padding:2px;}

#allbrands{list-style:none}
#allbrands li span{font-weight:bold;font-size:16px;line-height:25px}
/*[clearfix]*/#allbrands ul{list-style:none;clear:both;width:100% !important;display:block !important}
#allbrands ul li{width:33%;display:inline-block;line-height:20px;margin-bottom:5px}

#path{margin-bottom:5px;font-size:11px;color:#a0a0a0}
#path a{color:#a0a0a0}



/* @group Товар подробно */



.product .images{float:left;clear:left;width:300px}
.product .images .im{float:left;text-align:center;width:300px;padding:5px;margin-right:20px;}
.product .images .im img{max-width:300px}

.product .images .ims{margin-top:20px}
.product .images .ims a{float:left;width:50px;height:50px;line-height:50px;text-align:center;padding:5px;border:1px solid #e0e0e0;margin:4px 10px 10px 0px;display:block;}
.product .images .ims img{max-width:50px;max-height:50px;vertical-align:middle}
.product .images .ims a.active{border-color:#FFCD00}

.product .description{float: right;width:648px}

.product .raters{height:14px;margin-bottom:6px;display:block}
.product .raters span{vertical-align:middle;font-size:16px}
.product .raters span.rater-rating{font-size:11px;color:#000}
.product .rater-starsOff1, .product .rater-starsOn1{display:inline-block;height:14px;background:url(stars.png) repeat-x 0 0px}
.product .rater-starsOn1 {display:block;max-width:87px;top:0;background-position:0 -15px}


.product .features {list-style: none;
	width: 100%;
	display: block;
	clear: both;
	margin-top: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #e0e0e0;
}
.product .features li {
	padding: 10px 5px 10px 5px;
	overflow: hidden;
	border-top: 1px solid #e0e0e0;
	background-color: #f0f0f0;
}
.product .features li.even{
	background-color: #e9e9e9;
}
.product .features label {
	font-style: normal;
	display: block;
	width: 30%;
	float: left;
}
.product .features span {
	float: left;
	display: block;
	width: 70%;
}
.product .variants {
	float: left;
	font-size: 12px;
}
.product .variant td{
	padding-bottom: 6px;
	/*vertical-align: middle;*/
}
.product .compare_price {
	font-size: 14px;
	text-decoration: line-through;
	white-space: nowrap;
	color: #707070;
}
.product .price { 
	font-size: 14px;
	white-space: nowrap;
}
.price_n {
        font-size: 18px;
	white-space: nowrap;
}
.product .variant_name {
	float: left;
	margin-right: 10px;
	font-size: 12px;
}
.product .variant_radiobutton {
	margin-right: 5px;
	margin-left: 0px;
}
#back_forward {
	font-size: 14px;
	margin-bottom: 20px;
	clear: both;
}
#back_forward a.prev_page_link{
	margin-right: 20px;
}




#comments .box{float:left;width:450px;margin: 0 20px;display:block}
#comments .box .comment_form {width:410px;margin-top:0}
#comments .box .comment_form h2 {background-color:#FFCD00;padding:5px 20px 6px !important; margin:-20px 0px 10px -20px;width:430px;font-size:13px}
#comments .box .comment_form h_2 {background-color:#FFCD00;padding:5px 20px 6px !important; margin:-20px 0px 10px -20px;width:430px;font-size:13px}
#comments .box .comment_form .comment_textarea{height: 57px;}
/* @end — Товар подробно*/






.tiny_products .products .sales, .list_products .products .sales{float:left;text-transform:uppercase;padding:1px 8px 3px;margin: 30px 0 0 10px;border-radius:4px;display:block;background:#E4003A;color:#FFF;position:absolute;z-index:1}

.tiny_products .products .newss, .list_products .products .newss{float:left;text-transform:uppercase;padding:1px 8px 3px;margin-left:10px;border-radius:4px;display:block;background:#30AB80;color:#FFF;position:absolute}



.tiny_products {list-style:none;display:block;margin-left:-20px}
.tiny_products .products{float:left;width:210px;height:340px;word-spacing:normal;vertical-align:top;margin:0 0 20px 20px;padding:10px;display:block}
.tiny_products .products a{text-decoration:none}
.tiny_products .products .name{height:35px;margin-bottom:10px;overflow:hidden}
.tiny_products .products .name h3 {font-size: 14px;margin-bottom: 10px;font-weight: normal;}
.tiny_products .products .image {position:relative;width:210px;height:200px;line-height:200px;text-align:center;margin-bottom:10px}
.tiny_products .products .image img{vertical-align:bottom;max-width:210px}
.tiny_products .products .image .quick_viev{position:absolute;width:140px;height:20px;line-height:20px;top:50%;left:25px;opacity: 0.5}


.tiny_products .products .raters{height:14px;margin-bottom:6px;display:block}
.tiny_products .products .raters span{vertical-align:middle;font-size:16px}
.tiny_products .products .raters span.rater-rating{font-size:11px;color:#000}
.tiny_products .products .rater-starsOff1, .tiny_products .products .rater-starsOn1{display:inline-block;height:14px;background:url(stars.png) repeat-x 0 0px}
.tiny_products .products .rater-starsOn1 {display:block;max-width:87px;top:0;background-position:0 -15px}

.tiny_products .products .price{float:left;padding-right:10px;font-size:16px;font-weight:bold;line-height:28px}
.tiny_products .products .price.sale{color:#E4003A}
.tiny_products .products .price s{font-size:14px;font-weight:normal;line-height:0px;display:block}
.tiny_products .products .annotation{display:none}
.tiny_products .products .mask{position:absolute;margin:-5px 0 0 -5px;padding:5px;border-radius:5px;border:1px solid #fff}
.tiny_products .products:hover{-webkit-box-shadow:0 0 6px #CDCDCD;box-shadow:0 0 6px #CDCDCD;}

.tiny_products .products  .mylist_add{float:left;margin-top:16px;display:none}
.tiny_products .products  .button{display:none}
.tiny_products .products:hover .button,
.tiny_products .products:hover  .mylist_add{display:block}
.tiny_products .products:hover .image .quick_viev:hover{opacity: 0.9}

.tiny_products2 .products .sales, .list_products .products .sales{float:left;text-transform:uppercase;padding:1px 8px 3px;margin: 30px 0 0 10px;border-radius:4px;display:block;background:#E4003A;color:#FFF;position:absolute;z-index:1}

.tiny_products2 .products .newss, .list_products .products .newss{float:left;text-transform:uppercase;padding:1px 8px 3px;margin-left:10px;border-radius:4px;display:block;background:#30AB80;color:#FFF;position:absolute}



.tiny_products2 {list-style:none;display:block;margin-left:-20px}
.tiny_products2 .products{float:left;width:210px;height:340px;word-spacing:normal;vertical-align:top;margin:0 0 20px 20px;padding:10px;display:block}
.tiny_products2 .products a{text-decoration:none}
.tiny_products2 .products .name{height:35px;margin-bottom:10px;overflow:hidden}
.tiny_products2 .products .name h3 {font-size: 14px;margin-bottom: 10px;font-weight: normal;}
.tiny_products2 .products .image {position:relative;width:210px;height:200px;line-height:200px;text-align:center;margin-bottom:10px}
.tiny_products2 .products .image img{vertical-align:bottom;max-width:210px}
.tiny_products2 .products .image .quick_viev{position:absolute;width:140px;height:20px;line-height:20px;top:50%;left:25px;opacity: 0.5}


.tiny_products2 .products .raters{height:14px;margin-bottom:6px;display:block}
.tiny_products2 .products .raters span{vertical-align:middle;font-size:16px}
.tiny_products2 .products .raters span.rater-rating{font-size:11px;color:#000}
.tiny_products2 .products .rater-starsOff1, .tiny_products2 .products .rater-starsOn1{display:inline-block;height:14px;background:url(stars.png) repeat-x 0 0px}
.tiny_products2 .products .rater-starsOn1 {display:block;max-width:87px;top:0;background-position:0 -15px}

.tiny_products2 .products .price{float:left;padding-right:10px;font-size:16px;font-weight:bold;line-height:28px}
.tiny_products2 .products .price.sale{color:#E4003A}
.tiny_products2 .products .price s{font-size:14px;font-weight:normal;line-height:0px;display:block}
.tiny_products2 .products .annotation{display:none}
.tiny_products2 .products .mask{position:absolute;margin:-5px 0 0 -5px;padding:5px;border-radius:5px;border:1px solid #fff}
.tiny_products2 .products:hover{-webkit-box-shadow:0 0 6px #CDCDCD;box-shadow:0 0 6px #CDCDCD;}

.tiny_products2 .products  .mylist_add{float:left;margin-top:16px;display:none}
.tiny_products2 .products  .button{display:none}
.tiny_products2 .products:hover .button,
.tiny_products2 .products:hover  .mylist_add{display:block}
.tiny_products2 .products:hover .image .quick_viev:hover{opacity: 0.9}



.list_products{list-style:none;display:block}
.list_products .products{width:100%;padding:20px 0px;border-bottom:1px solid #CDCDCD;overflow:hidden;clear:both;display:block}
.list_products .products:last-child{border-bottom:none}
.list_products .products a{text-decoration:none}
.list_products .products .image{position:relative;float:left;width:200px;text-align:center;margin:4px 20px 20px 0px}
.list_products .products .image img{max-width:200px;max-height:150px}
.list_products .products .image .quick_viev{position:absolute;width:140px;height:20px;line-height:20px;top:50%;left:25px;opacity: 0.5;display:none}

.list_products .products .raters{height:14px;margin-bottom:6px;display:block}
.list_products .products .raters span{vertical-align:middle;font-size:16px}
.list_products .products .raters span.rater-rating{font-size:11px;color:#000}
.list_products .products .rater-starsOff1, .list_products .products .rater-starsOn1{display:inline-block;height:14px;background:url(stars.png) repeat-x 0 0px}
.list_products .products .rater-starsOn1 {display:block;max-width:87px;top:0;background-position:0 -15px}


.list_products .products .product_info{float:right;width:450px;margin-bottom:40px}
.list_products .products h3{font-size:20px;margin-bottom:5px;font-weight:normal}

.list_products .producst .annotation{font-size:12px;color:#505050;margin-bottom:5px}
.list_products .products .price{float:left;padding-left:10px;font-size:16px;font-weight:bold;line-height:30px}
.list_products .products .price.sale{color:#E4003A}
.list_products .products .price s{font-size:14px;font-weight:normal;line-height:0px;display:block}

.list_products .products:hover{-webkit-box-shadow:0 0 6px #CDCDCD;box-shadow:0 0 6px #CDCDCD;}
.list_products .products:hover .image .quick_viev{display:block}
.list_products .products .image .quick_viev:hover {opacity: 0.9}






/* Кнопка */
.button {
float: left;
cursor: pointer; 
}

.button {
font-size: 14px;
background: none repeat scroll 0% 0% #FFCD00;
border: 0px none;
text-decoration: none;
padding: 5px 10px;
font-family: arial;
color: #000;

}.button:hover {
	background:#FFBD00
}



/* @group Сортировка */
.sort {color:#505050;padding-bottom:11px;border-bottom: 1px solid #CDCDCD}
.product_view{float:right}
.product_view a, .sort a{text-decoration:underline;cursor:pointer;padding:0px 4px}
.product_view a.current, .sort .selected{text-decoration:none;color:#000;background:#FFCD00}
/* @end */


.cat_child{float:left;width:100%;margin-top:20px;display:block;list-style:none}
.cat_child li {float:left;width:231px;height:90px;margin:0px 10px 20px 0px;border:1px solid #E6E6E6;border-radius:4px;background:#F6F6F6}
.cat_child li  a{height:9px;font-size:14px;display:block}

.c_img {display:inline-block;float:left;width:80px;height:80px;line-height:80px;padding:5px;margin-right:10px;background:#fff;border-radius:4px 0px 0px 4px;text-align:center;overflow:hidden}
.c_img img{max-width:80px;max-height:80px;vertical-align:middle}
.c_text {display:table-cell;width:150px;height:90px;vertical-align:middle;font-size:12px;color:#000;}



/* @group Постраничная навигация */
.pagination {
float: left;
text-align: center;
width: 100%;
font-size: 12px;
padding-top: 11px;
border-top: 1px solid #CDCDCD;
}
.pagination a {
background-color: #FFFEFF;
margin-right: 5px;
margin-bottom: 5px;
padding: 7px 4px;
min-width: 22px;
text-align: center;
border: 1px solid #D7D7D7;
text-decoration: none;
display: inline-block;
}
.pagination a.selected:hover,
.pagination a.selected {
	background-color: #18a5ff;
	color: #ffffff;
	border-color: #008fe9;
}
.pagination a:hover {
	background-color: #f8f8f8;
}

.pagination a.next_page_link, .pagination a.prev_page_link{
	border: none;
	background: none;
}
/* @end */


/* @group Просмотренные товары */
#browsed_products{
	margin-bottom: 20px;
	overflow: hidden;
}

#browsed_products li{
	display: block;
	float: left;
	overflow: hidden;
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
	margin: 0 7px 7px 0;
	width: 50px;
	height: 50px;
}
#browsed_products li a{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}
/* @end — Просмотренные товары */


/* @group Формы */
input[type="text"],
input[type="password"]
{
	width: 100%;
	font-size: 18px;
}
.form
{
	width:400px;
	margin-bottom: 20px;
}
.form textarea
{
	width:100%;
	height:100px;
	font-size: 18px;
}
.form label {
	display:block;
	font-size: 14px;
}
.form input[type="text"]{
	display:block;
	margin-bottom: 10px;
}

/* @group Комментарии */
.comment_list {
	margin-top: 15px;
	list-style: none;
}
.comment_list li {
	padding-bottom: 15px;
}
.comment_header {
	font-size: 18px;
}
.comment_header i {
	font-weight: normal;
	font-style: normal;
	color: #878787;
	font-size: 13px;
}
/* @end — Комментарии*/

/* @group Форма отправки комментария */
.comment_form {
	background-color: #f3f3f3;
	padding: 20px;
	margin-top: 20px;
	width:940px;
	overflow: hidden;
}
.comment_form h2 {
	margin-bottom: 0px;
}
.comment_form h_2 {
	margin-bottom: 0px;
}
.comment_form .comment_textarea {
	width: 100%;
	height: 100px;
	font-size: 12px;
}
.comment_form label {
	display: block;
	float: left;
	width: 100px;
	font-size: 18px;
	margin-top: 15px;
}
.comment_form .input_name {
	font-size: 16px;
	width: 250px;
	margin-top: 15px;
}

.comment_form .testRater2{padding-top:20px;margin-left:0px;}
.comment_form .rater2 {margin-left:0px;}
.comment_form .rater-rating {margin-top:5px;}

.comment_form .rater-starsOff, 
.comment_form .rater-starsOn {display:inline-block; height:32px; background:url(stars2.png) repeat-x 0 0px;}
.comment_form .rater-starsOn {display:block; max-width:160px; top:0; background-position: 0 -60px;}
.comment_form .rater-starsOn:hover {background-position: 0 -30px!important;}

.comment_form .input_captcha, .cart_form .input_captcha{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.comment_form .captcha, .cart_form .captcha {
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.comment_form .button,
.feedback_form .button,
.register_form .button,
.login_form .button{
	float: right;
	display: block;
	margin-top: 10px;
	margin-right: 0px;
}
/* @end — Форма отправки комментария */

/* @group Форма отправки обратной связи */
.feedback_form {
	background-color: #f3f3f3;
	border: 1px solid #e0e0e0;
	padding: 20px;
	margin-top: 20px;
	width: 90%;
	overflow: hidden;
}
.feedback_form .input_captcha, .register_form .input_captcha{
	float: left;
	width: 150px;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 15px;
	height: 36px;
}
.feedback_form .captcha, .register_form .captcha{
	float: left;
	display: block;
	margin-top: 15px;
	margin-right: 10px;
}
.feedback_form .button_send {
	font-size: 18px;
	float: right;
	margin-top: 25px;
}
/* @end — Форма отправки комментария */


/* @group Корзина */
#purchases{
	width: 100%;
}
#purchases tr{
	border-top: 1px solid #d5d5d5;
	height: 70px;
}
#purchases th{
	vertical-align: top;
	padding-top: 10px;
	font-size: 18px;
	font-weight: normal;
}
#purchases .image{
	width: 50px;
	text-align: center;
}
#purchases .image a{
	border: 1px solid #e0e0e0;
	background-color: #ffffff;
	margin: 0 7px 7px 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
}

#purchases .name{
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}
#purchases td.name{
	font-size: 14px;
}
#purchases td .download_attachment{
	white-space: nowrap;
	color: #3b8500;
	padding: 5px 10px 7px 10px;
	border-bottom-color: 1px dotted green;
	background-color: #ccff72;
	line-height: 30px;
}

#purchases .price{
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
	text-align: right;
}
#purchases td.price{
	font-size: 14px;
}
#purchases .remove{
	padding-left: 15px;
	text-align: right;
}
#purchases .amount{
	font-size: 14px;
	padding-left: 5px;
	padding-right: 5px;
}
#purchases .amount select{
	font-size:12px;
}

#purchases .coupon .name{
	font-size:14px;
}
#purchases .coupon .name input.coupon_code{
	width: 200px;
}
#purchases .coupon .name input{
	font-size:16px;
}









.checkout-form {float:left;margin-top:5px}
.checkout-form_user{float:left;width:400px;padding:20px 20px 0 0;background-color:#fff}
.checkout-form_user .button{margin:15px 0px 0px 5px}
.checkout-form_deliveries{float:left;width:520px;padding:20px 0 0 20px;background-color:#fff}

.checkout-form_deliveries ul{list-style:none}
.checkout-form_deliveries ul li{margin-bottom:20px}
.checkout-form_deliveries ul li .checkbox{float:left}
.checkout-form_deliveries ul li h3, 
.checkout-form_deliveries ul li .description{display:block;margin-left:25px}
/* @end */


/* @group Кабинет */
#orders_history
{
	list-style: none;
}
#orders_history li
{
	margin-bottom: 10px;
}
#orders_history li a
{
	font-size: 16px;
}
/* @end — Кабинет */



/* @group Детали заказа */
table.order_info
{
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f9f9f9;
}
table.order_info td
{
	padding: 10px;
	border: 1px dotted #e0e0e0;
	font-size: 14px;
}
.checkout_button
{
	padding: 10px 20px 10px 20px;
	border: 1px solid #51a400;
	background-color: #d3ffa9;
	color: #2e5e00;
	font-size: 14px;
}
/* @end */


/* Сообщение с ошибкой */
.message_error{
	clear: both;
	height: 18px;
	padding: 10px 20px;
	margin-bottom: 15px;
	margin-top: 10px;
	overflow: hidden;
	color: red;
	background-color: #ffcaca;
	border: 1px dotted #ff4545;
}

/* @end */




























#footer{position:relative;height:190px;margin-top:20px;color:6b6b6b}
#social{width:360px;height:17px;margin-left:580px;background-position:0px -718px;padding:5px 20px}
#social span{float:left;height:16px;margin-right:10px;display:block}
#social a i.vk{float:left;width:20px;height:21px;background-position: -380px -697px;display:block}
#foot{width:100%;height:143px;padding-top:20px;background:#eee}
#foot .desc{float:left;width:240px;height:80px;margin-left:0;font-size:12px}
#foot .menu{float:left;width:480px;height:85pxpx;padding:0px 20px}
#foot .menu li{float:left;height:30px;display:block;list-style:none}
#foot .menu li a{float:left;margin-right:5px;font-size:12px;display:block;padding:6px 11px;color:#606060}
#foot .menu li.selected a, .menu li:hover a{text-decoration:none}
#foot .contact{float:left;width:220px;height:85px;font-size:11px;color:#000}
#foot .contact .phone{font-size:21px}
#foot .copyright{float:left;width:100%;font-size:10px;color:#999;display:block}
#foot .copyright a{color:#606060}







#filter{background:#eee;border:2px solid #a7a7a7}
#filter h3{font-size:17px;margin: 0px 0px 0px 5px;}
#filter .res{padding:3px 0px;text-align:center;}
#filter .res2{padding:3px 0px;text-align:center}
#filter .res a, #filter .res2 a{text-decoration: none;color:#999}
#filter .res a:hover, #filter .res2 a:hover{color:#333}
#filter .price_filter{border-bottom:1px solid #a7a7a7;padding-bottom:10px}
#filter form ul{border-bottom:1px solid #a7a7a7;padding:10px 5px}
#filter form ul h3 span{cursor:pointer;border-bottom:1px dashed #a7a7a7}
#filter form ul h3 span:hover{border-color:#FFCD00}

#filter form ul h3 i{width:9px;height:9px;display:block;float:left;background:url('filters-arr.png') repeat scroll 0px 0 transparent;margin: 8px 6px 0 0}
#filter form ul h3 i.off{background-position:9px 0px}

#filter form li{/*position: relative*/list-style:none}
#filter form li.disabled{color:#7A7A7A;text-decoration:line-through}
#filter form li.disabled  label i:hover{text-decoration:none}
#filter form li.disabled  label{cursor:default}
#filter form li.disabled  label i{display:none}
#filter form li label {}
#filter form li:not(.disabled) label i:hover, #filter form li:not(.disabled) label span:hover{/*text-decoration:underline;*/cursor:pointer}
#filter form li label i{color:#7A7A7A;font-style:normal}
input#min_price, input#max_price{font-size:14px;text-align:center;width:3.8em}
.price_slider{/*width:240px;position:relative*/}
.input_price{margin-top:10px;margin-left:10px}
.ui-slider{height:4px;position:relative;text-align:left;margin:20px 19px 10px 19px}
.ui-widget-content{border:1px solid #aaa;background:url(../images/ui-widget-content.gif)}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:17px;height:18px;cursor:default;top:-5px}
.ui-slider .ui-state-left, .ui-slider .ui-state-right{width:9px;height:23px;z-index:99}
.ui-slider .ui-state-left{background:url(../images/ui-state-left.png) no-repeat;margin-left:-8px}
.ui-slider .ui-state-right{background:url(../images/ui-state-right.png) no-repeat;margin-right:-8px}
.ui-slider .ui-slider-range{position:absolute;z-index:1;display:block;border:0}
.ui-widget-header{background:url(../images/ui-widget-header.gif);overflow:hidden}
.ui-slider-handle{
/*	border-radius: 50%;
	 -moz-border-radius:50%;
	 -webkit-border-radius:50%;
	 -khtml-border-radius:50%;
	width: 16px;
	height: 16px;
	background: #E0E0E0;
*/
}
.ui-slider-mark-c {
	position: absolute;
	top: -6px;
	width: 1px;
	height: 10px;
	background: #000;
	margin-left: 0;
	font-size: 1px;
}
.ui-slider .ui-slider-range.ui-widget-header-bar {
	background: url(../images/ui-widget-header-activ.gif);
	z-index:98;
}
.ui-slider .ui-slider-range.ui-widget-header-left{
	z-index:99;
	width:0px;
	background: url(../images/ui-widget-header-pre-activ.gif);
}
.ui-slider .ui-slider-range.ui-widget-header-right{
	z-index:99;
	width:0px;
	background: url(../images/ui-widget-header-pre-activ.gif);
}
.ui-widget-header-hidden {
	display: none!important;
}
.popover {
  position: absolute;
  top: -5px;
  right: 0;
  z-index: 1010;
  display: none;
  width: 100px;
  padding: 1px;
  font-size: 11px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}
.popover {
  margin-left: 10px;
}


.popover-content {
  /*padding: 3px 4px;*/
}
.popover .arrow,
.popover .arrow:after {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-right-color: white;
  border-width: 10px 10px 10px 0;
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover .arrow:after {
  bottom: -11px;
  left: -1px;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-width: 11px 11px 11px 0;
  z-index: -1;
  content: "";
}

.total_view {
  border-bottom: 7px solid #FF8700;
  background-color: #F7F7F7;
}
.apply a{
color: #0A71AE;
font-size: 18px;
text-shadow: 0px 1px 0px white;
text-decoration: none;
}
.apply a:hover {
  text-decoration: line;
}
#filter .button{float:none}

.loading {
  position: relative;
  width: 0;
  padding: 20px;  /* если задать в %, то будет рассчитываться от ширины родителя */
  background:
   linear-gradient(rgba(0,0,0,1) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.4) 70%),
   linear-gradient(to left, rgba(0,0,0,.2) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.8) 70%);
  background-repeat: no-repeat;
  background-size: 10% 100%, 100% 10%;
  background-position: 50% 0%, 0 50%;
  -webkit-animation: loading .7s infinite steps(8);
  animation: loading .7s infinite steps(8);
  margin:auto;
}
.loading:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
   linear-gradient(rgba(0,0,0,.1) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.5) 70%),
   linear-gradient(to left, rgba(0,0,0,.3) 30%, transparent 30%, transparent 70%, rgba(0,0,0,.9) 70%);
  background-repeat: no-repeat;
  background-size: 10% 100%, 100% 10%;
  background-position: 50% 0%, 0 50%;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@-webkit-keyframes loading {
  100% {-webkit-transform: rotate(1turn);}
}
@keyframes loading {
  100% {transform: rotate(1turn);}
}


.zoomPad{
	position:relative;
	float:left;
	z-index:99;
	cursor:crosshair;
}


.zoomPreload{
   -moz-opacity:0.8;
   opacity: 0.8;
   filter: alpha(opacity = 80);
   color: #333;
   font-size: 12px;
   font-family: Tahoma;
   text-decoration: none;
   border: 1px solid #CCC;
   background-color: white;
   padding: 8px;
   text-align:center;
   background-image: url(../images/zoomloader.gif);
   background-repeat: no-repeat;
   background-position: 43px 30px;
   z-index:110;
   width:90px;
   height:43px;
   position:absolute;
   top:0px;
   left:0px;
    * width:100px;
    * height:49px;
}


.zoomPup{
	overflow:hidden;
	background-color: #FFF;
	-moz-opacity:0.6;
	opacity: 0.6;
	filter: alpha(opacity = 60);
	z-index:120;
	position:absolute;
	border:1px solid #CCC;
  z-index:101;
  cursor:crosshair;
}

.zoomOverlay{
	position:absolute;
	left:0px;
	top:0px;
	background:#FFF;
	/*opacity:0.5;*/
	z-index:5000;
	width:100%;
	height:100%;
	display:none;
  z-index:101;
}

.zoomWindow{
	position:absolute;
	left:100%;
	top:40px;
	background:#FFF;
	z-index:100000;
	height:auto;
 
}
.zoomWrapper{
	position:relative;
	border:1px solid #999;
  z-index:110;
}
.zoomWrapperTitle{
	display:block;
	background:#999;
	color:#FFF;
	height:18px;
	line-height:18px;
	width:100%;
  overflow:hidden;
	text-align:center;
	font-size:10px;
  position:absolute;
  top:0px;
  left:0px;
  z-index:120;
  -moz-opacity:0.6;
  opacity: 0.6;
  filter: alpha(opacity = 60);
}
.zoomWrapperImage{
	display:block;
  position:relative;
  overflow:hidden;
  z-index:110;

}
.zoomWrapperImage img{
  border:0px;
  display:block;
  position:absolute;
  z-index:101;
}

.zoomIframe{
  z-index: -1;
  filter:alpha(opacity=0);
  -moz-opacity: 0.80;
  opacity: 0.80;
  position:absolute;
  display:block;
}
a.callme_viewform {
  border-bottom-color:#4169E1;
  border-bottom-style:hidden;
  border-bottom-width:1px;
  color:#666666;
  cursor:pointer;
  font-size: 15px;
  color: RoyalBlue;
}
/*********************************************************
/ When clicking on thumbs jqzoom will add the class
/ "zoomThumbActive" on the anchor selected
/*********************************************************/

#gp 
{
background: no-repeat;
background-image: url(../images/gp.gif);
padding-bottom: 30px;
background-size: 100%;

position: absolute;
top: 10px;
left: 10px;
z-index: 1;
width: 80px;
height: 80px;
 
background-position: 0 0;
}

.variant_name_color_box{
    width: 38px;
    height: 38px;
    border: 2px solid #777;
    border-radius: 3px;
    text-align: center;
    display: block;
    margin-right: 10px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    font-size: 0;
    cursor: pointer;
}
.variant_name_color_box img{
    vertical-align: middle;
    margin-top: 15%;
}
input[name="variant"]:checked + label{
    border: 2px solid black;
    /*margin: 0px;*/

}