/* @group Ya Comments */
.yaComments  {
	position: relative;
}
.yaComments .header {
background: #f9f9f9;
font-size: 14px;
line-height: 14px;
padding: 10px 10px 9px 10px;
overflow: hidden;
margin-bottom: 10px;
-webkit-border-radius: 3px;
        border-radius: 3px;
}

.yaComments  .open-comment-form {
	position: absolute;
	right: 0px;
	top: 40px;
}

#new_comment_form .comment_form {
  background-color: #F9F9F9;
  padding: 20px;
  margin-top: 20px;
  width: auto;
  overflow: hidden;
}

.add-comment{
	text-align: center;
	margin: 0 auto;
}

.add-comment a{
	font-size: 18px;
	float: none;
	height: 40px;
	display: block;
	line-height: 40px;
	margin-top: 60px;
	text-align: center;
	margin: 0 auto;
}


.yaComments .author {
float: left;
width:65%;
background: url('../images/yc-user.png') no-repeat left center;
font-weight: 500;
padding-left: 20px;
}

.yaComments .author:first-letter {
	font-size: 16px;
	color: #f10909;
	text-transform: uppercase;
}

.yaComments .grade {
	float: right;
	height: 16px;
	width: 96px;
	display: inline-block;
	margin-top: -2px;
}

.yaComments .date {
	float: right;
	margin-left: 20px;
	padding-left: 20px;
	background: url('../images/yc-date.png') no-repeat left center;
}

.yaComments .date:after {
	clear: both;
}

.yaComments .comment-wrap {
	margin: 5px;
}

.yaComments .head-plus {
	background: url('../images/yc-plus.png') no-repeat left center;
	padding-left: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.yaComments .head-minus {
	background: url('../images/yc-minus.png') no-repeat left center;
	padding-left: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.yaComments .head-comment {
	background: url('../images/yc-comment.png') no-repeat left center;
	padding-left: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.yaComments .yc-text {
	padding-left: 20px;
}

.yaComments .grade-0 {
	background: url('../images/yc-stars.png') no-repeat center 0;
}

.yaComments .grade-1 {
	background: url('../images/yc-stars.png') no-repeat center -17px;
}

.yaComments .grade-2 {
	background: url('../images/yc-stars.png') no-repeat center -34px;
}

.yaComments .grade-3 {
	background: url('../images/yc-stars.png') no-repeat center -51px;
}

.yaComments .grade-4 {
	background: url('../images/yc-stars.png') no-repeat center -68px;
}

.yaComments .grade-5 {
	background: url('../images/yc-stars.png') no-repeat center -85px;
}
/* @end */