@media (max-width: 543px) {
	
	.header_informer_button {
		padding-left: 1rem;
		padding-right: 0;
	}
	
	.button_item:not(:first-child) {
		padding-right: 0;
		padding-left: 1rem;
		margin-left: 0.5rem;
	}
	
	.header_informer_button .icon_text {
		padding-left: 0 !important;
		width: 3rem;
		text-align: center;
	}
	
	.search_container {background-color: #333;}
	.search_container.active {width: 100%;}
	
	.orders_history .table tr{
		display: block;
		padding: 0.5rem;
	}

	.orders_history .table td {
		display: inline-block;
		padding: 0.5rem;
	}
	
}


@media (min-width: 544px) {

	.form_modal {width: 46rem;}

	.form_single {
		padding-left: 10%;
		padding-right: 10%;
	}

	.section_title .title {text-align: center;}
	
	.featured_products .section_title_link,
	.main_comment .section_title_link {
		right: auto;
		left: 0;
	}

	.header.fixed .header_logo {
		display: block;
		width: auto;
	}
	
	.header.fixed .category_menu_trigger {
		width: auto;
		border: 0;
	}
	
	.header.fixed .cart_informer {margin-right: 0;}

	.search_form {
		display: block !important;
		width: 100%;
		margin: 0;
	}
	
	.header_informer {position: relative;}
	
	.header_informer_content {
		left: auto;
		width: 33rem;
		margin-top: 1.5rem;
	}
	
	.footer_social {text-align: right;}
	
	.footer_contact {margin-left: auto;}
	
	.product--today {margin-bottom: 0;}
	
	.product--today .shadow_box {height: 100%;}
	
	.advantage-list__item {
		min-height: 0;
		margin-bottom: 2rem;
	}
	
	.product_feature_item {
		padding: 0;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	
	.product_feature_name {border-right: 4px solid #fff;}
	
	.product_feature_name,
	.product_feature_value {
		padding: 1rem 2rem;
		width: 50%;
	}
	
	.sort {margin-top: -2.5rem;}
	
	.list .product {width: 100%;}

	.list .products_inner {overflow: hidden;}
	
	.list .product_image,
	.list .products_info,
	.list .products_price,
	.list .products_detail {float: left;}
	
	.list .product_image,
	.list .products_info,
	.list .products_price {width: 50%;}
	
	.list .product_image {
		margin-right: -1px;
		border-width: 0 1px 0 0;
	}

	.list .products_detail {
		display: block;
		width: 100%;
		border-width: 1px 0 0;
	}
	
	.list .product_name {
		height: auto;
		font-size: 1.15em;
		line-height: 1.2;
	}
	
	.list .products_price {border-width: 0 0 0 1px;}
	
	.list .products_feature {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.list .products_feature_item {
		width: 48%;
		padding: 0.5rem 1rem;
	}

	.list .products_feature_item:nth-child(4n+1),
	.list .products_feature_item:nth-child(4n+2) {background-color: #f5f6f8;}
	
	.post_inner {
		height: 100%;
		
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	
	.post_text {margin-bottom: 4rem;}
	
	.post_footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	
	.cart_total_price {
		padding: 2rem;
		font-size: 3rem;
	}
	
	.coupon_form .form_group {margin-bottom: 0;}
	
	.cart_fast_order {text-align: right;}
	
	.order_detail_item {
		display: table;
		width: 100%;
	}
	
	.order_detail_name {
		display: table-cell;
		vertical-align: top;
		width: 40%;
		padding-right: 1rem;
	}
	
	.order_detail_value {
		display: table-cell;
		vertical-align: top;
		width: 60%;
		padding-left: 1rem;
	}
	
	.comment_list_name {float: right;}
	
}

@media (min-width: 544px) and (max-width: 767px) {
	
	.grid .product:nth-child(2n) .products_detail {
		left: auto;
		right: 100%;
		margin-left: 0;
		margin-right: 2rem;
	}

	.grid .product:nth-child(2n) .products_detail::before {right: 0;}
	.grid .product:nth-child(2n) .products_detail::after {
		left: auto;
		right: 0;
	}
	
	.filter_list_item {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding-right: 1rem;
	}

}


@media (max-width: 767px) {

	.path {margin-top: -1rem;}
	
}


@media (min-width: 768px) {

	body {padding-top: 150px;}
	
	.form {padding: 4rem;}
	
	.form_single {
		padding-left: 20%;
		padding-right: 20%;
	}
	
	.form_modal_row {padding: 3rem 4rem;}
	
	.section,
	.shadow_section {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	.separator {
		padding-top: 4rem;
		margin-bottom: 4rem;
	}

	.header_content {
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	
	.category_menu_trigger {	
		border: 0;
		padding-top: 3.5rem;
		padding-bottom: 3.5rem;
	}
	
	.header.fixed .category_menu_trigger {
		padding-top: 3rem;
		padding-bottom: 3rem;
		margin-right: 1rem;
	}
	
	.cart_informer {margin-right: 0;}
	
	.header_informer_title {
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
	}
	
	.search_container {
		-webkit-transition: none;
				transition: none;
	}
	
	.header.fixed .search_container {
		position: relative;
		bottom: auto;
		right: auto;
		width: 45%;
		
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
	
	.footer_menu_item {width: 33%;}
	
	.footer_bottom {
		background-image: url(../images/logo_symbol.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 24px;
	}
	
	.brand_carousel,
	.brand_carousel_container {margin-top: 4rem;}
	
	.products_slider,
	.products_toolbar {margin-bottom: 4rem;}
	
	.product_feature_name,
	.product_feature_value {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	
	.product_feature_name {width: 40%;}
	.product_feature_value {width: 60%;}
	
	.sidebar {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		z-index: 1;
		opacity: 1;
		visibility: visible;
	}
	
	.sidebar:not(.is-opened) {
		width: 0;
		padding: 0;
		opacity: 0;
		visibility: hidden;
	}
	
	.sidebar__filter {
		padding: 2rem;
		margin: 0;
		background-color: #f5f6f8;
		border-radius: 4px;
		
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	
	.sidebar__filter-content {
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		bottom: auto;
		padding: 0;
		background: none;
		overflow: visible;
	}
	
	.sidebar__filter-submit,
	.sidebar__filter-reset {position: static;}
	
	.sidebar__filter-reset {
		margin-bottom: 3rem;
	}
	
	.sidebar__filter-content,
	.sidebar__filter-submit {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;	
	}
	
	.sidebar__filter-submit .button,
	.sidebar__filter-reset .button{
		display: block;
		width: 100%;
	}
	
	.filter select,
	.filter .checkbox_label::before{background-color: #fff;}
	
	.products-content:not(.is-filtered) {width: 100%;}
	
	#product {padding-bottom: 8rem;}
	
	.products_image_gallery {opacity: 0;}
	
	.products_image_link:hover .products_image_gallery {opacity: 1;}
	
	.similar_products {
		margin-top: -8rem;
		padding-bottom: 8rem;
	}
    
    .sale-info {
        position: relative;
        top: auto;
        right: auto;
        z-index: 1;
        width: auto;
        padding: 0;
        background: none;
        border: 0;
    }
    
    .sale-info__label {
        display: block;
        width: 100%;
        padding: 0.5rem 1rem;
        text-align: center;
        background-color: #f9ff9c;
        border: 1px dashed rgba(0,0,0,0.15);
        border-radius: 4px;
        cursor: pointer;
    }

    .sale-info__label:hover,
    .sale-info__label.active{
        color: #333;
        border-color: #eb1680;
    }

    .sale-info__detail {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 1rem;
        padding: 2rem 1.5rem;
        display: none;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    }

    .sale-info__label:hover + .sale-info__detail,
    .sale-info__label:focus + .sale-info__detail,
    .sale-info__detail:hover{display: block;}

    .sale-info__title {
        position: relative;
        display: table;
        margin: 0 auto 1rem;
        padding: 0.5rem 1.5rem;
        line-height: 2rem;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        background-color: #f06868;
    }

    .sale-info__title::before,
    .sale-info__title::after {
        content: '';
        position: absolute;
        top: 0;
        display: block;
        width: 0;
        height: 0;
        border: 1.5rem solid transparent;
    }

    .sale-info__title::before {
        left: 0;
        border-left: 0.5rem solid #fff;
    }

    .sale-info__title::after {
        right: 0;
        border-right: 0.5rem solid #fff;
    }
    
    .sale-info__price {
        display: block;
        margin: 0;
        text-align: center;
        color: inherit;
    }

    .sale-info__description {
        margin: 1rem 0;
        padding: 0.5rem 0;
        font-size: 12px;
        text-align: center;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }
    
    .sale-info__annotation {
        font-size: 10px;
        color: #eb1680;
    }
        
	.product_gallery_control {
		width: 7rem;
		height: 5rem;
		line-height: 3rem;
	}
	
	.product_quickview {width: 70rem;}
	
	.product_quickview .product_info {
		margin-top: 0;
		padding-left: 3rem;
	}
	
	.product_tab .tab,
	.product_tab .tab_inner {padding: 0;}	
	
	.product-cheap.active {margin-top: 0;}
	
	.product-cheap__form {
		position: absolute;
		top: 2rem;
		right: 0;
		width: 150%;
		box-shadow: 0 0 4px rgba(0,0,0,0.15), 0 5px 25px rgba(0,0,0,0.25);
	}
	
	.product-cheap__close {top: 3rem;}
	
	.cart-table__row {
		padding: 1rem;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
	
	.cart-table__stock {
		top: 1rem;
		left: 0.75rem;
	}
	
	.cart-table__remove {
		position: relative;
		top: auto;
		right: auto;
	}
	
	.bill_item {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	
	.bill_tax {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -0.2rem;
	}
	
	.bill_description {margin-top: 2rem;}
	
	.order_detail_section {margin: 0;}
	
	.register_advantage_icon {padding: 1.5rem;}

	.register_advantage_name {margin-top: -2rem;}
	
	.auth_container {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	
	.auth_col {float: none;}
	
	.auth_inner {height: 100%;}
	
	.auth_content {
		padding: 4rem;
		height: 100%;
		
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	
	.pagination {margin-top: 4rem;}
	
	.page_toolbar {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	
	.autocomplete-suggestions {
		left: 1rem;
		right: 1rem;
		margin-top: 1.5rem;
	}
	
}

@media (min-width: 768px) and (max-width: 991px){

	.header_contact,
	.header_informer {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;	
	}
	
	.header.fixed .header_logo {
		width: 10rem;
		height: 5.5rem;
		background: url(../images/logo_symbol.svg) no-repeat top left 1rem;
	}
	
	.header.fixed .header_logo img {display: none;}
	
	.header.fixed .search_submit {
		height: 4rem;
		right: 0.5rem;
	}
	
	.header.fixed .search_input {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	
	.frontpage_category_item {width: 20%;}
	
	.products-content.is-filtered .grid .product {width: 50%;}
	
	.products-content.is-filtered .grid .product:nth-child(2n) .products_detail {
		left: auto;
		right: 100%;
		margin-left: 0;
		margin-right: 2rem;
	}
	
	.products-content.is-filtered .grid .product:nth-child(2n) .products_detail::before {right: 0;}
	.products-content.is-filtered .grid .product:nth-child(2n) .products_detail::after {
		left: auto;
		right: 0;
	}
	
	.products-content:not(.is-filtered) .grid .product:nth-child(3n) .products_detail {
		left: auto;
		right: 100%;
		margin-left: 0;
		margin-right: 2rem;
	}
	
	.products-content:not(.is-filtered) .grid .product:nth-child(3n) .products_detail::before {right: 0;}
	.products-content:not(.is-filtered) .grid .product:nth-child(3n) .products_detail::after {
		left: auto;
		right: 0;
	}

}

@media (max-width: 991px) {

	.header_menu_inner {
		position: fixed;
		top: 0;
		right: 100%;
		z-index: 10;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0,0,0,0);
		
		-webkit-transition: all 0.2s ease;
				transition: all 0.2s ease;
	}

	.header_menu_inner.active {
		right: 0;
		background-color: rgba(0,0,0,0.5);
		
		-webkit-transition: right 0.2s ease, background-color 0.3s ease 0.2s;
				transition: right 0.2s ease, background-color 0.3s ease 0.2s;
	}

	.header_menu_list {
		display: none;
		margin-right: 25%;
		padding-left: 1rem;
		padding-top: 5rem;
		height: 100%;
		max-width: 40rem;
		overflow-y: auto;
		background-color: #262626;
	}

	.header_menu_item {
		border-top: 1px solid rgba(255,255,255,0.15);
		margin-right: 2rem;
	}

	.header_menu_item:first-child {border: 0;}
	
	.level_1.category_menu_list {
		width: 100%;
		padding: 2rem 0;
	}

}


@media (min-width: 992px) {

	body {padding-top: 200px;}
	
	.header.absolute {padding-bottom: 60px;}

	.header_menu {line-height: 20px;	}
	
	.header_menu_list {
		display: -webkit-flex !important;
		display: -ms-flexbox !important;
		display: flex !important;
		
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;	
	}
	
	.header_menu_link {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 1rem;
	}
	
	.header_account_item {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;	
	}
	
	.header_account_item:first-child {
		margin-left: auto;
		margin-right: 1rem;
		padding-right: 1rem;
		border-right: 1px solid rgba(255,255,255,0.15);
	}
	
	.header.absolute .category_menu_trigger {display: none;}
	
	.search_container {position: relative;}
	
	.search_submit {
		height: 4rem;
		right: 0.5rem;
	}
	
	.search_input {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	
	.header.absolute .category_menu_container {top: auto;}
	
	.category_menu_container.hover {background-color: rgba(0,0,0,0.3);}
	
	.category_menu_bg {
		position: absolute;
		top: 6rem;
		left: 0;
		right: 0;
		width: 94rem;
		height: 0;
		margin: 0 auto;
		border-radius: 0 0 4px 4px;
	}
	
	.category_menu_container.hover .category_menu_bg {
		background-color: #fff;
		box-shadow: 0 4px 3px rgba(0,0,0,0.1);
	}
	
	.category_menu_container.hover::after,
	.category_menu_container.active::after {
		top: 6rem;
		border-top: 1px solid #fff;
		pointer-events: none;
	}
	
	.category_menu {
		height: auto;
		overflow-y: visible;
		padding: 0;
		box-shadow: 0 -1px rgba(0,0,0,0.1), 0 1px rgba(255,255,255,0.75);
	}
	
	.header.absolute .category_menu {display: block !important;}
	
	.level_1.category_menu_list {display: table;}
	
	.level_1.category_menu_item {
		display: table-cell;
		vertical-align: middle;
	}
	
	.level_1.category_menu_name,
	.level_1.category_menu_item.active .level_1.category_menu_name{
		padding: 0;
		margin: 0;
		border-width: 0 1px;
		text-align: center;
		line-height: 6rem;
	}
	
	.level_1.category_menu_item:first-child .level_1.category_menu_name {border-left: 0;}
	.level_1.category_menu_item:last-child .level_1.category_menu_name {border-right: 0;}
	
	.level_1.category_menu_link {
		display: inline-block;
		vertical-align: middle;
		min-width: 9rem;
		padding: 1rem 1rem;
		font-size: 0.75em;
		line-height: 1.5rem;
	}
	
	.level_2.category_menu_list {
		display: none;
		position: absolute;
		top: 100%;
		left: 1rem;
		right: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		background: none;
		box-shadow: none;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		
		-webkit-transition: opacity 0.2s ease;
				transition: opacity 0.2s ease;
	}
	
	.level_1.category_menu_item.hover .level_2.category_menu_list {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
		
		-webkit-transition-delay: 0.2s;
				transition-delay: 0.2s;
	}
	
	.level_2.category_menu_item:not(.expanded),
	.expanded .level_3.category_menu_item{
		display: inline-block;
		vertical-align: top;
		width: 33.333%;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	
	.category_menu_back {left: 1rem;}
	
	.category_menu_name--sale { 
		color: inherit;

		background:-webkit-linear-gradient(top,#ffc600 0%,#cf6b09 100%);
		background:-ms-linear-gradient(top,#ffc600 0%,#cf6b09 100%);
		background:-o-linear-gradient(top,#ffc600 0%,#cf6b09 100%);
		background:linear-gradient(to bottom,#ffc600 0%,#cf6b09 100%);
	}

	.category_menu_name--sale .category_menu_link {text-shadow: none;}
	
	.footer_general {width: 30%;}
	
	.footer_menu_item {width: 49%;}
	
	.footer_contact {
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}
	
	.main-slider {
		float: right;
		margin-bottom: 0;
	}
	
	.main-slider__item {height: 33rem;}
	
	.main-slider img {height: 100%;}
	
	.product--today {
		height: 33rem;
		min-height: 0;
		z-index: 1;
	}
	
	.product--today .products_info {padding-top: 0;}
	
	.product--today .product_image {
		height: 22rem;
		line-height: 19rem;
	}

	.product--today .product_name {
		height: auto;
		font-size: 0.85em;
	}
	
	.advantage-list__item  {margin-bottom: 0;}
	
	.advantage-list__item-inner {height: 100%;}
	
	.advantage-list__item-inner::before {
		right: auto;
		width: 390%;
		height: 15rem;
		margin-top: -6rem;
		margin-right: 0;
	}
	
	.advantage-list__item:nth-child(1) .advantage-list__item-inner::before {
		top: 100%;
		left: -30%;
	}
	
	.advantage-list__item:nth-child(2) .advantage-list__item-inner::before {
		top: 100%;
		left: -140%;
	}
	
	.advantage-list__item:nth-child(3) .advantage-list__item-inner::before {
		top: 100%;
		left: -260%;
	}
	
	.advantage-list__item-content {
		height: 30rem;
		padding: 2rem;
	}
	
	.advantage-list__item-icon {
		height: 10rem;
		padding: 0;
		text-align: center;
		
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
		
		-webkit-align-self: flex-end; 
		-ms-flex-item-align: end; 
		align-self: flex-end; 
	}
	
	.advantage-list__item-text {padding: 0;}
	
	.advantage-list__item-annotation {margin: 2rem 0;}
	
	.frontpage_category_item {width: 11.111%;}
	
	.products-content:not(.is-filtered) .list .product_image,
	.products-content:not(.is-filtered) .list .products_info,
	.products-content:not(.is-filtered) .list .products_price {width: 50%;}
	
	.products-content:not(.is-filtered) .list .products_feature_item {width: 31.333%;}
	
	.list .products_feature_item:nth-child(4n+1),
	.list .products_feature_item:nth-child(4n+2){background-color: #fff;}
	
	.list .products_feature_item:nth-child(6n+1),
	.list .products_feature_item:nth-child(6n+2),
	.list .products_feature_item:nth-child(6n+3){background-color: #f5f6f8;}
	
	.products-content:not(.is-filtered) .grid .product:nth-child(4n) .products_detail {
		left: auto;
		right: 100%;
		margin-left: 0;
		margin-right: 2rem;
	}
	
	.products-content:not(.is-filtered) .grid .product:nth-child(4n) .products_detail::before {right: 0;}
	.products-content:not(.is-filtered) .grid .product:nth-child(4n) .products_detail::after {
		left: auto;
		right: 0;
	}
	
	.products-content.is-filtered .grid .product {width: 33.333%;}
	
	.products-content.is-filtered .grid .product:nth-child(3n) .products_detail {
		left: auto;
		right: 100%;
		margin-left: 0;
		margin-right: 2rem;
	}
	
	.products-content.is-filtered .grid .product:nth-child(3n) .products_detail::before {right: 0;}
	.products-content.is-filtered .grid .product:nth-child(3n) .products_detail::after {
		left: auto;
		right: 0;
	}
	
	.product_quickview {width: 80rem;}
	
	.register_advantage_item {
		padding: 0 2rem;
		margin-right: 3rem;
	}

	.register_advantage_item:last-child {margin-right: 0;}

	.register_advantage_item::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 100%;
		display: block;
		width: 3rem;
		height: 2px;
		margin-top: -1px;
		background-color: #f5f5f5;
	}

	.register_advantage_item:last-child::after {display: none;}
	
	.coupon_form .notice {
		padding: 1rem 1.5rem;
		margin-bottom: 1.5rem;
	}
	
	.orders_history {
		margin-bottom: 0;
		float: right;
	}
	
	.compare_table td {
		width: 23rem;
		min-width: 23rem;
	}
	
	.compare_table tr:last-child td {padding-bottom: 1.5rem;}
	
	.product_sku {
		position: absolute;
		margin: 0;
		bottom: 0;
		right: 0;
		text-align: right;
	}
	
	.product_share {
		margin-top: -2rem;
		text-align: right;
	}
	
	.cart-table__row--title {
		background-color: #333;
		border-radius: 5px 5px 0 0;
	}
	
	.cart-table__image {width: 12%;}
	
	.cart-table__name {
		width: 23%;
		margin: 0;
	}
	
	.cart-table__stock {width: 12%;}
	
	.cart-table__amount {width: 14%;}
	
	.cart-table__price {width: 12%;}
	
	.cart-table__sale {width: 11%;}
	
	.cart-table__remove {
		width: 4%;
		padding-left: 0;
		padding-right: 0;
	}
	
	.cart-table__stock {
		position: relative;
		top: auto;
		left: auto;
	}
	
	.autocomplete-suggestions {
		width: 140%;
		left: -20%;
	}

}

@media (min-width: 1200px) {

	.moveup_container {display: block;}
	
}