/*
 * ОБЩЕЕ
 * ШАПКА
 * МЕНЮ КАТЕГОРИЙ
 * ФУТЕР
 * ГЛАВНАЯ СТРАНИЦА
 * СТРАНИЦА ТОВАРА
 * ПРЕВЬЮ ТОВАРА
 * СТРАНИЦА КАТЕГОРИИ
 * СТРАНИЦА КОРЗИНЫ
 * СТРАНИЦА ОФОРМЛЕННОГО ЗАКАЗА
 * СТРАНИЦА НОВОСТЕЙ
 * СТРАНИЦЫ ПРОФИЛЯ
 * СТРАНИЦА ОТЗЫВОВ
 * СТРАНИЦА СРАВНЕНИЯ
 * ДРУГИЕ СТРАНИЦЫ
 * ДРУГОЕ
*/


/* BEGIN - ОБЩЕЕ */

.fleft {
	float: left;
	display: block;
}

.fright {
	float: right;
	display: block;
}

.inline_block {
	float: none;
	display: inline-block;
	vertical-align: top;
}

.inline_block_middle {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

.static {position: static;}
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.flex_col {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
}

.flex_wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex_align_center {
	-webkit-align-items: center;
	-ms-flex-align: center;  
	align-items: center;
}

.flex_align_justify {
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;  
	align-items: stretch;	
}

.flex_content_center {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex_content_justify {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.flex_item_center {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
}

.flex_item_justify {
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
}

.flex_item {float: none;}

.no_margin {margin: 0 !important;}
.no_padding {padding: 0 !important;}
.no_border {border: 0 !important;}
.no_float {float: none !important;}

.animated {
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #fff;
}

.shadow_section {
	padding-top: 3rem;
	padding-bottom: 3rem;
	box-shadow: inset 0 4px 5px -3px rgba(0, 0, 0, .2), inset 0 -4px 5px -3px rgba(0, 0, 0, .2);
}

.section_title {position: relative;}

.section_title .title {text-align: left;}

.section_title_link {
	position: absolute;
	top: 1rem;
	right: 0;
	font-weight: 400;
}

.shadow_box {
	position: relative;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.15);
	border-radius: 5px;
}

.shadow_box_item {
	padding: 1.5rem;
	border-width: 1px 0 0;
	border-style: solid;
	border-color: #ececec;
}

.shadow_box_item:first-child{border-width: 0;}

.separator {
	position: relative;
	padding-top: 3rem;
	margin-bottom: 3rem;
}

.separator::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 1rem;
	right: 1rem;
	border-radius: 100%;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
	height: 1rem;
}

.separator::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;
}

.section .separator::after {background-color: #fff;}

/* END - ОБЩЕЕ */


/* BEGIN - ШАПКА */

.header {
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	z-index: 100;
}

.header.fixed {
	-webkit-transition: top 0.3s ease;
			transition: top 0.3s ease;
}

.header.header_moving {top: -10rem;}

.header_menu {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #333;
}

.header_menu_trigger {margin-left: 1rem;}

.header_menu_trigger.active {z-index: 2;}

.header_menu_link {
	display: block;
	padding: 1rem;
	padding-left: 0;
}

.header_menu_link:hover,
.header_menu_link.active {color: #fff;}

.header_content {min-width: 320px;}

.header_contact {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.header_contact {
	height: 10rem;
	line-height: 20px;
}

.search_container {
	bottom: 100%;
	right: 0;
	padding-top: 1rem;
	padding-bottom: 1rem;
	
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;	
}

.search_trigger {
	padding: 0.3rem;
	cursor: pointer;
}

.search_open,
.active .search_close {
	opacity: 1;
	display: block;
}

.search_close,
.active .search_open {
	opacity: 0;
	display: none;
}

.search_form {
	display: none;
	margin-right: 1rem;
}

.search_input {
	padding-right: 5rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.search_submit {
	top: 0;
	right: 0;
	height: 3rem;
	padding: 0.5rem;
	cursor: pointer;
}

.compare_informer {margin-left: auto;}

.cart_informer {margin-right: auto;}

.header_informer_title {
	display: block;
	line-height: 20px;
}

.header_informer_button {z-index: 2;}

.header_informer_button::before,
.header_informer_button::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	margin-left: -10px;
	border: 10px solid transparent;
	visibility: hidden;
	opacity: 0;
	
	-webkit-transform: translateY(3rem);
			transform: translateY(3rem);
	
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.header_informer_button::before {margin-top: -5px;}

.header_informer_button.active::before,
.header_informer_button.active::after {
	visibility: visible;
	opacity: 1;
	
	-webkit-transform: translateY(0);
			transform: translateY(0);
			
	-webkit-transition: all 0.1s ease 0.1s;
			transition: all 0.1s ease 0.1s;
}

.header_informer_button.active::after {border-bottom-color: #fff;}

.header_informer_button.active::before {border-bottom-color: #db076f;}

.compare_informer .header_informer_button.active::before {border-bottom-color: #545454;}

.header_informer_content {
	top: 100%;
	right: 1rem;
	left: 1rem;
	z-index: 1;
	display: none;
	line-height: 1.2;
	background-color: #fff;
	border: 4px solid #db076f;
	box-shadow: 0 0 10px #6f7278;
	border-radius: 4px;
	
	-webkit-transform: translateY(3rem);
			transform: translateY(3rem);
	
	-webkit-transition: -webkit-transform 0.3s ease;
			transition: transform 0.3s ease;
}

.header_informer.active .header_informer_content {
	-webkit-transform: translateY(0);
			transform: translateY(0);
}

.compare_informer .header_informer_content {border-color: #545454;}

.header_informer_item,
.header_informer_total {
	display: table;
	width: 100%;
	padding: 1rem;
}

.header_informer_item + .header_informer_item {border-top: 1px solid #ececec;}

.header_informer_col {
	display: table-cell;
	vertical-align: middle;
	float: none;
	padding: 1rem;
}

.header_informer_price {padding-top: 1.5rem;}

.header_informer_col.image {width: 9rem;}
.header_informer_col.remove {width: 5rem;}

.header_informer_total {background-color: #fff;}
.header_informer_item + .header_informer_total {background-color: #f5f5f5;}

.header_separator {
	height: 1px;
	margin-top: -1px;
	background-color: #e6eaf0;
}

.header.fixed .header_logo,
.header.fixed .header_menu,
.header.fixed .header_contact,	
.header.fixed .header_separator,	
.header.fixed .search_container,	
.header.fixed .header_informer_title {display: none;}

.callback_time {
	font-size: 1em;
	font-weight: 700;
	color: #a4acbb;
	text-align: center;
}

.callback_time_separator {
	width: 0.7rem;
	height: 2px;
	margin: 0 1rem;
	background-color: #a4acbb;
}

/* END - ШАПКА */


/* BEGIN - МЕНЮ КАТЕГОРИЙ */

.category_menu_trigger {
	padding: 2rem;
	border-right: 1px solid #e6eaf0;
}

.category_menu_trigger .icon_text {line-height: 15px;}

.category_menu_trigger:hover,
.category_menu_trigger.active {background-color: #a4acbb;}

.category_menu_trigger:hover .icon_menu_line,
.category_menu_trigger.active .icon_menu_line {background-color: #fff;}

.category_menu_trigger:hover .icon_text,
.category_menu_trigger.active .icon_text {color: #fff;}

.category_menu_container {
	top: 100%;
	left: 0;
	right: 0;
}

.category_menu_container.active::after,
.category_menu_container.hover::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	height: 1rem;
	
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.0) 75%);
	background: 	-ms-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.0) 75%);
	background: 	 -o-linear-gradient(top, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.0) 75%);
	background:   linear-gradient(to bottom, rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.0) 75%);
}

.category_menu {
	display: none;
	height: 100%;
	overflow-y:auto;
	background: #e5e6e6;
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #f0f3f7 15%, #e6e6e8 50%, #e2e5e6 85%, #e5e6e6 100%);
	background: 	-ms-linear-gradient(top, #f6f6f6 0%, #f0f3f7 15%, #e6e6e8 50%, #e2e5e6 85%, #e5e6e6 100%);
	background: 	 -o-linear-gradient(top, #f6f6f6 0%, #f0f3f7 15%, #e6e6e8 50%, #e2e5e6 85%, #e5e6e6 100%);
	background:   linear-gradient(to bottom, #f6f6f6 0%, #f0f3f7 15%, #e6e6e8 50%, #e2e5e6 85%, #e5e6e6 100%);
}

.category_menu_showall {
	position: relative;
	display: inline-block;
	margin-top: 1rem;
}

.category_menu_showall::before,
.category_menu_showall::after {
	content:'';
	position: absolute;
	top: 50%;
	left: 100%;
	display: block;
	width: 0;
	height: 0;
	margin-top: -2px;
	margin-left: 5px;
	border: 4px solid transparent;
	
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.category_menu_showall::before {border-left-color: #eb1680; margin-left: 6px;}
.category_menu_showall::after {border-left-color: #fff;}

.level_1.category_menu_item:hover,
.level_1.category_menu_item.hover,
.level_1.category_menu_item.active {background-color: #356dd3;}

.level_1.category_menu_name {
	margin: 0 2rem;
	padding-left: 4rem;
	text-transform: uppercase;
	border-style: solid;
    border-color: rgba(255,255,255,0.4) rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(255,255,255,0.4);
    border-width: 1px 0;
}

.level_1.category_menu_item:first-child .level_1.category_menu_name {border-top: 0;}
.level_1.category_menu_item:last-child .level_1.category_menu_name {border-bottom: 0;}

.level_1.category_menu_item:hover .level_1.category_menu_name,
.level_1.category_menu_item.hover .level_1.category_menu_name,
.level_1.category_menu_item.active .level_1.category_menu_name {border-color: transparent;}

.level_1.category_menu_item.active .level_1.category_menu_name {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-left: 1rem;
	margin-top: -1px;
}

.level_1.category_menu_icon {
	top: 50%;
	left: 0.5rem;
	margin-top: -1.5rem;
}

.level_1.category_menu_item:hover .icon_more_line,
.level_1.category_menu_item.hover .icon_more_line,
.level_1.category_menu_item.active  .icon_more_line {background-color: #fff;}

.level_1.category_menu_link {
	display: block;
	padding: 1rem 0;
	text-shadow: 0 1px #fff;
}

.level_1.category_menu_item:hover .level_1.category_menu_link,
.level_1.category_menu_item.hover .level_1.category_menu_link,
.level_1.category_menu_item.active  .level_1.category_menu_link{
	color: #fff;
	text-shadow: none;
}

.level_2.category_menu_list {
	display: none;
	padding: 2rem;
	background-color: #fff;
	box-shadow: inset 0 2px 3px rgba(0,0,0,0.25), inset 0 -2px 3px rgba(0,0,0,0.25);
}

.level_2.category_menu_item:not(.expanded),
.expanded .level_3.category_menu_item {
	margin-bottom: 2rem;
	display: block;
}

.level_2.category_menu_item:last-child,
.expanded .level_3.category_menu_item:last-child  {margin-bottom: 0;}

.level_2.category_menu_link,
.expanded .level_3.category_menu_link {color: #356dd3;}

.level_3.category_menu_list,
.expanded .category_menu_list.level_4 {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: 1px solid #ececec;
	font-size: 0.85em;
	line-height: 2em;
}

.level_3.category_menu_item,
.expanded .level_4.category_menu_item {
	display: inline-block;
	vertical-align: top;
}

.level_3.category_menu_name::after,
.expanded .level_4.category_menu_name::after {
	content:'';
	display: inline-block;
	vertical-align: middle;
	margin: 0 0.5rem;
	width: 2px;
	height: 2px;
	background-color: #a9a9a9;
}

.level_3.category_menu_item:last-child .level_3.category_menu_name::after,
.expanded .level_3.category_menu_item .level_3.category_menu_name::after,
.expanded .level_4.category_menu_item:last-child .level_4.category_menu_name::after {display: none;}

.level_3.category_menu_item:hover .level_3.category_menu_link,
.level_3.category_menu_item.active .level_3.category_menu_link,
.expanded .level_4.category_menu_item:hover .level_4.category_menu_link,
.expanded .level_4.category_menu_item.active .level_4.category_menu_link {color: #356dd3;}

.level_3.category_menu_item.active .level_3.category_menu_link {border-bottom-color: initial;}

.level_3.category_menu_item.active .level_3.category_menu_link:hover {border-bottom-color: transparent;}

.level_4.category_menu_list {display: none;}

.expanded .level_2.category_menu_name {
	font-weight: 700;
	text-align: center;
	font-size: 1.42em;
}

.expanded .level_2.category_menu_link {color: inherit;}

.expanded .level_3.category_menu_list  {
	margin-top: 2rem;
	padding: 0;
	border: 0;
	font-size: 14px;
	line-height: 1.5;
}

.expanded .level_3.category_menu_item,
.expanded .category_menu_list.level_4 {display: block;}

.category_menu_back {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 3rem;
	height: 3rem;
	background: url(../images/category_menu_back.svg) no-repeat center #4a4a4a;
	opacity: 0.3;
	border-radius: 4px;
}

.category_menu_back:hover {opacity: 1;}

.category_menu_name--sale { 
	font-weight: 700;
	color: #f54747;
}

/* END - МЕНЮ КАТЕГОРИЙ */


/* BEGIN - ФУТЕР */

.footer_content {
	padding-top: 3rem;
	background-color: #333333;
}

.footer_content_item {padding-bottom: 3rem;}

.footer_sitename {
	display: block;
	margin-top: 1rem;
}

.footer_menu {margin: -1rem 0 0 -1.5rem;}

.footer_menu_item {
	margin-top: 1rem;
	padding: 0 1.5rem;
}

.footer_menu_link:hover {color: #fff;}

.footer_payment_item,
.footer_contact_item {margin-top: 2rem;}

.footer_payment_item {
	margin-top: 2.5rem;
	margin-right: 0.5rem;
}

.footer_payment .icon:not(:hover) {
	-webkit-filter: grayscale(1);
			filter: grayscale(1);
}

.footer_bottom {
	padding-top: 1.5rem;
	background-color: #262626;
}

.footer_bottom_item {padding-bottom: 1.5rem;}

.footer_social .icon {
	margin-left: 1rem;
	padding: 0.4rem;
	border-radius: 50%;
}

.footer_social .icon:not(.disabled):hover {color: #fff;}

.footer_social .icon_vk:not(.disabled):hover {background-color: #4c75a3;}
.footer_social .icon_fb:not(.disabled):hover {background-color: #3b5999;}
.footer_social .icon_tw:not(.disabled):hover {background-color: #00acee;}

/* END - ФУТЕР */


/* BEGIN - ГЛАВНАЯ СТРАНИЦА */

.main-slider {margin-bottom: 3rem;}

.main-slider .slick-dots {
	position: absolute;
	bottom: 2rem;
}

.main-slider .slick-prev {left: 2rem;}
.main-slider .slick-next {right: 2rem;}

.main-slider img {
	display: block;
	width: 100%;
}

.main-slider__item {display: none;}

.main-slider__item:first-child {display: block;}

.product--today .rating,
.product--today .compare_link{display: none;}

.product--today .product_image {
	height: 23rem;
	line-height: 20rem;
}

.product--today .products_price {
	padding-top: 0;
	border-width: 0;
}

.product--today {margin-bottom: 1.5rem;}

.advantage-list__item {
	min-height: 15rem;
	margin-bottom: 1.5rem;
}

.advantage-list__item:last-child {margin-bottom: 0;}

.advantage-list__item-inner {overflow: hidden;}

.advantage-list__item-inner:hover {box-shadow: 0 0 7px rgba(53,109,211,0.75);}

.advantage-list__item-inner::before {
	content: '';
	position: absolute;
	right: 100%;
	display: block;
	width: 30%;
	height: 390%;
	margin-right: -5rem;
	background-color: #e7e7e7;
	border-radius: 100%;
}

.advantage-list__item:nth-child(1) .advantage-list__item-inner::before {top: -30%;}
.advantage-list__item:nth-child(2) .advantage-list__item-inner::before {top: -140%;}
.advantage-list__item:nth-child(3) .advantage-list__item-inner::before {top: -260%;}

.advantage-list__item-text {line-height: 1.3;}

.advantage-list__item-annotation {margin: 1rem 0;}

.frontpage_category_item {
	display: block;
	padding: 1rem;
}

.frontpage_category_image {
	display: block;
	width: 6rem;
	height: 6rem;
	margin: 0 auto 1rem;
	background-size: 100% auto;
	background-position: center top;
	background-repeat: no-repeat;
}

.frontpage_category_item:hover .frontpage_category_image {background-position: center bottom;}

.frontpage_category_name {display: block;}

.frontpage_category_item:hover .frontpage_category_name {color: #356dd3;}

/* END - ГЛАВНАЯ СТРАНИЦА */


/* BEGIN - СТРАНИЦА ТОВАРА */

.product_sticker {
	top: 1.5rem;
	left: 1.5rem;
	z-index: 1;
	display: block;
	width: 5em;
	height: 5em;
	padding: 0.5em;
	line-height: 4em;
	text-align: center;
	overflow: hidden;
	border-radius: 50%;
	background: url(../images/product_sticker_blink.png) no-repeat center center / cover;
}

.product_sticker_text {
	position: relative;
	z-index: 2;
	display: inline-block;
	vertical-align: middle;
	width: 4em;
	height: 3em;
	line-height: 1;
	color: #fff;
	text-shadow: 1px 1px rgba(0,0,0,0.25);
	
	-webkit-transform: rotate(-15deg);
			transform: rotate(-15deg);
}

.product_sticker_today {background-color: #eb1680;}
.product_sticker_today  .product_sticker_text{text-shadow: 1px 1px rgba(0,0,0,0.5);}

.product_sticker_hit {background-color: #356dd3;}
.product_sticker_hit .product_sticker_text{text-shadow: 1px 1px rgba(0,0,0,0.75);}

.product_sticker_new {background-color: #ffc600;}
.product_sticker_new .product_sticker_text{font-size: 90%;}

.product_brand {
	position: absolute;
	top: 0;
	right: 0;
	width: 90px;
	height: 30px;
}

.product_main {margin-bottom: 2rem;}

.product_main .shadow_box {padding: 2rem;}

.product_gallery_item {display: none;}

.product_gallery_item:first-child {display: block;}

.product_gallery_video {
	width: 100%;
	padding-bottom: 66.666%;
}

.product_gallery_video iframe {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.product_gallery .slick-dots li {margin-bottom: 5px;}

.product_gallery_control {
	display: block;
	width: 6rem;
	height: 4rem;
	padding: 0.5rem;
	line-height: 2rem;
	text-align: center;
	background-color: #fff;
	border: 2px solid #ccc;
	opacity: 0.75;
}

.product_gallery .slick-dots li:hover .product_gallery_control,
.product_gallery .slick-dots li.slick-active .product_gallery_control {border-color: #356dd3;}

.product_gallery .slick-dots li.slick-active .product_gallery_control {opacity: 1;}

.product_toolbar {
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ececec;
}

.product_prefix {display: block;}

.product_sku {margin-bottom: 1rem;}

.price {white-space: nowrap;}

.currency {font-size: 60%;}

.old_price {
	position: relative;
	display: table;
}

.old_price::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1px;
	width: 100%;
	height: 2px;
	background-color: #ea0072;
}

.price-container--expanded {position: relative;}

.sale-info{
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    background-color: #f9ff9c;
    border: 1px dashed rgba(0,0,0,0.15);
    border-radius: 4px;
}

.sale-info__label-value {
    color: #eb1680;
    font-weight: 700;
}

.sale-info__price {
    margin-left: 0.7rem;
    font-size: 24px;
    font-weight: 700;
    color: #eb1680;
}

.discount_price {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.5rem 1rem;
	line-height: 1;
	border-radius: 4px;
}

.discount_price_shop {background-color: #ff7e00;}
.discount_price_user {background-color: #ea0072;}
.discount_price_coupon {background-color: #00cc66;}

.discount_price_title {
	position: absolute;
	bottom: 100%;
	left: 50%;
	z-index: 1;
	display: block;
	width: 14rem;
	padding: 1rem;
	margin-left: -7rem;
	margin-bottom: 3rem;
	color: #fff;
	font-size: 12px;
	white-space: normal;
	background-color: rgba(0,0,0,0.65);
	border-radius: 2px;
	opacity: 0;
	visibility: hidden;
}
	
.discount_price_title::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	display: block;
	width: 0;
	height: 0;
	margin-left: -0.6rem;
	border: 0.6rem solid transparent;
	border-top-color: rgba(0,0,0,0.65);
}

.discount_price:hover .discount_price_title{
	margin-bottom: 1rem;
	opacity: 1;
	visibility: visible;
	
	-webkit-transition: all 0.4s;
			transition: all 0.4s;
}

.product_single .rating_text {margin-left: 2rem;}

.product_single .rating_value {font-size: 1.15em;}

.product_image .slick-track {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	
	-webkit-align-items: center;
	-ms-flex-align: center;  
	align-items: center;
}

.product_image .slick-slide {float: none;}

.product_service {margin-top: 2rem;}

.product_service_item {width: 33.333%;}

.product_service_item + .product_service_item {border-left: 1px solid #ececec;}

.product_service_text {
	width: calc(100% - 5rem);
	line-height: 1.5rem;
}

.product_single .final_price {font-size: 3rem;}

.product_single .oneclick_link {
	display: table;
	margin: 2rem auto 0;
}

.product_single .compare_link,
.product_single .product_stock {
	width: 50%;
	margin: 0 -1px;
}

.compare_link:hover,
.oneclick_link:hover {color: #356dd3;}

.compare_link_icon .icon_shadow {display: none;}

.variants_container .variant:not(:last-child)  {margin-bottom: 1rem;}

.product_amount {padding: 0.5rem 0;}

.product_delivery_container {margin-top: 2rem;}

.samovyvoz {
    display: inline-block;
    width: 90px;
    background-image: url('../images/product_pickup_today.png');
    background-size: 79px;
    background-repeat: no-repeat;
    height: 61px;
}
.samovyvoz_next_day {
    display: inline-block;
    width: 100px;
    background-image: url('../images/product_pickup_tomorrow.png');
    background-size: 85px;
    background-repeat: no-repeat;
    height: 64px;
}
.samovyvoz_no {
    display: none;
    width: 108px;
    height: 53px;
}

.product_tab .tab {padding: 0 2rem;}

.product_tab .tab_inner {padding-bottom: 3rem;}

.product_tab .tab_header {
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	border-bottom: 4px solid #a4acbb;
}

.product_tab .tab_header .tab_link {
	margin-bottom: -4px;
	padding: 0 2rem;
	width: 50%;
	line-height: 5rem;
	background-color: #a4acbb;
}

.product_tab .tab_header .tab_link:hover,
.product_tab .tab_header .tab_link.active {
	color: #2a2a2a;
	background-color: #fff;
}

.product_tab .tab_header .tab_link:first-child {border-top-left-radius: 4px;}
.product_tab .tab_header .tab_link:last-child {border-top-right-radius: 4px;}

.product_tab .tab_body .tab_link {
	display: block;
	padding: 2rem;
	border-top: 1px solid #ececec;
}

.product_tab .tab_body .tab_link:first-child {border: 0;}

.product_feature_item {padding: 2rem;}

.product_feature_item:nth-child(2n+1) {background-color: #f5f5f5;}

.related_products {padding-top: 0 !important;}

.similar_products {
	margin-top: -1rem;
	background-color: #f2f2f2;
	box-shadow: inset 0 -4px 5px -3px rgba(0, 0, 0, .2);
}

.product_quickview .product_info {margin-top: 2rem;}

.product_quickview .price-container,
.product_quickview .variants_container {margin: 2rem 0;}

.near_products {margin-top: 2rem;}

.near_products_link:hover {color: #356dd3;}

.near_products_next {margin-left: auto;}

.product_share {margin-bottom: 2rem;}

.product_share_title {margin-right: 1rem;}

.product-cheap {
	position: relative;
	z-index: 1;
}

.product-cheap.active {margin-top: 2rem;}

.product-cheap__form {display: none;}

.product-cheap__close {
	position: absolute;
	top: 1.5rem;
	right: 1rem;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
}

.product-cheap.active .product-cheap__close {
	opacity: 1;
	visibility: visible;
	
	-webkit-transition-delay: 0.4s;
			transition-delay: 0.4s;
}

/* END - СТРАНИЦА ТОВАРА */


/* BEGIN - ПРЕВЬЮ ТОВАРА */

.products_inner:hover {z-index: 2;}

.products .product_image {
	height: 23rem;
	line-height: 20rem;
}

.products_image_link {
	display: block;
	width: 100%;
	height: 100%;
}

.products_image_gallery {
	top: 0;
	left: 0;
	display: table;
	width: 100%;
	height: 100%;
}

.products_image_gallery_item {
	position: relative;
	display: table-cell;
	vertical-align: top;
}

.products_image_gallery_item::after {
	content: '';
	position: absolute;
	bottom: 0.5rem;
	left: 0.5rem;
	right: 0.5rem;
	display: block;
	height: 3px;
	background-color: #ccc;
	
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.products_image_gallery_item.hover::after {background-color: #eb1680;}

.products_image_gallery_count {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding-top: 11rem;
	line-height: 1;
	font-weight: 700;
	background: url(../images/icon_photo.svg) no-repeat center bottom 9rem rgba(255,255,255,0.5);
	opacity: 0;
}

.products_image_gallery_count.show_count {
	opacity: 1;
	
	-webkit-transition-delay: 0.2s;
			transition-delay: 0.2s;
}

.products .product_name {
	display: block;
	height: 2.4em;
	line-height: 1.2em;
	overflow: hidden;
}

.products .product_name:hover {color: #356dd3;}

.products_info {border-width: 0;}

.product_timer {
	top: 1.5rem;
	left: 1.5rem;
	right: 1.5rem;
	z-index: 1;
}

.product_sticker + .product_timer {
	top: auto;
	bottom: 2rem;
}

.products_info .rating,
.products_info .compare_link {
	width: 50%;
	margin-top: 0.5rem;
}

.products_price .price_container {line-height: 1;}

.products_stock {
	position: absolute;
	left: 50%;
	top: 0;
	margin-top: -7px;
	padding: 0 7px;
	font-size: 11px;
	text-transform: uppercase;
	line-height: 1;
	background-color: #fff;
	
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
}

.products_detail {display: none;}

.grid .products_detail {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	margin-left: 2rem;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 7px rgba(53,109,211,0.75);
}

.grid .products_detail::before {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	z-index: 2;
	display: none;
	width: 1.5rem;
	height: 1.5rem;
	margin-top: -1rem;
	margin-right: -0.75rem;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(53,109,211,0.75);
	
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.grid .products_detail::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 3;
	display: none;
	width: 1.5rem;
	height: 4rem;
	margin-top: -2rem;
	background-color: #fff;
}

.grid .product:hover .products_detail,
.grid .product:hover .products_detail::before,
.grid .product:hover .products_detail::after {display: block;}

/* Фикс для тачскринов */
.grid .product .products_detail:hover,
.grid .product .products_detail:hover::before,
.grid .product .products_detail:hover::after {display: none !important;}

.grid .products_feature {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.grid .products_feature::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	height: 3rem;
	
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: 	 -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: 	-ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background:   linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}

/* Карусель товаров */
.products_carousel .product {
    margin: 1rem;
	padding: 0;
}

.main_comment_list .slick-arrow,
.products_carousel .slick-arrow {
	top: 0;
	margin-top: -5rem;
}

.main_comment_list .slick-next,
.products_carousel .slick-next {right: 1rem;}

.main_comment_list .slick-prev,
.products_carousel .slick-prev {
	left: auto;
	right: 6rem;
}

/* END - ПРЕВЬЮ ТОВАРА */


/* BEGIN - СТРАНИЦА КАТЕГОРИИ */

.products_slider {margin-bottom: 3rem;}

.subcategories_list {margin-top: 1rem;}

.subcategories_item {margin-top: 2rem;}

.subcategories_link {
	display: block;
	background-color: #f5f6f8;
	overflow: hidden;
}

.subcategories_link:hover {
	color: #fff;
	background-color: #a4acbb;
}

.subcategories_image {
	width: 7rem;
	height: 7rem;
	margin: 0 -1px;
	background-color: #fff;
	background-size: 90%;
	background-position: center;
	background-repeat: no-repeat;
}

.subcategories_name {
	width: calc(100% - 7rem);
	padding: 1rem 1.5rem;
	margin: 0 -1px;
}

.brand_carousel,
.brand_carousel_container {margin-top: 3rem;}

.brand_carousel {
	height: 7rem;
	padding-left: 5rem;
	padding-right: 5rem;
	line-height: 7rem;
	overflow: hidden;
}

.brand_carousel_item {
	height: 7rem;
	margin: 0 1rem;
}

.brand_carousel_name {
	padding: 0.5rem 1rem;
	line-height: 1.2;
	border: 2px solid #a4acbb;
	border-radius: 4px;
}

.products_toolbar {margin-bottom: 1.5rem;}

.products_toolbar_item {margin-bottom: 1.5rem;}

.change_view_icon {
	cursor: pointer;
	padding: 0.8rem 1.3rem;
	background-color: #f5f6f8;
	border-width: 0 1px;
	border-style: solid;
	border-color: #ececec;
	box-shadow: inset 0 1px 3px rgba(130,130,130,0.2);
}

.change_view_icon:hover,
.change_view_icon.active {
	color: #fff;
	background-color: #a4acbb;
	border-color: #a4acbb;
	box-shadow: inset 0 1px 3px rgba(130,130,130,0);
}

.change_view_icon:first-child {
	border-left: 0;
	border-radius: 5px 0 0 5px;
}
.change_view_icon:last-child {
	border-radius: 0 5px 5px 0;
	border-right: 0;
}

.sort_title {
	margin-bottom: 0.5rem;
	line-height: 2rem;
}

.sidebar {
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
}

.sidebar.is-opened {
    top: 0;
    opacity: 1;
    visibility: visible;
}

.sidebar__filter {
    margin-left: -1rem;
    margin-right: -1rem;
    height: 100%;
    background-color: #f5f6f8;
}

.sidebar__filter-title {
    padding: 1.5rem 2rem;
    background-color: #4a4a4a;
}

.sidebar__filter-close {
    margin-right: -.5rem;
}

.sidebar__filter-content {
    position: absolute;
    top: 6rem;
    bottom: 6rem;
    left: 0;
    right: 0;
    padding: 2rem;
    overflow-y: auto;
    background-color: #fff;
}
.sidebar__filter-reset,
.sidebar__filter-submit {
    position: absolute;
    bottom: 1rem;
}

.sidebar__filter-submit {
    right: 1rem;
}

.sidebar__filter-reset {
    left: 1rem;
}

.sidebar__inner {
    padding: 2rem;
    background-color: #f5f6f8;
    border-radius: 4px;
}

.sidebar__menu-list {
    display: none;
    margin-top: 1rem;
    margin-left: -.5rem;
    line-height: 1;
}

.sidebar__menu-trigger::before {
    margin-top: -1px;
    content: '';
}

.sidebar__menu-item {
    padding-left: 1.75rem;
    margin-bottom: 1rem;
}

.sidebar__menu-item:last-child {
    margin-bottom: 0;
}

.sidebar__menu-trigger {
    position: absolute;
    left: 0;
    top: 1px;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.sidebar__menu-trigger::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #999;
}

.sidebar__menu-trigger::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background-color: #999;
}

.sidebar__menu-trigger.active::after {
    display: none;
}

.sidebar__menu-trigger:hover::after,
.sidebar__menu-trigger:hover::before {
    background-color: #356dd3;
}

.sidebar__menu-list.level-1 {
    display: block;
    margin: 0;
}

.sidebar__menu-item.level-1 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.sidebar__menu-item.level-1:last-child {
    padding-bottom: 0;
    border: 0;
}

.sidebar__menu-link:hover {
    color: #356dd3
}

.filter input.hidden:checked + .checkbox_label,
.filter input.hidden:not(:disabled) + .checkbox_label:hover {color: #356dd3;}

.filter_item {margin-bottom: 3rem;}

.filter_item_title {padding-right: 3rem;}

.filter_item_trigger {
	top: 50%;
	right: 0;
	margin-top: -1rem;
	cursor: pointer;
}

.filter_item_content {
	border-top: 1px solid #dddddd;
	margin-top: 1rem;
	padding-top: 2rem;
}

.filter_list {margin-top: -1rem;}

.filter_list_item {margin-top: 1rem;}

.filter_list_large .filter_list_item:not(.filter_selected):nth-child(n+6) {display: none;}

.filter_showall {
	display: inline-block;
	margin-top: 1rem;
	line-height: 1.1;
}

#slider_price {
	position: relative;
	height: 1rem;
	margin: 1rem 0 2rem;
	border: 0.1rem solid #ddd;
	background-color: #fff;
}

.input_price_separator {margin: 0 1rem;}

.input_price .form_input {
	color: #a4acbb;
	text-align: center;
	font-weight: 700;
	font-size: 1em;
	background-color: #fff;
}

.ui-slider-range {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: #a4acbb;
}

.ui-slider-handle {
	position: absolute;
	top: -0.8rem;
	left: 0;
	z-index: 2;
	display: block;
	width: 2.4rem;
	height: 2.4rem;
	margin-left: -0.2rem;
	background-color: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
	border-radius: 50%;
	
	-webkit-transition: none;
			transition: none;
}

.ui-slider-handle.ui-state-hover {box-shadow: 0 0 5px rgba(0,0,0,0.75);}

.ui-slider-handle:last-child {
	margin-left: -2.2rem;
	left: 100%;
}

#products.loading {opacity: 0.5;}

.products_load_more {
	display: table;
	margin: 4rem auto 0.5rem;
}

/* END - СТРАНИЦА КАТЕГОРИИ */


/* BEGIN  - СТРАНИЦА КОРЗИНЫ */

.cart-table__row {
    padding: .5rem 0;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.cart-table__col {
    float: none;
    padding-top: .5rem;
    padding-bottom: .5rem
}
.cart-table__name {
    margin-top: 2rem
}
.cart-table__stock {
    position: absolute;
    top: .5rem;
    left: 0
}
.cart-table__remove {
    position: absolute;
    top: -.5rem;
    right: -1rem;
    text-align: right
}
.cart-table__remove .icon {
    padding: 1rem
}

.fast_order_container {margin: 2rem 0;}

.bill_list {overflow: hidden;}

.bill_item {padding: 2rem;}

.bill_item.active {background-color: #f7faff;}

.bill_description {
	display: none;
	margin-top: 1rem;
	margin-left: 3rem;
}

.bill_tax {
	display: table;
	margin-top: 1rem;
}

.coupon_container {margin-top: 1rem;}

.cart_fast_order {margin: 1rem 0 3rem;}

.cart_section {margin-bottom: 3rem;}

.coupon_form {
	display: none;
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: #fff;
}

.cart_total_coupon {background-color: #ffc600;}

.coupon_form::before {
	content: '';
	position: absolute;
	top: -0.7rem;
	left: 3rem;
	width: 1.4rem;
	height: 1.4rem;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);
	
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.coupon_form::after {
	content: '';
	position: absolute;
	top: 0;
	left: 2rem;
	width: 10rem;
	height: 1.5rem;
	background-color: #fff;
}

.button_text {display: block;}

/* END - СТРАНИЦА КОРЗИНЫ */


/* BEGIN - СТРАНИЦА ОФОРМЛЕННОГО ЗАКАЗА */

.order_notice_section,
.order_payment_section,
.order_delivery_section,
.order_detail_section {margin-bottom: 2rem;}

.order_section {
	height: 100%;
	padding: 2rem;
}

.order_section_inner {height: 100%;}

.order_payment_price,
.checkout_form form {
	margin: 2rem -2rem 0;
	padding: 2rem 2rem 0;
	border-top: 1px solid #ececec;
}

.change_payment_form {margin-top: 1rem;}

.checkout_form input[type="text"] {margin-bottom: 2rem;}

.order_detail_item {margin-bottom: 1rem;}

.order_detail_item:last-child {margin-bottom: 0;}

.order_product_item {padding: 1rem 0;}

.order_total {
	padding-left: 0;
	padding-right: 0;
}

/* END - СТРАНИЦА ОФОРМЛЕННОГО ЗАКАЗА */


/* BEGIN - СТРАНИЦА НОВОСТЕЙ */

.post_image {
	display: block;
	border-radius: 4px 4px 0 0;
	padding: 0;
	height: 15rem;
}

.post_image_empty {
	background: url(../images/logo.svg) center center / 75% auto no-repeat;
	opacity: 0.25;
}


.temp_post_image {opacity: 0.25;}

.post_annotation {margin-top: 1.5rem;}

.post_link {line-height: 1;}

.post_date {margin-top: 3rem;}

/* END - СТРАНИЦА НОВОСТЕЙ */


/* BEGIN - СТРАНИЦЫ ПРОФИЛЯ */

.register_advantage_item {padding: 0 1rem;}

.register_advantage_item.item_1 {color: #90a9e3;}
.register_advantage_item.item_2 {color: #bdbdbd;}
.register_advantage_item.item_3 {color: #f286b3;}

.register_advantage_icon {
	padding: 1rem;
	line-height: 1;
	border: 2px solid #f5f5f5;
	border-radius: 50%;
}

.register_advantage_name {
	margin-top: -1.5rem;
	line-height: 2rem;
	background-color: #fff;
}

.auth_col {margin-bottom: 3rem;}

.auth_col:last-child {margin-bottom: 0;}

.auth_content {padding: 2rem;}

.auth_link {
	cursor: pointer;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	opacity: 0.5;
}

.auth_link:last-child {margin-right: 0;}

.auth_link:hover {opacity: 1;}

/* END - СТРАНИЦЫ ПРОФИЛЯ */


/* BEGIN - СТРАНИЦА ОТЗЫВОВ */

.comment_list {
	margin-bottom: 4rem;
	padding-top: 2rem;
	border-top: 2px solid #ececec;
}

.comment_list_item {
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 2px solid #ececec;
}

.comment_list_header {margin-bottom: 1rem;}

.comment_list_name,
.comment_list_rating {margin-bottom: 0.5rem;}

.comment_list_checking {
	margin-left: 1rem;
	display: block;
	float: right;
}

.comment_list_photo {
	display: table;
	margin: 0 1rem 0.5rem;
	width: 6rem;
	height: 6rem;
	background: url(../images/icon_user.svg) no-repeat center;
	border: 2px solid #a4acbb;
	border-radius: 50%;
}

.comment_list_text:not(:last-child) {margin-bottom: 1em;}

/* END - СТРАНИЦА ОТЗЫВОВ */


/* BEGIN - СТРАНИЦА СРАВНЕНИЯ */

.compare_filter {margin-bottom: 4rem;}

.compare_filter_item {margin: 0 0.5rem 0.5rem 0;}

.compare_container {overflow-y: auto;}

.compare_table {
	width: auto;
	border: 1px solid #eee;}

.compare_table td{
	vertical-align: top;
	width: 18rem;
	min-width: 18rem;
	border-right: 1px solid #eee;
}

.compare_table tr:nth-child(2n) {background-color: #f5f6f8;}

.compare_table tr:last-child td {padding-bottom: 3rem;}

.compare_product_image {
	height: 15rem;
	line-height: 15rem
}

.compare_product_name {
	display: block;
	margin: 1rem 0;
	height: 2.4em;
	line-height: 1.2em;
	overflow: hidden;
}

.compare_product_name:hover {color: #356dd3;}

/* END - СТРАНИЦА СРАВНЕНИЯ */


/* BEGIN - ДРУГИЕ СТРАНИЦЫ */

.page_empty {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.brand_list_link {display: block;}

.brand_list_image {
	display: block;
	height: 13rem;
	line-height: 13rem;
}

.brand_list_link:not(:hover) .brand_list_image {
	-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
}

.brand_list_name {
	display: block;
	margin-top: 2rem;
}

.orders_history {margin: 2rem 0;}

.account_form_inner {padding: 2rem;}

.change_password {
	padding: 2rem;
	border: 3px dashed #a4acbb;
}

/* END - ДРУГИЕ СТРАНИЦЫ */


/* BEGIN - ДРУГОЕ */

body {padding-top: 220px;}

.main {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.object_list {
	margin-top: -2rem;
	margin-bottom: 1rem;
}

.object_list_item {margin-top: 2rem;}

.object_list_inner:hover {box-shadow: 0 0 7px rgba(53,109,211,0.75);}

.informer_notice_name {line-height: 1.2;}

.informer_notice_variant {margin-top: 0.5rem;}

.informer_notice_price_container {
	margin-top: 1rem;
	line-height: 1;
}

.informer_notice_oldprice {margin-bottom: 0.5rem;}

.path {
	margin-top: -2rem;
	margin-bottom: 2rem;
	line-height: 2rem;
}

.path_item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 2.5rem;
}

.path_link:hover {color: #2a2a2a;}

.path_item_first .path_link {
	display: block;
	width: 2rem;
	height: 2rem;
	background: url(../images/logo_symbol.svg) no-repeat left center;
	background-size: 100% auto;
	overflow: hidden;
	text-indent: -999px;
}

.path_item::before,
.path_item::after {
	content: '';
	position: absolute;
	left: 100%;
	top: 50%;
	display: block;
	margin-left: 1rem;
	width: 0.5rem;
	height: 2px;
	background-color: rgba(0,0,0,0.2);
}

.path_item::before {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			
	-webkit-transform-origin: 100% 0 0;
			transform-origin: 100% 0 0;
}

.path_item::after {
	margin-top: -1px;
	
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			
	-webkit-transform-origin: 100% 100% 0;
			transform-origin: 100% 100% 0;
}

.path_item:last-child::before,
.path_item:last-child::after {display: none;}

.page_toolbar {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 4rem;
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

.pagination {margin-top: 3rem;}

.pagination_item {
	display: inline-block;
	vertical-align: top;
	min-width: 4rem;
	line-height: 4rem;
	font-size: 0.85em;
	font-weight: 700;
	color: #a4acbb;
	background-color: #f5f5f5;
	box-shadow: inset 0 1px 3px rgba(130,130,130,0.2);
	
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.pagination_item + .pagination_item {border-left: 1px solid #ececec;}

.pagination_first {border-radius: 4px 0 0 4px;}
.pagination_last {border-radius: 0 4px 4px 0;}

.pagination_item:hover,
.pagination_item.active {
	color: #fff;
	background-color: #a4acbb;
	box-shadow: inset 0 0 0 rgba(130,130,130,0.2);
}

.pagination_control {
	display: inline-block;
	vertical-align: top;
	width: 4rem;
	height: 4rem;
	padding: 0.8rem;
	line-height: 1;
	color: #a4acbb;
}

.pagination_control:hover {color: #356dd3;}
.pagination_control.disabled {color: #ececec;}

.pagination_all {
	position: absolute;
	top: 0;
	right: 0;
}

.tab {display: none;}

.moveup_link {
	bottom: 4rem;
	right: 4rem;
	display: none;
	cursor: pointer;
}

.moveup_icon {
	display: table;
	margin: 0 auto;
	width: 5rem;
	height: 5rem;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 50%;
	opacity: 0.5;
}

.moveup_link:hover .moveup_icon {
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
	border-color: rgba(0,0,0,0);
}

.moveup_line {
	content: '';
	position: absolute;
	top: 30%;
	left: 50%;
	display: block;
	width: 10px;
	height: 2px;
	background-color: rgba(0,0,0,0.5);
				
	-webkit-transform-origin: 0 0 0;
			transform-origin: 0 0 0;
}

.moveup_link:hover .moveup_line {background-color: #fff;}

.moveup_line_1 {
	margin-left: 1px;
	margin-top: 1px;
	
	-webkit-transform: rotate(135deg);
			transform: rotate(135deg);
}

.moveup_line_2 {
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			
	-webkit-transform-origin: 0 0 0;
			transform-origin: 0 0 0;
}

.moveup_text {opacity: 0.5;}
.moveup_link:hover .moveup_text {opacity: 1;}

.view_count {
	top: 0;
	right: 0;
	z-index: 1;
	padding: 0.2rem 0.5rem;
	line-height: 1;
	background-color: #356dd3;
	border-radius: 0 4px 0 4px;
}

.list .view_count {
	left: 0;
	right: auto;
	border-radius: 4px 0 4px 0;
}

a.admin_bookmark {z-index: 9999;}

.js_hide_scroll {overflow: hidden;}

.user_content > ymaps {max-width: 100% !important;}

.page_notice_container {height: 100%;}

.autocomplete-suggestions {
	top: 100%;
	left: 0;
	right: 0;
	max-height: 360px;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3), 0 15px 15px rgba(0,0,0,0.15);
	border-radius: 0 0 4px 4px;
	overflow-y: auto;
}

.autocomplete-suggestion {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
}

.autocomplete-suggestion::after {
	content: '';
	position: absolute;
	top: 0;
	right: -1rem;
	width: 5rem;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%);
}

.autocomplete-suggestion {
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #eee;
}

.autocomplete-suggestion:last-child {border: 0;}

.autocomplete-image,
.autocomplete-text {
	display: inline-block;
	vertical-align: middle;
	
	-webkit-transition: all 0.3s;
	        transition: all 0.3s;
}

.autocomplete-image {
	margin-right: 1rem;
	width: 60px;
	height: 40px;
	line-height: 40px;
	opacity: 0.75;
}

.autocomplete-text {
	line-height: 1;
	color: #999;
}

.autocomplete-suggestion:hover .autocomplete-image {opacity: 1;}

.autocomplete-suggestion:hover .autocomplete-text {color: #333;}

/* END - ДРУГОЕ */