/*
* ТИПОГРАФИКА
* ТЕКСТОВЫЕ ЛЕЙБЛЫ
* УВЕДОМЛЕНИЯ
* ФОРМЫ
* СЕЛЕКТЫ, ЧЕКБОКСЫ, РАДИОБАТТОНЫ
* ВЫБОР КОЛИЧЕСТВА
* ИКОНКИ
* КНОПКИ
* ТАЙМЕР
* РЕЙТИНГ
* СЛАЙДЕР
* СПОЙЛЕР 
* ДРУГОЕ
*/


/* 
* COLOR SCHEME 
*
* black dark	#333333
* black			#4a4a4a
*
* gray dark		#999999
* gray			#cccccc
* gray light	#ececec
*
* blue light	#a4acbb
* blue			#356dd3
*
* red			#f33434
* red light		#f54747
*
* yellow		#ffc600
*
* orange		#ff7e00
*
* pink light	#eb1680
* pink 			#ea0072
*
* green			#00cc66
* 
*/


/* BEGIN - ТИПОГРАФИКА */

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic);

body {
	font: 400 14px/1.5 'Ubuntu', sans-serif;
	color: #2a2a2a;
	background-color: #f2f2f2;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover{text-decoration: none;}

.link,
.user_content a {
	cursor: pointer;
	text-decoration: none;
	line-height: 1;
	border-bottom: 1px solid;
	
	-webkit-transition: border-color 0.3s ease, color 0.3s ease;
			transition: border-color 0.3s ease, color 0.3s ease;
}

.user_content a {color: #356dd3;}

.pseudo_link {border-bottom-style: dashed;}

.link:hover,
.user_content a:hover {border-bottom-color: transparent;}

.link_inverse {
	cursor: pointer;
	line-height: 1;
	border-bottom: 1px solid transparent;
	
	-webkit-transition: border-color 0.3s ease, color 0.3s ease;
			transition: border-color 0.3s ease, color 0.3s ease;
}

.link_inverse:hover {border-bottom-color: initial;}

.remove_link:hover {color: #ff0000;}

h1, .text_1 {font-size: 1.71em;}	/* 24px */
h2, .text_2 {font-size: 1.42em;}	/* 20px */
h3, .text_3 {font-size: 1.25em;}	/* 18px */
h4, .text_4 {font-size: 1em;}	/* 14px */
h5, .text_5 {font-size: 0.85em;}	/* 12px */
h6, .text_6 {font-size: 0.75em;} /* 10px */

.title {
	margin-bottom: 2rem;
	text-align: center;
	font-weight: 500;
}

.page_title {
	padding-bottom: 2rem;
	margin-bottom: 3rem;
	font-weight: 500;
	border-bottom: 1px solid #ececec;
}

.text_left {text-align: left;}
.text_center{text-align: center;}
.text_right{text-align: right;}

.uppercase {text-transform: uppercase;}

.underline {text-decoration: underline;}
.no_underline {text-decoration: none;}

.text_wrap {white-space: normal;}
.text_nowrap {white-space: nowrap;}

.text_normal	{font-weight: 400;}
.text_medium	{font-weight: 500;}
.text_bold		{font-weight: 700;}

.text_white 		{color: #fff;}
.text_black 		{color: #4a4a4a;}
.text_black2	{color: #2a2a2a;}

.text_gray		{color: rgba(0,0,0,0.6);} /*#666*/
.text_gray2		{color: rgba(0,0,0,0.4);} /*#999*/ 
.text_gray3		{color: rgba(0,0,0,0.2);} /*#ccc*/

.text_inverse 	{color: rgba(255,255,255,0.75);}

.text_pink		{color: #eb1680;}
.text_green		{color: #00cc66;}
.text_yellow	{color: #ffcc00;}
.text_blue		{color: #356dd3;}
.text_blue2		{color: #a4acbb;}
.text_red		{color: #f54747;}
.text_orange	{color: #ff7e00;}

.ul_list {
	padding-left: 2rem;
	list-style-image: url(../images/ul_list_image.png);
}

.ul_list li {padding-left: 1rem;}

.ul_list li +li{margin-top: 0.5rem;}

.table,
.user_content table {width: 100%;}

.table td,
.table th,
.user_content td,
.user_content th {padding: 1rem;}

.table_colored tr:nth-child(2n) {background-color: #f5f6f8}

.user_content ol {
	list-style-type: decimal;
	margin-left: 2rem;
}

.user_content ul {
	list-style-type: disc;
	margin-left: 2rem;
}

.user_content li ol,
.user_content li ul {margin-bottom: 1rem;}

.user_content li + li {margin-top: 0.5rem;}

.user_content h1,
.user_content h2,
.user_content h3,
.user_content h4,
.user_content h5,
.user_content h6 {
	margin-top: 3rem;
	font-weight: 500;
}

.user_content h1,
.user_content h2,
.user_content h3,
.user_content h4,
.user_content h5,
.user_content h6,
.user_content p,
.user_content ul,
.user_content ol,
.user_content table {margin-bottom: 2rem;}

.user_content h1:first-child,
.user_content h2:first-child,
.user_content h3:first-child,
.user_content h4:first-child,
.user_content h5:first-child,
.user_content h6:first-child {margin-top: 0;}

.user_content h1:last-child,
.user_content h2:last-child,
.user_content h3:last-child,
.user_content h4:last-child,
.user_content h5:last-child,
.user_content h6:last-child,
.user_content p:last-child,
.user_content ul:last-child,
.user_content ol:last-child,
.user_content table:last-child {margin-bottom: 0;}

.user_content img {height: auto !important;}

.user_content iframe {width: 100%;}

/* END - ТИПОГРАФИКА */


/* BEGIN - ТЕКСТОВЫЕ ЛЕЙБЛЫ */

.text_label {
	display: inline-block;
	vertical-align: middle;
	padding: 0.1em 0.5em 0.2em;
	color: #356dd3;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	border: 2px solid;
	border-radius: 4px;
} 

.text_label_alert {color: #f54747;}

.text_label_success {color: #00cc66;}

/* END - ТЕКСТОВЫЕ ЛЕЙБЛЫ */


/* BEGIN - УВЕДОМЛЕНИЯ */

.notice {
	margin-bottom: 2rem;
	padding: 1.5rem 2rem;
	color: #666;
	background-color: rgba(53,109,211,0.1);
	border-left: 3px solid #356dd3;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.notice_title {
	font-size: 1.15em;
	font-weight: 700;
	color: #356dd3;
}

.notice_alert {
	background-color: rgba(243,52,52,0.1);
	border-color: #f33434;
}
.notice_alert .notice_title {color: #f33434;}

.notice_success {
	background-color: rgba(0,204,102,0.1);
	border-color: #00cc66;
}
.notice_success .notice_title {color: #00cc66;}


/* END - УВЕДОМЛЕНИЯ */


/* BEGIN - ФОРМЫ */

.form {padding: 2rem;}

.form_modal {
	width: 28rem;
	background-color: #fff;
	border-radius: 5px;
}

.form_modal_row {
	padding: 2rem;
	border-bottom: 1px solid #ececec;
}

.form_modal_row:last-child {border: 0;}

.form_modal_title {line-height: 1;}

.form_group {
	position: relative;
	margin-bottom: 2rem;
}

.form_modal .form_group:last-child {margin-bottom: 0;}

.form_label,
.checkout_form label {
	display: block;
	margin-bottom: 0.5rem;	
	font-weight: 700;
	color: #666666;
	line-height: 1;
}

.form_input,
.checkout_form input[type="text"] {
	display: block;
	width: 100%;
	padding: 1rem 1.5rem;
	font: 400 16px/20px Ubuntu, sans-serif;
	background-color: #f5f6f8;
	border-radius: 4px;
	box-shadow: inset 0 1px 3px rgba(130,130,130,0.5);
	
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}

.form_input:hover,
.checkout_form input[type="text"]:hover {box-shadow: inset 0 1px 3px rgba(130,130,130,0.75);}

.form_input:focus,
.checkout_form input[type="text"]:hover {
	box-shadow: inset 0 2px 4px rgba(130,130,130,0.75);
	background-color: #e9e9e9;
}

.form_input::-moz-placeholder  {color: #999;}
.form_input:-ms-input-placeholder  {color: #999;}
.form_input::-webkit-input-placeholder {color: #999;}

.form_input:focus::-moz-placeholder  {color: transparent;}
.form_input:focus:-ms-input-placeholder  {color: transparent;}
.form_input:focus::-webkit-input-placeholder {color: transparent;}

.form_input_small {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.recaptcha_callback { 
	width: 50%;
	height: 1px;
	margin: 0 auto;
	display: block;
	opacity: 0;
	visibility: hidden;
}

/* END - ФОРМЫ */


/* BEGIN - СЕЛЕКТЫ, ЧЕКБОКСЫ, РАДИОБАТТОНЫ */

select {
	display: block;
	width: 100%;
	height: 4rem;
	padding: 0 1.5rem;
	padding-right: 40px;
	font: 400 16px/20px Ubuntu, sans-serif;
	background: url(../images/select_arrow.svg) no-repeat right 10px center #f5f6f8;
	box-shadow: inset 0 1px 3px rgba(130,130,130,0.5);
	border-radius: 4px;
	
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
			
	-webkit-appearance: none;
	   -moz-appearance: none;
			appearance: none;
}

select::-ms-expand {display: none;}

select:hover {
	box-shadow: inset 0 1px 3px rgba(130,130,130,0.75);
	background-color: #e9e9e9;
}

option {
	padding: 10px 15px;
	color: black;
	font-size: 14px;
	line-height: 20px;
}

.select_small {height: 3rem;}

.select_inline {
	display: inline;
	width: auto;
	min-width: 100px;
}

.checkbox_label {
	cursor: pointer;
	position: relative;
	display: block;
	padding-left: 3rem;
	line-height: 2rem;
}

.checkbox_label::before {
	cursor: pointer;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 2rem;
	height: 2rem;
	background-color: #f5f6f8;
	box-shadow: inset 0 1px 3px rgba(77,77,77,0.5);
	border-radius: 4px;
}

.checkbox_label.radio::before {border-radius: 50%;}

input.hidden:checked + .checkbox_label::before {
	background: #356dd3 url(../images/icon_check.svg) no-repeat center / 80% auto;
	box-shadow: none;
}

input.hidden:checked + .checkbox_label.radio::before {
	background: #f5f6f8;
	box-shadow: inset 0 1px 3px rgba(77,77,77,0.5);
}

input.hidden:checked + .checkbox_label.radio::after {
	content: '';
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	display: block;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	
	background: #db076f;
	background: -webkit-linear-gradient(top, #fb2a91 0%, #db076f 100%);
	background: 	-ms-linear-gradient(top, #fb2a91 0%, #db076f 100%);
	background: 	 -o-linear-gradient(top, #fb2a91 0%, #db076f 100%);
	background:   linear-gradient(to bottom, #fb2a91 0%, #db076f 100%);
}

input.hidden:disabled + .checkbox_label {
	opacity: 0.5;
	cursor: default;
}

/* END - СЕЛЕКТЫ, ЧЕКБОКСЫ, РАДИОБАТТОНЫ */


/* BEGIN - ВЫБОР КОЛИЧЕСТВА */

.amount_trigger,
.amount_count {
	display: inline-block;
	vertical-align: middle;
}

.amount_trigger {
	cursor: pointer;
	padding: 0.5rem 0;
	width: 3rem;
	line-height: 2rem;
	border-radius: 4px;
	text-align: center;
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}

.amount_trigger:hover {
	color: #4a4a4a;
	background-color: #F7FAFF;
}

.amount_count {
	width: 4rem;
	height: 3rem;
	padding: 0.5rem;
	text-align: center;
	font-weight: 700;
	font-size: 1em;
}

/* END - ВЫБОР КОЛИЧЕСТВА */


/* BEGIN - ИКОНКИ */

.icon, .icon_text {
	display: inline-block;
	vertical-align: middle;
	line-height: 1;
}

.icon + .icon_text,
.icon_text + .icon {margin-left: 1rem;}

.icon_link {
	cursor: pointer;
	padding: 0.5rem;
}

.icon_menu{
	position: relative;
	width: 30px;
	height: 24px;
}

.icon_menu_line {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #dddddd;
	
	-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			
	-webkit-transform-origin: left center;
			transform-origin: left center;
}

.icon_menu_line.line_1 {top: 0;}
.icon_menu_line.line_2 {top: 50%; margin-top: -2px;}
.icon_menu_line.line_3 {top: 100%; margin-top: -4px;}

.category_menu_trigger.active .icon_menu_line.line_1 {
	top: 0;
	
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.category_menu_trigger.active .icon_menu_line.line_2 {
	width: 0%;
	opacity: 0;
}

.category_menu_trigger.active .icon_menu_line.line_3 {
	top: 100%;
	margin-top: -3px;
	
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

.icon_more{
	position: relative;
	width: 2rem;
	height: 2rem;
}

.icon_more_line {
	position: absolute;
	background-color: #a4acbb;
	display: block;
	width: 4px;
	height: 4px;
	
	-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
			
	-webkit-transform-origin: left center;
			transform-origin: left center;
}

.icon_more_line.line_1 {
	top: 50%;
	left: 10%;
	width: 80%;
	margin-top: -2px
}

.icon_more_line.line_2 {
	top: 10%;
	left: 50%;
	height: 80%;
	margin-left: -2px
}

.tab_link.active .line_1,
.category_menu_icon.active .line_1,
.filter_item_trigger.active .line_1 {
	top: 10%;
	left: 10%;
	margin-top: 2px;
	width: 70%;
	
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

.tab_link.active .line_2,
.category_menu_icon.active .line_2,
.filter_item_trigger.active .line_2 {
	top: 10%;
	left: 75%;
	height: 70%;
	
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
}

/* END - ИКОНКИ */


/* BEGIN - КНОПКИ */

.button,
.checkout_button {
	cursor: pointer;
	position: relative;
	top: 0;
	display: inline-block;
	vertical-align: top;
	height: 4rem;
	padding: 0.8rem 1.5rem;
	color: #fff;
	font: 700 16px/24px Ubuntu, sans-serif;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,0.5);
	box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3), 0 3px #ad0f5c;
	border-radius: 4px;
	white-space: nowrap;
	
	background: #db076f;
	
	background-size: auto 100%;
	background: -webkit-linear-gradient(top, #fb2a93 0%, #db076f 100%);
	background: 	-ms-linear-gradient(top, #fb2a93 0%, #db076f 100%);
	background: 	 -o-linear-gradient(top, #fb2a93 0%, #db076f 100%);
	background:   linear-gradient(to bottom, #fb2a93 0%, #db076f 100%);
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
	
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
}

.button_small {
	height: 3rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	font-size: 11px;
	box-shadow: inset 0 0 rgba(255, 255, 255, 0.3), 0 2px #ad0f5c;
}

.button_large,
.checkout_button {
	height: 5rem;
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
	font-size: 18px;
}

.button:hover,
.button:active,
.button.active,
.checkout_button:hover,
.checkout_button:active,
.checkout_button.active {
	text-shadow: 0 0 rgba(0,0,0,0);
	top: 3px;
	background-position: center bottom;
}

.button:hover .icon_shadow,
.button:active .icon_shadow,
.button.active .icon_shadow {display: none;}

.button_small:hover,
.button_small:active,
.button_small.active {top: 2px;}

.button:hover,
.button.active,
.checkout_button:hover,
.checkout_button.active {
	background-size: auto 150%;
	box-shadow: inset 0 0 rgba(255, 255, 255, 0.3), 0 0 #ad0f5c;
}

.button:active,
.checkout_button:active {
	background-size: auto 300%;
	box-shadow: inset 0 3px 3px rgba(0,0,0,0.5);
}

.button_light {
	color: #993300;
	text-shadow: 0 1px rgba(255,255,255,0.5);
	box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3), 0 3px #994100;
	
	background: #ff9c00;
	background: -webkit-linear-gradient(top, #ffe400 0%, #ff9c00 100%);
	background: 	-ms-linear-gradient(top, #ffe400 0%, #ff9c00 100%);
	background: 	 -o-linear-gradient(top, #ffe400 0%, #ff9c00 100%);
	background:   linear-gradient(to bottom, #ffe400 0%, #ff9c00 100%);
}

.button_small.button_light {box-shadow: inset 0 0 rgba(255, 255, 255, 0.3), 0 2px #994100;}

.button_light:hover,
.button_light.active {box-shadow: inset 0 0 rgba(255, 255, 255, 0.3), 0 0 #994100;}

.button_dark {
	box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3), 0 3px #2a2a2a;
	
	background: #545454;
	background: -webkit-linear-gradient(top, #818181 0%, #545454 100%);
	background: 	-ms-linear-gradient(top, #818181 0%, #545454 100%);
	background: 	 -o-linear-gradient(top, #818181 0%, #545454 100%);
	background:   linear-gradient(to bottom, #818181 0%, #545454 100%);
}

.button_small.button_dark {box-shadow: inset 0 0 rgba(255, 255, 255, 0.3), 0 2px #2a2a2a;}

.button_dark:hover,
.button_dark.active {box-shadow: inset 0 0 rgba(255, 255, 255, 0.3), 0 0 #2a2a2a;}

.button_transparent {
	background: none;
	text-shadow: none;
	color: #a4acbb;
	box-shadow: inset 0 0 0 2px #a4acbb;
}

.button_small.button_transparent {box-shadow: inset 0 0 0 2px #a4acbb;}

.button_transparent:hover,
.button_transparent.active{
	top: 0;
	color: #fff;
	background: #a4acbb;
	box-shadow: inset 0 0 0 #a4acbb;
}

.button:active,
.checkout_button:active {box-shadow: inset 0 3px 3px rgba(0,0,0,0.5);}

.button_block,
.checkout_button {
	display: block;
	width: 100%;
}

.button_item {
	line-height: inherit;
	margin: -0.8rem 0 -0.5rem;
	padding: 0.8rem 0.5rem 0.8rem 1.5rem;
	border-left: 1px solid rgba(255,255,255,0.5);
	box-shadow: -1px 0 rgba(0,0,0,0.3);
}

.button_small .button_item {
	margin: -0.3rem 0;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;	
}

.button_item:first-child {
	padding-left: 0;
	padding-right: 0;
	border: 0;
	box-shadow: none;
}

.button_loading.active .icon {
	-webkit-animation: loading 1.5s infinite linear;
			animation: loading 1.5s infinite linear;
}

@-webkit-keyframes loading{
	0%	{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}

@keyframes loading{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}

/* END - КНОПКИ */


/* BEGIN - ТАЙМЕР */

.timer {
	cursor: default;
	position: relative;
	display: inline-block;
	vertical-align: top;
	font: 400 16px/3rem Ubuntu, sans-serif;
	text-transform: uppercase;
	text-align: center;
	white-space: nowrap;
	
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
			user-select: none;
}

.timer_title {
	display: inline-block;
	vertical-align: top;
	padding: 0 1rem;
	font-size: 10px;
	color: #fff;
	box-shadow: inset 0 -1px rgba(255, 255, 255, 0.3), 0 3px #2a2a2a;
	border-radius: 4px 0 0 4px;
	
	background: #545454;
	background: -webkit-linear-gradient(top, #818181 0%, #545454 100%);
	background: 	-ms-linear-gradient(top, #818181 0%, #545454 100%);
	background: 	 -o-linear-gradient(top, #818181 0%, #545454 100%);
	background:   linear-gradient(to bottom, #818181 0%, #545454 100%);
}

.timer_item {
	display: inline-block;
	vertical-align: top;
	min-width: 3.5rem;	
	color: #993300;
	text-shadow: 0 1px rgba(255,255,255,0.5);
	box-shadow: 0 3px #994100;
	
	background: #ff9c00;
	background: -webkit-linear-gradient(top, #ffe400 0%, #ff9c00 100%);
	background: 	-ms-linear-gradient(top, #ffe400 0%, #ff9c00 100%);
	background: 	 -o-linear-gradient(top, #ffe400 0%, #ff9c00 100%);
	background:   linear-gradient(to bottom, #ffe400 0%, #ff9c00 100%);
}

.timer_item:not(:first-child),
.timer_title + .timer_item {
	box-shadow: -1px 0 rgba(0,0,0,0.3), 0 3px #994100;
	border-left: 1px solid rgba(255,255,255,0.5);
}

.timer_item:first-child {border-radius: 4px 0 0 4px;}
.timer_title + .timer_item:first-child {border-radius: 0;}

.timer_item:last-child {border-radius: 0 4px 4px 0;}


/* END - ТАЙМЕР */


/* BEGIN - РЕЙТИНГ */

.rating_starOff, 
.rating_starOn {
	display:inline-block; 
	vertical-align: middle;
	width: 85px;
	max-width: 85px;
	height: 17px; 
	background:url(../images/rating.svg) repeat-x left top;
}

.rating_starOn {
	display: block;
	background-position: left bottom;
}

.rating_large .rating_starOff,
.rating_large .rating_starOn {
	width: 150px;
	max-width: 150px;
	height: 30px;
	background-size: 30px auto;
}

.rating_detail_col,
.rating_detail_container {margin-bottom: 2rem;}

.rating_detail_title {margin-bottom: 2rem;}

.rating_detail_item {margin-bottom: 1rem;}

.rating_detail_item_title {width: 7rem;}

.rating_detail_item_count {width: 5rem;}

.rating_detail_item_line {
	margin-right: 1rem;
	height: 1rem;
	background-color: #ececec;
	border-radius: 1rem;
	overflow: hidden;
	
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.rating_detail_item_scale {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: #ffc600;
}

.rating_detail_add {
	height: 100%;
	padding: 1rem 3rem;
	background-color: #f5f6f8;
	border-radius: 4px;
}

.rating_detail_add_title {margin: 1rem 0 3rem;}

/* END - РЕЙТИНГ */


/* BEGIN - СЛАЙДЕР */

.slick-slider{
    position: relative;
    display: block;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after{
    content: '';
    display: table;
}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}

.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-dots {
	width: 100%;
	margin-top: 1rem;
	line-height: 1;
	text-align: center;
}

.slick-dots li {
	display: inline-block;
	vertical-align: top;
	margin: 0 2px;
}

.slick-dots button {
	cursor: pointer;
	display: block;
	width: 1.2rem;
	height: 1.2rem;
	border: 3px solid #eee;
	background-color: #eee;
	border-radius: 50%;
	overflow: hidden;
	text-indent: -999px;
}

.shadow_section .slick-dots button {
	background-color: #ccc;
	border-color: #ccc;
}

.slick-dots .slick-active button {background-color: #f01e85;}

.slick-arrow {
	position: absolute;
	top: 50%;
	z-index: 1;
	display: block;
	width: 4rem;
	height: 4rem;
	margin-top: -2rem;
	border: 2px solid rgba(0,0,0,0.5);
	border-radius: 50%;
	cursor: pointer;
	
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.slick-arrow:hover {
	background-color: rgba(0,0,0,0.5);
	border-color: rgba(0,0,0,0);
}

.slick-prev {left: 0;}
.slick-next{right: 0;}

.slick-arrow::before,
.slick-arrow::after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	display: block;
	margin-left: -5px;
	width: 10px;
	height: 2px;
	background-color: rgba(0,0,0,0.5);
	
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.slick-arrow:hover::before,
.slick-arrow:hover::after {background-color: #fff;}

.slick-prev::before {
	margin-top: -1px;
	
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			
	-webkit-transform-origin: 0 0 0;
			transform-origin: 0 0 0;
}

.slick-prev::after {
	margin-top: -2px;
	
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			
	-webkit-transform-origin: 0 100% 0;
			transform-origin: 0 100% 0;
}

.slick-next::before {
	margin-top: -1px;
	
	-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			
	-webkit-transform-origin: 100% 0 0;
			transform-origin: 100% 0 0;
}

.slick-next::after {
	margin-top: -2px;
	
	-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			
	-webkit-transform-origin: 100% 100% 0;
			transform-origin: 100% 100% 0;
}

.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-arrow.slick-hidden {display: none;}

/* END - СЛАЙДЕР */


/* BEGIN - СПОЙЛЕР */

.spoiler_text {
	position: relative;
	overflow: hidden;
	
	-webkit-transition: all 0.4s ease;
			transition: all 0.4s ease;
}

.spoiler_text::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	height: 60%;
	opacity: 0;
	pointer-events: none;
	
	-webkit-transition: all 0.2s ease;
			transition: all 0.2s ease;
	
	background: -webkit-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 100%);
	background: 	 -o-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 100%);
	background: 	-ms-linear-gradient(top, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 100%);
	background:   linear-gradient(to bottom, rgba(242,242,242,0) 0%, rgba(242,242,242,1) 100%);
}

.section .spoiler_text::after {
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: 	 -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: 	-ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background:   linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.spoiler_text.short::after {
	opacity: 1;
	z-index: 1;
}

.spoiler_link {
	display: none;
	margin-top: 1.5rem;
}

/* END - СПОЙЛЕР */