
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic);

body {
	font: 400 14px/1.5 'Ubuntu', sans-serif;
	color: #2a2a2a;
	background-color: #fff;
	margin: 15px;
}

a {
	cursor: pointer;
	color: #356dd3;
	text-decoration: underline;
}

a:hover{text-decoration: none;}

h1 {font-size: 24px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 14px;}
h5 {font-size: 12px;}
h6 {font-size: 10px;}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 30px;
	font-weight: 500;
}

li {padding-left: 10px;}

li +li{margin-top: 5px;}

table {width: 100%;}

td,
th {padding: 10px;}

tr:nth-child(2n) {background-color: #f0f0f0}

ol {
	list-style-type: decimal;
	margin-left: 20px;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}

li ol,
li ul {margin-bottom: 10px;}

li + li {margin-top: 5px;}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
table {margin-bottom: 20px;}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {margin-top: 0;}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
table:last-child {margin-bottom: 0;}

img {
	max-width: 100%;
	max-height: 100%;
	width: auto !important;
	height: auto !important;
}

iframe {width: 100%;}