@import url("reset.css");
@import url("main.css");

/* Сообщение */
.message { 
	clear: both;
	height: 25px;
	padding: 10px 20px;
	margin-bottom: 20px;
	overflow: hidden;
	color: black;
}
.message span{
	background-repeat: no-repeat;
	padding-left: 20px;
	display: block;
	float: left;
 	margin-right: 50px;
	margin-top: 5px;
}
.message a.link {
	float: left;
	margin-top: 5px;
}
.message a.button {
	display: block;
	float: right;
	text-decoration: none;
	padding: 5px 20px;
	border: 1px solid #a3a5a5;
	color: #0000;
	background: #f5f5f5 url(../images/message_button_bgd.jpg) 0 -26px;
}
.message a.button:hover {
	background-position: 0 0;
	color: #000;
}

/* Сообщение успешное */
.message_success { background-color: #c5ff8d; border: 1px dotted #8cbf32; }
.message_success span{	background-image: url(../images/tick.png); }
.message_success a.link { color: #3f8000; }
.message_success a.link:hover {	color: #5dbd00; }

/* Сообщение с ошибкой */
.message_error { background-color: #ffcaca; border: 1px dotted #ff4545; }
.message_error span { background-image: url(../images/icon_message_error.png); }
.message_error a.link { color: #ff0000; }
.message_error a.link:hover { color: #ff4f4f; }

/* Основная форма */
#product {
    width: 80%;
    margin: 0 auto;
}
/* Блок названия */
#product #name {
	display: table;
	width: 100%;
	margin-bottom: 15px;
	/*height: 30px;*/
}
/* Инпут названия */
#product input.name {
	font-size: 26px;
	display: table-cell;
	width: 98%;
    *float: left;
    *width: 70%;
}
/* Блок чекбоксов возле названия */
#product .checkbox{
	display: table-cell;
	white-space: nowrap;
	vertical-align: middle;
	width: 1px;
	padding-left: 10px;
	font-size: 12px;

    *padding-top: 8px;
    *padding-bottom: 8px;
    *width: 12%;
    *float: left;
}
/* Надпись возле чекбокса */
#product .checkbox label {
	cursor: pointer;
}
/* Блок с выбором бренда */
#product_brand {
	/*float: left;*/
	width: 300px;
	display: block;
    margin-bottom: 10px;
}
/* Надпись возде выбора бренда */
#product_brand label {
	float: left;
	margin-top: 5px;
}
/* Селект бренда */
#product_brand select{
	width: 200px;
	margin-left: 10px;
	font-size: 18px;
}

/* Блок категорий товара */
#product_categories {
	float: left;
	overflow: hidden;
	margin-bottom: 20px;
}
/* Надпись возде выбора категории */
#product_categories label {
	float: left;
	margin-top: 5px;
}
/* Селект категории */
#product_categories select {
	width: 400px;
	margin-right: 15px;
	font-size: 18px;
}
#product_categories ul li { margin-bottom: 5px; }
#product_categories div {float: left;	margin-left: 10px; width: 640px; }
#product_categories span i { font-style: normal; }
/* Добавление категории */
#product_categories span.add { 
	background-repeat: no-repeat;
	padding-left: 20px;
	background-image: url(../images/plus-circle.png);
}
/* Удаление категории */
#product_categories span.delete {
	background-image: url(../images/cross-circle-frame.png);
	background-repeat: no-repeat;
	padding-left: 20px;
}

/* Купоны */
#product .block li select.coupon_type {
	width: 70px;
	font-size: 18px;
}
#product #column_left .block li input.coupon_value {
	width: 130px;
	font-size: 18px;
}

#variants_block2 {
	background-color: #f0f0f0;
	border: 1px dotted #d0d0d0;
	clear: both;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	width: 940px;
}
#variants_block2 ul  {
	overflow: hidden;
	padding-bottom: 2px;
	padding-left:20px;
	padding-top: 2px;
	clear: left;
}

#variants_block2 ul  li{
	overflow: hidden;
	padding-bottom: 5px;
	clear: left;
	height: 23px;
    width: 100%;
	float:left;
}

#variants_block2 ul  li input, select{	 

 
}

#variants_block2 ul  li div{
    min-width: 200px;
	max-width: 300px;
	float:left;
}


/* Варианты товара */
#variants_block {
	background-color: #f0f0f0;
	border: 1px dotted #d0d0d0;
	clear: both;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	width: 940px;
}
#variants_block ul  {
	overflow: hidden;
	padding-bottom: 2px;
	padding-left:20px;
	padding-top: 2px;
	clear: left;
}
#variants_block ul#header {
	height: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#variants_block ul#header li {
	font-size: 13px;
	padding-left: 3px;
	margin-left: -2px;
}
#variants_block ul li {
	float: left;
	display: block;
	height: 31px;
	overflow: hidden;
}
#variants_block ul li input {
	height: 20px;
	font-size: 14px;
	color: #636363;
	margin-top: 0px;
	padding-top: 2px;
	margin-left: 2px;
}
#variants_block li.variant_move {	width: 20px; height:16px; padding-top: 5px;}
#variants_block li.variant_name { width: 250px;	padding-left: 5px; }
#variants_block li.variant_name input {
	font-size: 16px;
	color: #000;
	width: 222px;
	float: left;
	margin-right: 2px;
}
#variants_block li.variant_name a.del_variant {
	display: block;
	padding-top: 6px;
}
#variants_block li.variant_sku { width: 180px;height: 51px; }
#variants_block li.variant_sku input { width: 170px; }
#variants_block li.variant_price { width: 90px; height: 51px; }
#variants_block li.variant_price input {
	width: 85px;
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
#variants_block li.variant_discount { width: 80px; }
#variants_block li.variant_discount input { width: 70px; }
#variants_block li.variant_amount { width: 65px; font-size: 11px; }
#variants_block li.variant_amount input { width: 35px; margin-right: 2px; }
#variants_block li.variant_download { width: 20px;}
#variants_block li.variant_download input{ width: 20px; font-size: 9px; margin-top: 2px;}
#variants_block li.variant_download .add_attachment img{  margin-top: 4px;}


#variants_block span.add, #variants_block span.copy {
    margin-left: 30px;
    float: left;
    margin-top: 5px;
    display: block;
    background-repeat: no-repeat;
    padding-left: 20px;   
    background-image: url(../images/plus-circle.png);
}
#variants_block span.copy {
    background-image: url(../images/tick.png);
}
#variants_block .variant_move div{
	width:20px;
	height: 16px;
}

/* Одиночный вариант */
#variants_block.single_variant ul li.variant_name, 
#variants_block.single_variant ul li.variant_move
#variants_block.single_variant #add_variant
{ display: none; }



.button_save {
	float: right;
	margin-top: 0px;
	margin-right: 15px;
   /* position: fixed;
    right: 7%;
    bottom: 35px;*/
}

.button_delete {
	float: right;
	margin-top: 0px;
}


#column_left,
#column_right {
	width: 475px;
	float: left;
}
#column_right {
	clear: right;
}
#column_left {
	clear: left;
}
#column_left { padding-right: 20px; }
#column_right { padding-left: 20px; }

.layer {
	padding-top: 15px;
	margin-top: -5px;
	background-repeat: repeat-x;
	background-image: url('../images/gradient.jpg');
	background-position: top;	
}
.layer ul{
	margin-bottom: 20px;	
}
#product .block {
	margin-bottom: 20px;
	width: 100%;
	clear: both;
}
#product .block li {
	clear: left;
	display: block;
	overflow: hidden;
	margin-bottom: 7px;
	width: 580px;
}
#product .block label.property {
	display: block;
	float: left;
	width: 170px;
	clear: left;
	padding-top: 2px;
	overflow: hidden;
	color: #808080;
}
#product .block li input[type=text] { width: 265px; font-size:13px; height:18px;} 
#product .block ul.new_features li label input { margin-top: -2px; width: 150px; font-size:13px; height:18px;} 
#product .block li select {width: 265px; font-size: 13px; height:25px;}
#product .block li textarea {
	width: 265px;
	height: 60px;
}
#product .block select.multiple_categories {width: 440px; height:700px; font-size: 13px;}
#product .block span.add { 
	background-repeat: no-repeat;
	padding-left: 20px;
	background-image: url(../images/plus-circle.png);
}
#product .block li input.page_url {
	font: 12px;
	padding: 0px;
	width: 197px;
}
#product .block li input.simpla_small_inp {
	width: 137px;
}
#product .block div.page_url {
	width: 65px;
	display: block;
	float: left;
	font-size: 12px;
	color: #909090;
	padding-top: 4px;
	text-align: right;
	padding-right: 5px;
	overflow: hidden;
	height: 15px;
	white-space: nowrap;
}

#product .images li{
	border: 1px solid #d0d0d0;
	width: 100px;
	height: 100px;
	margin-right: 7px;
	margin-bottom: 7px;
	background-color: #ffffff;
	display: -moz-inline-box; 
	display: inline-block; 
	*zoom: 1; 
	*display: inline;
	word-spacing: normal;
	line-height: 100px;
	vertical-align: top;
	text-align: center;
}
#product .images li img{
	vertical-align: middle;
	max-width: 100px;
}
#product .images a.delete{
	display: block;
	width: 15px;
	height: 15px;
	margin-top: -40px;
	margin-left: 82px;
	position:absolute;
	visibility: hidden;
    z-index: 99;
}
#product .images li:hover a.delete{
	visibility: visible;
}
 
#product .related_products .image{
	width: 35px;
}


#product div.images  span.upload_image, #product div.images  span.add_image_url{
	margin-top: 5px;
	background-repeat: no-repeat;
	padding-left: 20px;	
	margin-right: 5px;
} 
#product div.images  span.upload_image { background-image: url(../images/picture_add.png); }
#product div.images  span.add_image_url { background-image: url(../images/world_link.png); margin-left: 5px;}

#product div.images input.upload_image, #product div.images input.remote_image{ 
	font-size: 12px;
	margin-bottom: 15px;
	width: 300px;
}

#product div.images #add_image {
	margin-top: 15px;
}



/* @group Product Description */
.block {
	width: 100%;
	clear: both;
}



#main_list {
	float: left;
	display: block;
	max-width: 1020px;
	width: 100%;
	overflow: hidden;
}
/* @end */


.collapsed , .expanded{ 
	margin: 5px;
	font-size: 75%;
	text-decoration: none;
	background: #32B76C;
}

/* Меню */
#right_menu {
	width: 200px;
	display: block;
	float: right;
	margin-left: 20px;
}

#otstup{
	display: block;
	margin-bottom: 15px;
}

#right_menu ul { 
	margin: 5px;
	margin-bottom: 5px;
}
#right_menu ul ul {
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
}
#right_menu li {
	font-size: 12px;
	margin-bottom: 7px;
}
#right_menu li a {
	padding: 0px 0px 0px 0px;
	color: #000000; 
}
#right_menu li a:hover { color: #00a8ff; }

#right_menu li.selected a{
	padding: 4px 3px 4px 3px;
	background-color: #18a5ff;
	color: #ffffff;
	text-decoration: none;
}
#right_menu .drop_active a{
	color: green;
	//background-color: #c4ffb2; 
}
#right_menu .drop_hover a{
	color: white;
	background-color: #4eee00; 
}
/* @end меню */


/* @group Форма поиска */
#search {
	float: right;	
	width: 175px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#search input.search {
 	width: 130px;
	font-size: 12px;
	height:15px;
	display: block;
	float: left;
}
#search input.search_button {
	width: 23px;
	height: 25px;
	background-position-y: middle;
	background: url(../images/but_search.gif) no-repeat;
	border-style: none;
	margin-left: 4px;
	cursor: pointer;
	cursor: hand;
}
/* @end */
 
 
/* @group Постраничная навигация */
#pagination {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 11px;
	overflow: visible;
}
#pagination a {
	display: block;
	float: left;
	background-color: #fffeff;
	margin-right: 5px;
	margin-bottom: 12px;
	padding: 7px 7px;
	min-width: 16px;
	min-height: 13px;
	text-align: center;
	border: 1px solid #d7d7d7;
	text-decoration: none;
}
#pagination a.selected:hover,
#pagination a.selected {
	background-color: #18a5ff;
	color: #ffffff;
	border-color: #008fe9;
}
#pagination a:hover {
	background-color: #f8f8f8;
}

#pagination a.drop_active {
	background-color: #c4ffb2;
	border: 1px solid #3cff00;
	color: #000000;
}
#pagination a.drop_hover {
	background-color: #4eee00;
	border: 1px solid #4eee00;
	color: #ffffff;
}

/* @end */


/* @group Свернуть - развернуть варианты */
div#expand
{
	margin-bottom: 10px;
	display: none;
	float: right;
}
div#expand a
{
	color: #008fe9;
	border-bottom-color: #008fe9;
}
/* @end */

/* @group Ссылки для сортировки */
div#sort_links
{
	margin-bottom: 10px;
	float: right;
}
div#sort_links a
{
	color: #008fe9;
	border-bottom-color: #008fe9;
}
/* @end */

/* @group Список */
#main_list.brands{ width:1020px; } 
#main_list.categories{ width:1020px; }
#main_list.features{ width:1020px; }


#list{
	min-width: 200px;
	border-bottom: 1px solid #d0d0d0;
	clear: both;
}
#list #list{ border-bottom: none; }

#list .clear{clear:both;}

#list .row{
	border-top: 1px solid #d0d0d0;
	background-color: #f3f3f3;
	border-collapse: collapse;
    /*height: 60px;*/
    padding-top: 10px;
}

#list .row .green{
	background-color: #00ff00;
}

#list .row .yellow{
	background-color: yellow;
}

#list .row .red{
	background-color: #ff0000;
}

#list .row .blue{
	background-color: blue;
}

#list .row .purple{
	background-color: purple;
}

#list .row .violet{
	background-color: violet;
}

#list .row .orange{
	background-color: orange;
}

#list .tree_row:hover{
	background-color: #f9f9f9;
}

#list .even{
	background-color: #ebebeb;
}
#list .cell {
	vertical-align: top; 
	padding: 0px;
	/*padding-top: 10px;
	padding-bottom: 10px;*/
	float:left;
}

#list .cellp {
	vertical-align: top; 
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 7px;
	float:left;
	width: 39%;
}

#list .cellr {
	text-align: right;
	vertical-align: top; 
	padding: 0px;
	padding-top: 10px;
	padding-bottom: 7px;
	float:left;
}

#list .move {
	vertical-align: middle;
	width: 25px;
	padding-right: 0px;
	padding-left: 5px;
    /*padding-top: 10px;*/
}

#list .move div{
    height: 25px;
    width: 25px;
	margin-top: 2px;
}
#list .checkbox {
	width:20px;
	padding-right: 0px;
	padding-left: 5px;
    /*padding-top: 20px;*/
}

#list .image{
	width: 55px;
	padding-bottom: 3px;
	padding-top: 5px;
	padding-right: 0px;
}
#list .image a{
	width: 55px;
	display: block;
}
#list .image img {
	margin-left: 5px;
	border: 1px solid #d3d3d3;
}

#list .name {
	font-size:12px;
	padding-left: 10px;
	max-width: 900px;
}
#list.related_products .name {
	width: 320px;
}
#list .product_name {
	width:900px;
    *position: relative;
    /*margin-top: 10px;*/
    margin-bottom: 7px;
}
#list .product_name a {
  *position: absolute; /*Scrum*/
  *left:0;             /*Scrum*/
}

#list .brand_nameqwe {
	width:300px;
}
#list .page_name {
	width:300px;
}
#list .user_name {
	width:220px;
}
#list .user_email {
	width:200px;
}
#list .user_email a{
	color: #707070;
}
#list .user_group {
	width:200px;
	text-align: right;
	color: #707070;
}

#list.groups{
	width: 500px;
}

#list .group_name {
	width:250px;
	padding-left: 10px;	
}
#list .group_discount {
	width:90px;
	text-align: right;
}

#list .order_name {
	width:350px;
}
#list .order_date {
	width:120px;
	color: #505050;
	font-size: 12px;
	padding-left: 10px;
}
#list .green{
	background-color: #dcffd0;
}

#list .yellow{
	background-color: #ffd35f;
}

#list .red{
	background-color: #ff8888;
}

#list .variants div.expand_variant{
	float: right;
	text-align: left;
/*	width: 167px;*/
}
.expand_variant a {
    *position: static !important; /*Scrum*/
}

#list .variants a.expand_variant, #list .product_name a.roll_up_variant{
	color: #008fe9 !important;
	border-bottom-color: #008fe9 !important;	
	font-size: 11px !important;
}
#list .variants {
	float:left; 
    /*margin-right: 140px;*/
	font-size: 12px;
	color: #707070;
	/*padding-left:10px;*/
	text-align: right;
    /*    margin-top: 15px;*/
}

span.variant_viewed {
    /*width: 65px;*/
    display: inline-block;
}

#list .variants ul li{ 
	text-align: left;
	margin-bottom: 2px;
	overflow: hidden;
}
#list .variants ul i{ 
	font-style:normal;
	padding-bottom: 2px;
	overflow: hidden;
} 
#list .variants ul .price {
	font-size: 14px;
	width: 80px;
	text-align: right;
	margin-right: 3px;
}
#list .variants ul .compare_price {
	color: #dd0063;
}
#list .variants ul .stock {
	font-size: 14px;
	width: 40px;
	text-align: right;
	color: #4e4e4e;
	margin-right: 3px;
}
#list .icons {
	text-align: right;
	width: 270px;
	float: right;
    margin-top: -7px;
	padding-top: 10px;
	/*padding-left: 10px;
    margin-left: 20px;*/
    zoom:1;
}

 
 
#list .invisible .name{ color: #909090; }

#list .invisible .name a{
	color: #909090;
	border-bottom-color: #909090;	
}

#list .row .name{ color: #000000; }

#list .row .name a{
	color: #000000;
	border-bottom-color: #000000;	
}

#list .coupon_name {
	width:220px;
}

#list .coupon_details {
	width:200px;
}
#list .coupon_discount {
	width:180px;
}
#list .coupon_details .detail,
#list .coupon_discount .detail{
	color:#707070;
	font-size: 11px;
}

span.order_label_big
{
	float:left; 
	display: block;
	padding:0px;
	width:32px;
	height:32px;
	margin-right:5px;
	background-color: #e0e0e0;
	background-image:url(../images/label_big.png);
}

span.order_label
{
	float:left; 
	display: block;
	padding:0px;
	width:16px;
	height:16px;
	margin-right:5px;
	background-color: #e0e0e0;
	background-image:url(../images/label.png);
}
.order_name span.order_label{margin-right:0px;float:right;}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
       only screen and (min--moz-device-pixel-ratio: 2.0),
       only screen and (-o-min-device-pixel-ratio: 200/100),
       only screen and (min-device-pixel-ratio: 2.0) {
           span.order_label {
              background-image:url('../images/label@2x.png');
              -webkit-background-size: 64px 16px;
              -moz-background-size: 64px 16px;
              background-size: 64px 16px;
          }
      }
#list span.order_label
{
	background-position:-16px;
}
#list .even span.order_label
{
	background-position:-32px;
}
#list .green span.order_label
{
	background-position:-48px;
}


.icons a
{
	float:left;
	height: 25px;
	width: 22px;
    display:  block;
    zoom:1;
	background-position: center center;
	background-repeat: no-repeat;	
	text-align: center;
	vertical-align:  bottom;
}
.icons2 a
{
	float:left;
	height: 25px;
	width: 22px;
    display:  block;
    zoom:1;
	background-position: center center;
	background-repeat: no-repeat;	
	text-align: center;
	vertical-align:  bottom;
}

.icons  a.enable				{ background-image: url(../images/lightbulb.png); }
.invisible .icons a.enable		{ background-image: url(../images/lightbulb_off.png); }
.icons a.preview				{ background-image: url(../images/monitor.png); }
.icons a.delete 				{ background-image: url(../images/delete.png); }
.icons a.print					{ background-image: url(../images/printer_small.png); }
.icons a.featured 				{ background-image: url(../images/star_gray.png); }
.icons a.yandex					{ background-image: url(../images/yamarket_gray.png); }
.icons a.google					{ background-image: url(../images/google_gray.png); }
.icons a.warranty					{ background-image: url(../images/warranty_gray.png); }
.icons a.in_filter				{ background-image: url(../images/filter_gray.png); }
.in_filter .icons a.in_filter	{ background-image: url(../images/filter.png); }
.icons a.duplicate				{ background-image: url(../images/page_copy.png); }
.warranty .icons a.warranty			{ background-image: url(../images/warranty.png); }
.yandex .icons a.yandex			{ background-image: url(../images/yamarket.png); }
.google .icons a.google			{ background-image: url(../images/google.png); }
.featured .icons a.featured		{ background-image: url(../images/star.png); }
.icons a.cents					{ background-image: url(../images/coin_stack_gold_off.png); }
.cents  .icons a.cents			{ background-image: url(../images/coin_stack_gold.png); }
.icons a.loading_icon			{ background-image: url(../images/loader.gif); }
.icons a.restore				{ background-image: url(../images/clock_history_frame.png); }
.icons a.k50					{ background-image: url(../images/k50_gray.png); }
.k50 .icons a.k50			{ background-image: url(../images/k50_red.png); }
.icons a.priceru			{ background-image: url(../images/priceru_gray.png); }
.priceru .icons a.priceru	{ background-image: url(../images/priceru.png); }


.tree_row > .icons > a.meta				{ background-image: url(../images/meta_on.png); }
.meta > .tree_row > .icons a.meta		{ background-image: url(../images/meta_off.png); }
.icons  a.description				{ background-image: url(../images/desc_on.png); }
.description > .tree_row > .icons > a.description		{ background-image: url(../images/desc_off.png); }

.icons  a.hide_products				{ background-image: url(../images/196.png); background-size: contain;}
.hide_products > .tree_row > .icons > a.hide_products		{ background-image: url(../images/196_g.png); background-size: contain;}

.brands .icons > a.meta				{ background-image: url(../images/meta_on.png); }
.brands .meta .icons a.meta		{ background-image: url(../images/meta_off.png); }

.main_page .icons a.main_page { background-image: url(../images/lightbulb.png); }
.icons a.main_page { background-image: url(../images/lightbulb_off.png); }

.phone	{
	padding-right:20px;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url(../images/phone.png);
	cursor: pointer;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2.0),
       only screen and (min--moz-device-pixel-ratio: 2.0),
       only screen and (-o-min-device-pixel-ratio: 200/100),
       only screen and (min-device-pixel-ratio: 2.0) {
			.icons  a.enable				{ background-image: url(../images/lightbulb@2x.png); }
			.invisible .icons a.enable		{ background-image: url(../images/lightbulb_off@2x.png); }
			.icons a.preview				{ background-image: url(../images/monitor@2x.png); }
			.icons a.delete 				{ background-image: url(../images/delete@2x.png); }
			.icons a.print					{ background-image: url(../images/printer_small@2x.png); }
			.icons a.featured 				{ background-image: url(../images/star_gray@2x.png); }
			.icons a.in_filter				{ background-image: url(../images/filter_gray@2x.png); }
			.in_filter .icons a.in_filter	{ background-image: url(../images/filter@2x.png); }
			.icons a.duplicate				{ background-image: url(../images/page_copy@2x.png); }
			.featured .icons a.featured		{ background-image: url(../images/star@2x.png); }
			.icons a.cents					{ background-image: url(../images/coin_stack_gold_off@2x.png); }
			.cents  .icons a.cents			{ background-image: url(../images/coin_stack_gold@2x.png); }
			.icons a.loading_icon			{ background-image: url(../images/loader@2x.gif); }
			.icons a.restore				{ background-image: url(../images/clock_history_frame@2x.png); }
			.icons a{
              -webkit-background-size: 16px 16px;
              -moz-background-size: 16px 16px;
              background-size: 16px 16px;
             }
      }


#list .action select{
	width: 250px;
	font-size: 12px;
}
#list .save{
	text-align: right;
}

/* Хэлпер для мультисорта */

.sort-multi-helper{
	border-top: 1px solid #D0D0D0
	border: 30px solid red;
}

.esort-multi-helper li{
	background:#EBEBEB;
	border-bottom: 1px solid #D0D0D0;
	height:32px;
}


/* @group Комментарии */
#list .row.unapproved {
	background-color: #fffde5;
}
#list a.approve{
	display: none;
}
#list .unapproved  a.approve{
	display: inline;
	font-size: 12px;
	color: green;
	margin-left: 10px;
	text-decoration: none;
	border-bottom: 1px dotted green;
}
div.comment_info{
	margin-top: 10px;
	font-size: 11px;
	color: #505050;
}

div.comment_name{
	font-size: 16px;
	color: #000000;
	margin-bottom: 10px;
}
div.comment_text{
	font-size: 12px;
	color: #000000;
}


div#action{
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 0px;

	float: left;
}

div#action input#apply_action{
	float:right;
	display: block;
	margin: 5px;
}
div#action span#select{
	padding-left: 20px;
}
div#action span#move_to_page, div#action span#move_to_category, div#action span#move_to_brand, div#action span#move_to_vendor , div#action span#move_to_subcategory, div#action span#make_mark, div#action span#sales_notes {
	display:none;
}

/* @end */




/* TinyMCE */
textarea.editor_large{
	height:500px;
}
textarea.editor_small{
	height:250px;
}


/* @end */


/* Валюты */
#currencies_block {
	background-color: #f0f0f0;
	border: 1px dotted #d0d0d0;
	clear: both;
	overflow: hidden;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	width: 100%;
}
#currencies_block ul  {
	overflow: hidden;
	padding-bottom: 2px;
	padding-left:20px;
	padding-top: 2px;
	clear: left;
}
#currencies_block ul#header {
	height: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#currencies_block ul#header li {
	font-size: 13px;
	padding-left: 0px;
	margin-left: 1px;
}
#currencies_block ul li {
	float: left;
	display: block;
	height: 31px;
	overflow: hidden;
}
#currencies_block ul li input {
	height: 20px;
	font-size: 14px;
	color: #636363;
	margin-top: 0px;
	padding-top: 2px;
	margin-left: 2px;
}
#currencies_block li.move {	width: 20px; height:16px; padding-top: 5px; margin-right: 5px;}
#currencies_block li.name { width: 230px;}
#currencies_block li.name a img{padding-top: 5px;}
#currencies_block li.name input {
	margin-right: 5px;
	font-size: 16px;
	color: #000;
	width: 220px;
	float: left;
}
#currencies_block li.name a.del_variant {
	display: block;
	padding-top: 6px;
}
#currencies_block li.icons { width: 80px; padding-top: 5px;}
#currencies_block li.sign { width: 120px; }
#currencies_block li.sign input { width: 95px; }
#currencies_block li.iso { width: 120px; }
#currencies_block li.iso input { width: 95px;}
#currencies_block li.rate input { width: 50px; 
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
#currencies_block li.rate .rate_from{ float:left; min-width: 100px;}
#currencies_block li.rate .rate_to { float:left; margin-right: 10px;}

#currencies_block span.add {
	margin-left: 30px;
	clear: left;
	margin-top: 5px;
	display: block;
	background-repeat: no-repeat;
	padding-left: 20px;	
	background-image: url(../images/plus-circle.png);
}
#currencies_block .variant_move div{
	width:20px;
	height: 16px;
}



span.alert {
	background-image: url(../images/bullet_error.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	color: red;
}


/* Заказы */
#list .note{
	clear: both;
	padding: 3px;
	border: 1px dotted #ffc539;
	background-color: #fffac4;
	margin-top: 3px;
}

form#order div#name
{
	height: 50px;
}
form#order select.status
{
	font-size: 22px;
}

div#next_order{ float: right; font-size: 26px; }
div#next_order a{text-decoration: none; border: 1px solid #e0e0e0; background-color: #ffffff; padding-left:3px; padding-right: 3px;}
div#next_order a.next_order{ margin-left: 2px; }

div#order_details
{
	float:right;
	width: 300px;
	margin-top: -10px;
}
div#order_details div#user
{
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	padding: 15px;
	margin-bottom: 10px;
}
.order_details label
{
	display: block;
	color:#808080;
}
.order_details input[type=text]
{
	width:100%;	
	margin-bottom: 10px;
}

.order_details textarea
{
	width:100%;	
	height:40px;
	margin-bottom: 10px;
}

form#order div#order_details div.view_order_detail
{
	font-size: 16px;
	margin-bottom: 10px;
	//font-weight: bold;
	color #000000;
}

form#order div#order_details div.view_note .note_text
{
	padding: 5px;
	border: 1px dotted #ffc539;
	background-color: #fffac4;
	margin-top: 5px;
	margin-bottom: 10px;
}
form#order div#order_details div.edit_note textarea { height:100px; }


div#purchases
{
	float: left;
	width: 900px;
}
div#purchases div#add_purchase
{
	height: 40px;
	margin-top: 5px;
	float: left;
}

div#purchases .edit_purchases
{
	float: left;
	margin-top: 5px;
}
.purchases#list{
	width:100%;
}
.purchases#list div.purchase_name {
	padding-left: 15px;
	width: 610px;
}
.purchases#list .purchase_name div.purchase_variant{
	/*float: left;*/
	margin-right: 10px;
	color: #707070;
	/*padding-left: 3px;*/
}
.purchases#list .price{
	text-align: right;
	white-space: nowrap;
	font-weight: bold;
	width: 85px;
}
.purchases#list .price input{
	width: 60px;
}
.purchases#list .amount{
	width: 35px;
	padding-left: 10px;
	text-align: right;
	white-space: nowrap;
}
.purchases#list .icons{
	padding-left: 10px;
}
.purchases#list .purchase_name label{
	font-style: italic;
	color: #909090;
}
div#purchases div.subtotal{
	width: 100%;
	text-align: right;
	font-size: 16px;
	margin-top: 5px;
}
div#purchases div.total{
	width: 100%;
	text-align: right;
	font-size: 20px;
	margin-top: 5px;
}

form#order div.discount {margin-top: 20px;}
form#order div.discount h2{float: left; margin-right: 10px;}
form#order div.discount input{width:80px;font-size: 14px; margin-top: 3px;}

form#order div.delivery select{font-size: 14px; margin-right: 10px; width: 250px;}
form#order div.delivery input[type="text"]{width:80px;font-size: 14px;}
form#order div.delivery span.currency{font-size: 14px;}
form#order div.delivery div.separate_delivery{float:right;}
form#order div.delivery div.separate_delivery input{width: auto;}
 
form#order div.payment select{font-size: 14px; margin-right: 10px; width: 250px;}
form#order div.payment input{font-size: 14px;}
form#order div.payment label{font-size: 14px;}
form#order div.payment label.green{background-color: #b9ff3f;}

form#order div.view_user{margin-bottom: 15px; font-size: 14px;}
form#order div.edit_user{margin-bottom: 15px;}
form#order div.block_save{margin-top: 15px; margin-right: -15px;}


/* Импорт */
input.import_file {
	width: 600px;
	font-size: 18px;
}
div.block_help
{
	width: 900px;
	margin-top: 20px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px dotted #e0e0e0;
	font-size: 18px;
}

div.block_help p
{
	margin-bottom: 20px;
}
div.block_help li
{
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
}
div.block_help li label
{
	display: block;
	float: left;
	width: 170px;
}
ul#import_result
{
	display: block;
	clear: left;
	padding-top: 10px;
}

ul#import_result li
{
	margin-bottom: 5px;
}
ul#import_result li .count
{
	width: 30px;
	display: block;
	float: left;
}
ul#import_result li .status
{
	padding: 0 26px 16px 0;
	background-image: url(../images/exclamation.png);
	background-repeat: no-repeat;

}
ul#import_result li .added { background-image: url(../images/accept.png); }
ul#import_result li .updated { background-image: url(../images/update.png); }

/* Темы */
ul.themes
{
	width: 100%;
}

ul.themes li
{
	display: block;
	float: left;
	margin-top: 15px;
	padding-right: 20px;
	height: 200px;
}

ul.themes li img.preview
{
	width: 200px;
	height: 150px;
	border: 1px solid #909090;
	background-color: #ffffff;
	padding: 2px;
	display: block;
}

.templates_names a{
	display: block;
	float: left;
	padding: 10px;
	background-color: #f0f0f0;
	border: 1px solid #e0e0e0;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0;
}
.templates_names a.selected{
	background-color: #ffde5c;
}

.theme_images li{
	display:block;
	float: left;
	margin-right: 50px;
	margin-bottom: 20px;
	margin-top: 10px;
	overflow: hidden;
	width: 180px;
	white-space: nowrap;
}
.theme_images .theme_image{
	display: table;
}
.theme_images li a.preview{
	width: 180px;
	height: 180px;
	border: 1px solid #e0e0e0;
	display: table-cell;
	vertical-align:middle;
	background-color: #ffffff;
	text-align: center;
	background-image: url(../images/transparent.gif);
}
.theme_images li a img{
	max-width: 170px;
	max-height: 170px;
}
.theme_images li .name{
	font-size: 18px;
	max-width: 150px;
	height: 25px;
	overflow: hidden;
	margin-bottom: 3px;
}
.theme_images li .name input{
	font-size: 16px;
	width: 130px;
	margin-top: -3px;
}
.theme_images li a.edit, .theme_images li a.delete{
	float:right;
	margin-top: 3px;
	margin-left: 3px;
}

.themes li .name{
	font-size: 18px;
	max-width: 150px;
	height: 25px;
	overflow: hidden;
	margin-bottom: 3px;
}
.themes li .name input{
	font-size: 16px;
	width: 130px;
	margin-top: -3px;
}
.themes li a.edit, .themes li a.delete, .themes li a.select{
	float:right;
	margin-top: 3px;
	margin-right: 3px;
}
.themes li img.tick{
	margin-top: 3px;
	margin-right: 3px;
	float:left;
}
h1.locked{
	background-image: url(../images/lock.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 35px;
	margin-left: -5px;
}


.theme_images li p.size{
	float: left;
	color: #909090;
}
div.upload_image{
	margin-bottom: 20px;
} 
div.upload_image span#upload_image{
	margin-top: 5px;
	background-repeat: no-repeat;
	padding-left: 20px;	
	margin-right: 5px;
} 
div.upload_image span#upload_image{ background-image: url(../images/picture_add.png); }
div.upload_image input{
	display: block;
	width: 400px;
	margin-top:10px;
	font-size: 14px;
} 


.input_autocomplete{
	background-image: url(../images/combobox.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 12px;
	height: 16px;
	width: 290px;
	margin-top: 4px;
}

.marks input {
display:none;
}
.marks input + label {
color:red;
border: 1px solid red;
border-radius: 3px;
padding:2px;
background-color:#ccc;
cursor: pointer;
-moz-user-select: none;
-khtml-user-select: none;
user-select: none;  
}
.marks input:checked + label{
border: 1px solid green;
color:white;
background-color:green;
}

#popup {
display: none; 
position: fixed; 
opacity: 1; 
z-index: 11000; 
left: 50%; 
top:40%!important;
border: 1px solid #000;
border-radius: 3px;
background-color:#aaa;
padding:5px;
max-width:400px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;

    display: none;
}

.tabla , .tabla tr, .tabla tr td
{
border: 0px;
}

 

.hint span{ /*CSS for enlarged image*/  
position: fixed;  
background-color: yellow;  
padding: 5px;  
border: 1px solid white;  
visibility: hidden;  
text-decoration: none;  
border-radius: 4px 4px 4px 4px;
-moz-border-radius: 4px 4px 4px 4px;
-webkit-border-radius: 4px 4px 4px 4px;
max-width: 350px;
max-height: 400px;
white-space: pre-line;
text-align: left;
float: left;
} 

.hint:hover span{ /*CSS for enlarged image on hover*/  
visibility: visible;  
margin-left: 40px;
top: 35%;
}

#variants_block li.variant_images, #variants_block li.variant_color { width: 30px; }
#variants_block li.variant_images a.add_images { position: relative; top: 5px; }

#popup_images li { border: 1px solid #d0d0d0; width: 100px; height: 100px; margin-right: 7px; margin-bottom: 7px; background-color: #fff; display: -moz-inline-box; display: inline-block; *zoom: 1; *display: inline; word-spacing: normal; line-height: 100px; vertical-align: top; text-align: center; overflow: hidden; position: relative; }
#popup_images a { display: block; clear: both; margin: 0 7px 7px; }
#popup_images li img { vertical-align: middle; max-width: 100px; }
#popup_images li input { position: absolute; left: 8px; top: 8px; }
#popup_images { display: none; padding: 6px 0 0 6px; max-width: 437px; background: #f7f7f7; position: absolute; box-shadow: 0 0 14px #999; }
#popup_images:before { content:''; display: block; width:0; height:0; position: absolute; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #f7f7f7; left: 2px; top:-6px; }
#popup_images li { cursor: pointer; }
#popup_images li.active { border: 1px solid #2a2a2a; }
#popup_images li:hover { border: 1px solid #4d4d4d; }

div.colorPicker-picker { height: 16px; width: 16px; padding: 0 !important; border: 1px solid #d0d0d0; background: url(../images/color_arrow.gif) no-repeat top right; cursor: pointer; line-height: 16px; font-size:0.75em; font-weight:bold; text-align: center; display: inline-block; margin-top: 4px; }

div.colorPicker-palette { width: 110px; position: absolute; border: 1px solid #d0d0d0; background-color: #f7f7f7; padding: 2px; z-index: 9999;
    box-shadow: 0 0 14px #999; }
div.colorPicker-palette:before { content:''; display: block; width:0; height:0; position: absolute; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #f7f7f7; left: 2px; top:-6px; }

div.colorPicker_hexWrap {width: 100%; float:left }
div.colorPicker_hexWrap label { margin: 5px 2px; width: 25%; }
div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; border: 1px solid #d0d0d0; width: 65%; }

div.colorPicker-swatch { height: 12px; width: 12px; border: 1px solid #2a2a2a; margin: 2px; float: left; cursor: pointer; line-height: 12px; }

.summary_info{
    width: 100%;
}
.summary_info tr td{
    text-align: center;
}
.summary_info tr:nth-child(1)  td{
    font-weight: 800;

}
.summary_info tr  td:nth-child(1){
   font-weight: 600;
    text-align: left;
}

/*yandex ext*/
.input_autocomplete{
	background-image: url(../images/combobox.png);
	background-repeat: no-repeat;
	background-position: right center;
	font-size: 12px;
	height: 16px;
	width: 290px;
	margin-top: 4px;
}

label.property.yandex {
    width: 270px!important;
    float: right!important;
    margin-right: 200px;
}

label.property.sales {
    padding-left: 10px;
    width: 80px!important;
}

/*yandex ext*/
a.yandex_c.success_yandex {
    color: lime;
}
a.yandex_c.fail_yandex {
    color: #FF8000;
}
a.yandex_c {
    width: 70px!important;
}

li.product_yandex {
    margin-left: 60px!important;
    display: inline-block;
}

.p_second_bar .name {
    display: table-cell;
    margin-bottom: 12px;
    width: 70px;
}

input[name="type_prefix"]{
    font-size: 26px;
    display: table-cell;
        width: 462px;
}

.p_second_bar label {

}

.p_second_bar {
    display: table;
    width: 100%;
    margin-bottom: 10px;
}

.galochki {
    display: table-cell;
    width: 300px;
    vertical-align: top;
}

.s_warranty .icons a.seller_warranty {
    background-image: url(../images/s_warranty.png);
}
.icons a.seller_warranty {
    background-image: url(../images/warranty_gray.png);
}

li.variant_pickup {
    margin-left: 100px;
}
li.variant_stock {
    margin-left: 30px;
}
input.sales_notes {
    /*display: none;*/
}



/*
.store .icons a.store {
    background-image: url(../images/s_warranty.png);
}
.icons a.store {
    background-image: url(../images/warranty_gray.png);
}
*/
/*/yandex ext*/

/*Categories dropdown*/
.icon-folder {
	width: 25px;
	height: 25px;
	background: url("../images/icon-folder.png") 0px 11px no-repeat;
	cursor: pointer;
}

.icon-folder.icon-folder-active {
	background: url("../images/icon-folder-active.png") 0px 11px no-repeat;
}

.no-folder {
	width: 25px;
	height: 25px;
}

#list.drop {
	display: none;
}

/*variants sklad-magaz*/
li.variant_slad-magaz select {
    width: 87px;
}

/*/Categories dropdown*/

/*Right sidebar dropdown*/
/*#my_list1 {
	border-left: 1px dotted;
}*/

#right_menu .list-right li {
	margin-bottom: 0;
	padding-left: 16px;
	padding-bottom: 7px;
	position: relative;
}

#right_menu .list-right li:last-child {
	padding-bottom: 0;
}

#right_menu .list-right li:before {
	content: "";
	display: block;
	border-left: 1px dotted #444;
	width: 1px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 6px;
}

#right_menu .list-right li a:before {
	content: "";
	display: block;
	border-top: 1px dotted #444;
	width: 10px;
	height: 1px;
	position: absolute;
	top: 11px;
	left: -8px;
}

#right_menu .list-right li.no-border:before,
#right_menu .list-right li.no-border a:before {
	display: none;
}

#right_menu .list-right li a {
	display: block;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 3px;
	position: relative;
	/*border-left: 1px dotted #444;
	padding: 5px 0 5px 10px;
	position: relative;*/
}

#right_menu .list-right li.selected a {
	background: none;
	color: #000;
	text-decoration: underline;
}

#right_menu .list-right li.selected a:hover {
	color: #18a5ff;
}

#right_menu .list-right li.selected > a {
	padding-top: 4px;
	padding-left: 4px;
	padding-left: 3px;
	background: #18a5ff;
	color: #fff;
	text-decoration: none;
}

#right_menu .list-right li.selected > a:hover {
	color: #fff;
}

/*#my_list1 li a:before {
	content: "";
	display: block;
	border-top: 1px dotted #444;
	width: 9px;
	height: 1px;
	background: none;
	position: absolute;
	top: 11px;
	left: 0;
}*/

/*#my_list1.level-1 > li {
	margin-left: 16px;
}*/

/*#right-menu .list-right li a {
	display: block;
	padding-bottom: 3px;
}*/

.list-right span.icon {
	display: block;
	width: 13px;
	height: 13px;
	position: absolute;
	top: 5px;
	left: 0;
	cursor: pointer;
}

.list-right span.icon-plus {
	background: url("../images/icon-plus.png") 0px 0px no-repeat;
}

.list-right span.icon-minus {
	background: url("../images/icon-minus.png") 0px 0px no-repeat;
}

.list-right .dropdown .drop {
	display: none;
}

#right_menu .list-right ul {
	margin-left: 0;
}
/*#my_list1.level-1 .no-border > a:before {
	display: none;
}*/
/*/Right sidebar dropdown*/

input.set_interval {
    width: 50px;
}
a.rolldown {
    margin: 5px;
    padding-top: 5px;
    display: inline-block;
}
a.vstore{
    background: url('../images/tick.png');
    background-repeat: no-repeat;
    margin-top: 5px;
}

#list .icons.order {
    width: 55px;
}

.manager_name {
    margin: 20px 0 0;
}

textarea.calendar_days {
    float: right;
    height: 205px!important;
    width: 310px!important;
}
input.fullname {
    width: 400px;
}

/*coupons*/
.block.layer.orders {
    margin-top: 210px;
}
/*parsers sshop 19.04.2016*/
ul.marga-settings li input {
    width: 40px!important;
}
ul.marga-settings li select{
    width: 50px!important;
}

ul.marga-settings_stock li input {
    width: 40px!important;
}
ul.marga-settings_stock li select{
    width: 50px!important;
}
.margin-body{
    display: none;
    padding: 15px;
}
.margin-body.display{
    display: block;
}

input.lowcost {
    width: 60px;
    margin-right: 20px;
}
input.highcost {
    width: 60px;
    margin-right: 20px;
}

.ui-tabs-nav li {
    width: 127px!important;
    clear: none!important;
}

.ios7-switch {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
}

.ios7-switch input {
    opacity: 0;
    position: absolute;
}

.ios7-switch input + span {
    position: relative;
    display: inline-block;
    width: 1.65em;
    height: 1em;
    background: white;
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
    border-radius: 0.5em;
    vertical-align: -0.15em;
    transition: all 0.40s cubic-bezier(.17,.67,.43,.98);
}

.ios7-switch:active input + span,
.ios7-switch input + span:active {
    box-shadow: inset 0 0 0 0.73em #e9e9e9;
}

.ios7-switch input + span:after {
    position: absolute;
    display: block;
    content: '';
    width: 0.875em;
    height: 0.875em;
    border-radius: 0.4375em;
    top: 0.0625em;
    left: 0.0625em;
    background: white;
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    transition: all 0.25s ease-out;
}

.ios7-switch:active input + span:after,
.ios7-switch input + span:active:after {
    width: 1.15em;
}

.ios7-switch input:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
}

.ios7-switch input:checked + span:after {
    left: 0.7125em;
}

.ios7-switch:active input:checked + span:after,
.ios7-switch input:checked + span:active:after {
    left: 0.4375em;
}

/* accessibility styles */
.ios7-switch input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.15),
                0 0 0.05em rgba(0,0,0,0.08),
                0 0.1em 0.2em rgba(0,0,0,0.3);
    background: #fff;
}

.ios7-switch input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #dadada;
}

.ios7-switch input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #33be4b;
}

/* reset accessibility style on hover */
.ios7-switch:hover input:focus + span:after {
    box-shadow: inset 0 0 0 0.03em rgba(0,0,0,0.1),
                0 0 0.05em rgba(0,0,0,0.05),
                0 0.1em 0.2em rgba(0,0,0,0.2);
    background: #fff;
}

.ios7-switch:hover input:focus + span {
    box-shadow: inset 0 0 0 0.0625em #e9e9e9;
}

.ios7-switch:hover input:focus:checked + span {
    box-shadow: inset 0 0 0 0.73em #4cd964;
}

#product ul.xml-parse-settings select {
    width: 135px;
}
#product ul.xml-parse-settings select.xml-attr{
    display: none;
    width: 120px;
}
#product ul.xml-parse-settings select.xml-attr.display{
    display: inline-block;
}

#list.parsers .row{
	border-top: 1px solid #d0d0d0;
	border-collapse: collapse;
    padding: 0;
}
.icons span.xml {
    float: left;
    height: 25px;
    width: 22px;
    display: block;
    zoom: 1;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: bottom;
    background-image: url(../images/xml.png);
}

.ui-widget-header a {
    width: 100px;
}
a#full_description_generate {
    margin-bottom: 10px;
    display: inline-block;
}
a.spoiler {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px;
}
.des_cat_templates span.add{
    background-repeat: no-repeat;
    padding-left: 20px;
    background-image: url(../images/plus-circle.png);
}
.des_cat_templates {
    margin-top: 20px;
}
select[name="categories_templates[]"] {
    width: 285px;
}
.features_list {
    display: none;
}
/*xml parser*/
#product .block li input.xpath_input {
    width: 230px;
    display: none;
}
#product .block ul.xml-parse-settings li {
    width: 700px;
}
/*slava new_features*/
i.fa.fa-info-circle {
    background-image: url(../images/i.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    cursor: pointer;
}
.prefix {
    padding-bottom: 20px;
}
.taggroupselect {
    display: table;
    width: 100%;
    padding: 0 0 4px 0;
    margin-bottom: 15px;
    clear: both;
}
.taggroupselect-inline {
    display: block;
    margin-right: -15px;
    padding: 0 0 4px 0;
}
.taggroup-method:hover, .taggroup-method.active {
    background: #8bc3e4;
}
.taggroup-method {
    background: #FFF;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin: 0 15px 4px 0;
    padding: 0px 5px 0 8px;
    width: 195px;
    display: block;
    float: left;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.taggroup-method .radio {
    margin: 5px 0;
}
.taggroupselect .radio {
    font-size: 13px;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.radio label, .checkbox label {
    min-height: 20px;
    padding-left: 0px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
.taggroup-method .radio input {
    margin-top: 3px;
    display:none;
}
.taggroup-image {
    text-align: center;
    height: 100px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 48px;
    vertical-align: middle;
}
.taggroup-header {
    font-weight: bold;
    display: block;
    margin: 5px 0;
}
.taggroup-description {
    line-height: 1.30;
    display: block;
    min-height: 30px;
}

/*filters-for-categories*/
.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 14px;
    line-height: 20px;
}
.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 2px;
    cursor: pointer;
    width: 30px;
    padding: 5px 7px;
    text-indent: 100%;
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    cursor: move;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.dd-handle {
    display: block;
    height: 30px;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #333;
    opacity: 0.2;
    font-size: 22px;
    font-weight: normal;
}
.dd-item:nth-child(2n+1) > .dd3-content {
    background: #fcfcfc;
}
.property-list .dd3-content {
    padding-right: 220px;
}
.dd3-content {
    display: block;
    height: auto;
    min-height: 36px;
    line-height: 18px;
    margin: 0;
    padding: 8px 10px 8px 38px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #e1e1e1;
    background: #f5f5f5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.property-list .type {
    display: block;
    padding-right: 2px;
    width: 145px !important;
    width: auto;
    margin-right: 10px;
    text-align: left;
    right: 160px;
    position: absolute;
    top: 6px;
}
.property-list .label-default {
    background-color: #f0f0f0;
    font-size: 11px;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
}
.property-list .controllinks {
    width: 80px;
    right: -15px;
    position: absolute;
    top: 7px;
}
.controllinks {
    display: block;
    width: 150px;
    float: right;
}
.opcity50 {
    opacity: 0.5;
    color: #333;
    margin-right: 10px;
}
.dd3-content .delete-item {
    opacity: 0.2;
}
.controllinks a {
    color: #BBB;
}
.property-list .label-default {
    background-color: #f0f0f0;
    font-size: 11px;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
}
.label-default {
    background-color: #777;
}
.type .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #808080;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "x";
    font-size: 18px;
    color: black;
    font-weight: bolder;
    font-family: monospace;
}
.dd3-content .delete-item:hover {
    opacity: 0.7;
}
#filter_features.dd-list.property-list li{
    width: 600px;
    margin: 0;
}
#column_right.filter {
    padding-left: 130px;
    width: 360px;
}
select.features_select {
    margin-top: 10px;
}
.form-control {
    display: block;
    width: 96%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.roll-onoff {
    display: block;
    position: absolute;
    top: 5px;
    right: 73px;
    width: 175px;
    float: right;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.btn-default4.on.active {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}
.btn-group > .btn:first-child {
    margin-left: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
[data-toggle="buttons"] > .btn input[type="radio"]{
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group {
    margin-left: -1px;
}
.btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
    float: left;
}
.btn-default4 {
    background-color: #d0d0d0;
    border-color: #CCCCCC;
    color: #333333;
}
.btn-xs, .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 0.88571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.btn-default4.off.active {
    background-color: #999;
    border-color: #333;
    color: #FFFFFF;
}
/*callback*/ 
li.calltime select {
    width: 60px!important;
}
input[name="callback_calltime"] {
    margin-right: 20px;
}
.select_status {
    display: inline-block;
    margin: 30px;
}
select[name="status"] {
    font-size: 16px;
    padding: 3px;
}
.time_to_call {
    display: inline-block;
    width: 110px;
    line-height: 1.5;
}
.name.cell {
    width: 260px;
}
.loading_icon {
    background-image: url(../images/loader.gif); 
}
/*callback*/

/* product_videos */

.videos #list .icons {
	width: auto;
	margin-top: 0;
}

.videos .name.cell {width: auto;}

.videos #list .image {
	padding-top: 0;
	margin-top: -3px;
}

/* /product_videos */

/*features catalog*/
div.usual {
    /*display: none;*/
}
div.separ{
    cursor: pointer;
}

#header #expand {
    margin-bottom: 10px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
/*slava coupons timing */
#product #column_right .coupon-schedule select{
    width: 40px;
}
#product #column_right .coupon-schedule label{
    width: 65px;
    font-size: 14px;
    font-weight: 600;
}
ul.coupon-schedule {
    margin: 10px 0 0 10px;
}
.schedule-weekly {
    position: relative;
    display: inline-block;
    width: 88%;
}
.schedule-weekly__row {
    overflow: hidden;
}
.schedule-weekly__selectors {
    display: block;
    float: left;
    padding: 0 0 1em;
}
.schedule-weekly__days {
    padding-right: 2em;
}
.schedule-weekly__clock-icon {
    margin-right: 1em;
}
.schedule-weekly__controls {
    padding: 0 0 1em 1em;
    display: inline;
}
.schedule-weekly__controls .pseudo-clicker {
    float: left;
    margin-top: 4px;
}
.pseudo-clicker {
    cursor: pointer;
    display: block;
    height: 12px;
    width: 12px;
    background: url('../images/buttons.png');
    margin: 2px;
}
.pseudo-clicker__remove_disabled {
    background-position: -12px -12px;
}
.pseudo-clicker__remove {
    background-position: 0 -12px;
}

.not.saved {
    display: inline-block;
    margin-bottom: 6px;
}
.not.saved span {
    padding: 5px;
    color: red;
}

#list .image.cell.brand_image {
    margin-top: -10px;
    padding-right: 20px;
}

span.rounded_counter_tab {
    border: 1px solid red;
    border-radius: 20px;
    padding: 0 5px 0 4px;
    background-color: red;
    color: white;
}