body,
#header {
	background: url(../images/ny/ny-bg.jpg) repeat #f2f2f2;
}

.button::before {
	content: '';
	position: absolute;
	top: auto;
	bottom: 100%;
	left: 0;
	display: block;
	margin: 0 0 -3px;
	width: 100%;
	height: 20px;
	background: no-repeat url(../images/ny/button-snow-1.png) right bottom / contain;
	border: 0;
	opacity: 1;
	visibility: visible;
	
	-webkit-transform: none;
			transform: none;
}

.filter_submit::after,
.button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	opacity: 1;
	visibility: visible;
	background-image: url(../images/ny/button-snow-2.png);
	background-repeat: repeat-x;
	background-size: cover;
	opacity: 0.75;
	pointer-events: none;
	
	-webkit-transition: all 0.3s;
			transition: all 0.3s;
	
	-webkit-transform: none;
			transform: none;
}

.button_transparent {background-color: #fff;}

.button_transparent::before {display: none;}

.header_informer_title {z-index: 3;}

#product {box-shadow: none;}

.similar_products{background: none;}