html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
}

q, blockquote {quotes: none;}

q:before, 
q:after,
blockquote:before, 
blockquote:after {
	content: '';
	content: none;
}

ul, ol {list-style: none;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
 
img, svg {
	max-width: 100%;
	max-height: 100%;
}

img {vertical-align: middle;}

svg {vertical-align: top;}
 
input,
button,
select,
textarea,
optgroup {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
	font: inherit;
	color: inherit;
}

select {max-width: 100%;}

select:-moz-focusring { color: transparent; text-shadow: 0px 0px 0px #000;}

a:focus,
img:focus,
input:focus,
button:focus,
select:focus,
textarea:focus {outline: 0;}
 
input::-moz-focus-inner,
button::-moz-focus-inner {
    outline: 0;
    border: 0;
    padding: 0;
}

input[type="search"] {-webkit-appearance: textfield;}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {height: auto;}

input[type="submit"],
button[type="submit"] {-webkit-appearance: none;}
 
header, footer, nav, article, section, aside, figure, figcaption, main {display: block;}
time {display: inline;}