{strip}

{if $total_pages_num>1}

<div class="pagination relative text_center">
	
	{* Количество выводимых ссылок на страницы *}
	{$visible_pages = 5}

	{* По умолчанию начинаем вывод со страницы 1 *}
	{$page_from = 1}
	
	{* Если выбранная пользователем страница дальше середины "окна" - начинаем вывод уже не с первой *}
	{if $current_page_num > floor($visible_pages/2)}
		{$page_from = max(1, $current_page_num-floor($visible_pages/2)-1)}
	{/if}	
	
	{* Если выбранная пользователем страница близка к концу навигации - начинаем с "конца-окно" *}
	{if $current_page_num > $total_pages_num-ceil($visible_pages/2)}
		{$page_from = max(1, $total_pages_num-$visible_pages-1)}
	{/if}
	
	{* До какой страницы выводить - выводим всё окно, но не более ощего количества страниц *}
	{$page_to = min($page_from+$visible_pages, $total_pages_num-1)}
	
	{if $current_page_num==2}
		<a class="pagination_control hidden_xs" href="{url page=null load_more=null}">{include file="svg.tpl" svgId="icon_arrow_left"}</a>
	{elseif $current_page_num>2}
		<a class="pagination_control hidden_xs" href="{url page=$current_page_num-1 load_more=null} ">{include file="svg.tpl" svgId="icon_arrow_left"}</a>
	{else}
		<span class="pagination_control disabled hidden_xs">{include file="svg.tpl" svgId="icon_arrow_left"}</span>
	{/if}

	{* Ссылка на 1 страницу отображается всегда *}
	<a class="pagination_item pagination_first{if $current_page_num==1} active{/if}" href="{url page=null load_more=null}">1</a>
	
	{* Выводим страницы нашего "окна" *}	
	{section name=pages loop=$page_to start=$page_from}
		{* Номер текущей выводимой страницы *}	
		{$p = $smarty.section.pages.index+1}	
		{* Для крайних страниц "окна" выводим троеточие, если окно не возле границы навигации *}	
		{if ($p == $page_from+1 && $p!=2) || ($p == $page_to && $p != $total_pages_num-1)}	
			<a class="pagination_item{if $p==$current_page_num} active{/if}" href="{url page=$p load_more=null}">...</a>
		{else}
			<a class="pagination_item{if $p==$current_page_num} active{/if}" href="{url page=$p load_more=null}">{$p}</a>
		{/if}
	{/section}

	{* Ссылка на последнююю страницу отображается всегда *}
	<a class="pagination_item pagination_last{if $current_page_num==$total_pages_num} active{/if}"  href="{url page=$total_pages_num load_more=null}">{$total_pages_num}</a>
	
	{if $current_page_num<$total_pages_num}
		<a class="pagination_control hidden_xs" href="{url page=$current_page_num+1 load_more=null}" >{include file="svg.tpl" svgId="icon_arrow_right"}</a>
	{else}
		<span class="pagination_control disabled hidden_xs">{include file="svg.tpl" svgId="icon_arrow_right"}</span>
	{/if}
	
	{*<a class="pagination_all button hidden_xs" href="{url page=all}">Показать все</a>*}
	
</div>

{/if}

{/strip}