{$subject = "Регистрация на сайте `$settings->site_name`" scope=parent}
<html>
	<body>
		<p>{$user->name|escape} Вы успешно были зарегистрированы на сайте <a href='http://{$config->root_url}/'>{$settings->site_name}</a>.</p>
		<p>Ваш логин: <b>{$user->email}</b></p>
		<p>Ваш пароль: <b>{$password}</b></p>
	</body>
</html>