{if $session->count>0}
<a href="/compare"><i class="icon icon_compare"></i>В сравнении<br /> {$session->count} {$session->count|plural:'товар':'товаров':'товара'}</a>
{else}
<i class="icon icon_compare"></i>В сравнении<br /> нет товаров
{/if}